<div class="dashboard--writer--flex--main pt-0">
  <div class="flex--item"
    <% if @show_editor_onboarding %>
      data-step data-index="1" data-onboarding-content="Welcome to your editor account! Your profile has been updated with your editor stats."
    <% end %>
  >
    <%= render :partial => 'profile', locals: {user: @user}, cached: true %>
  </div>
  <p class="d-inline">You're <b><%= @pageviews_away_from_new_badge %></b> pageviews away from a new badge</p>
  <div class="badge_wrapper d-inline">
    <svg widht="22px" height="22px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="badge-check" class="svg-inline--fa fa-badge-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill=<%= @next_badge_to_earn[1] %> d="M512 256a88 88 0 0 0-57.1-82.4A88 88 0 0 0 338.4 57.1a88 88 0 0 0-164.8 0A88 88 0 0 0 57.1 173.6a88 88 0 0 0 0 164.8 88 88 0 0 0 116.5 116.5 88 88 0 0 0 164.8 0 88 88 0 0 0 116.5-116.5A88 88 0 0 0 512 256zm-144.8-44.25l-131 130a11 11 0 0 1-15.55-.06l-75.72-76.33a11 11 0 0 1 .06-15.56L171 224a11 11 0 0 1 15.56.06l42.15 42.49 97.2-96.42a11 11 0 0 1 15.55.06l25.82 26a11 11 0 0 1-.08 15.56z" opacity="0.4"></path><path class="fa-primary" fill=<%= @next_badge_to_earn[1] %> d="M367.2 211.75l-131 130a11 11 0 0 1-15.55-.06l-75.72-76.33a11 11 0 0 1 .06-15.56L171 224a11 11 0 0 1 15.56.06l42.15 42.49 97.2-96.42a11 11 0 0 1 15.55.06l25.82 26a11 11 0 0 1-.06 15.56z"></path></g></svg>
    <span class="editor_status"><%= @next_badge_to_earn[0] %> pageviews</span>
  </div>
  <div class="analytics progress mt-3 pl-0 mb-4">
    <div id="progress-bar" class="progress-bar progress-bar-badges pl-0" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="analytics card-group">
    <div class="card"
      <% if @show_onboarding_full %>
        data-step data-index="1" data-onboarding-content="Your full writer profile has been unlocked! Access all your claimed pitches here."
      <% end %>
    >
      <div class="card-body dashboard-card-1 dashboard-card">
        <a href="<%= pitches_path(user_id: @user.id) %>">
          <div class="stats_wrapper">
            <div class="value" id="value1"></div>
            <div class="text-wrapper">
              <span>Claimed</span>
              <span>Pitches</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="card"
      <% if @show_onboarding_full %>
        data-step data-index="2" data-onboarding-content="View your public writer page here. Your published articles are also viewable at this url when you are not signed in."
      <% end %>
    >
      <div class="card-body dashboard-card-2 dashboard-card">
        <a href="<%= user_path(mode: "public") %>">
          <div class="stats_wrapper">
            <div class="value" id="value2"></div>
            <div class="text-wrapper">
              <span>Published</span>
              <span>Articles</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="card"
      <% if @show_onboarding_full %>
        data-step data-index="3" data-onboarding-content="Keep track of your published articles' views here."
      <% end %>
    >
      <div class="card-body dashboard-card-3 dashboard-card">
        <a href="<%= analytics_path(user_id: @user.id) %>">
          <div class="stats_wrapper">
            <div class="value" id="value3"></div>
            <div class="text-wrapper">
              <span>Total</span>
              <span>Pageviews</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <% if @user.editor? %>
    <div class="btn_cntnr mt-1 pl-0 pr-0 pt-2 pb-2 mr-4 mb-4"
      <% if @show_editor_onboarding %>
        role="button" data-step data-index="2" data-onboarding-content="You are now able to start an article without first submitting a pitch. Ensure all your articles fit the topic requirements."
      <% end %>
    >
      <%= link_to "Start an Article", new_post_path, class: "newpost--new--profile mr-0" %>
    </div>
  <% else %>
    <div class="btn_cntnr mt-1 pl-0 pr-0 pt-2 pb-2 mr-4 mb-4"
      <% if @show_onboarding_full %>
        role="button" data-step data-index="6" data-onboarding-content="Claim another pitch or pitch your own article topic. Make sure it meets all the criteria in Pitching an Article before submitting."
      <% end %>
    >
      <span><%= link_to "Pitch an Article", new_pitch_path, class: "newpost--new--profile mr-0" %></span>
    </div>
  <% end %>
  <br>
  <div class="dashboard--articles--wrapper">
    <% if @user_pitches.present? %>
      <h6 class="header_ttl">Your Pitches</h6>
      <%= render "/users/partials/dashboard_pitches", pitches: @user_pitches, image: "waiting.png" %>
    <% end %>
    <% if @user_posts.rejected.present? %>
      <h6 class="header_ttl">Changes Requested</h6>
      <%= render "/users/partials/dashboard_articles", articles: @user_posts.rejected, image: "changes_requested.png" %>
    <% end %>
    <% if @user_posts.in_review.present? %>
      <h6 class="header_ttl">Articles In Review</h6>
      <%= render "/users/partials/dashboard_articles", articles: @user_posts.in_review, image: "in_review.png" %>
    <% end %>
    <% if @user_posts.submitted.present? %>
      <h6 class="header_ttl">Pending Review</h6>
      <%= render "/users/partials/dashboard_articles", articles: @user_posts.submitted, image: "waiting.png" %>
    <% end %>
    <h6 class="header_ttl">Articles In Progress</h6>
    <%= render "/users/partials/dashboard_articles", articles: @user_posts.draft, image: "saved.png" %>
  </div>
  <br>
</div>
