<div class="card review_frm">
  <div class="card-body">
    <% if !post.agree_to_image_policy %>
      <p>
        The writer has not agreed to the image policy. Please reject this article and write "You have not agreed to the image policy" as the reason.
      </p>
    <% else %>
      <p>Make sure you've answered <b>yes</b> to all of the following criteria before accepting this article.</p>
      <ol>
        <li>
          Does this article follow the <a target="_blank" href="/pages/image-policy"><b>Image Policy</b></a>.<br>
        </li>
        <li>
          Does this article follow the <a target="_blank" href="/pages/content-policy"><b>Content Policy</b></a>?<br>
        </li>
        <li>
          Does the writing reflect the tone and voice of The Teen Magazine? <a target="_blank" href="/pages/editor-expectations-around-ai-generated-content-on-the-teen-magazine"><b>Editor expectations around AI generated content</a></b>.<a data-toggle="tooltip" title="See article requirements" class="ml-1 position-absolute link_grn" target="_blank" href="/article-requirements#first-question"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="info-circle" class="mb-1 svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z" opacity="0.4"></path><path class="fa-primary" fill="currentColor" d="M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z"></path></g></svg></a><br>
        </li>
        <li>
          Is the title searchable and/or shareable?<a data-toggle="tooltip" title="See article requirements" class="ml-1 position-absolute link_grn" target="_blank" href="/article-requirements#second-question"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="info-circle" class="mb-1 svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z" opacity="0.4"></path><path class="fa-primary" fill="currentColor" d="M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z"></path></g></svg></a><br>
        </li>
        <li>
          Is the main point of the article clear in the introduction?<a data-toggle="tooltip" title="See article requirements" class="ml-1 position-absolute link_grn" target="_blank" href="/article-requirements#fourth-question"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="info-circle" class="mb-1 svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z" opacity="0.4"></path><path class="fa-primary" fill="currentColor" d="M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z"></path></g></svg></a><br>
        </li>
        <li>
          Did you feel like the content was interesting and novel?<a data-toggle="tooltip" title="See article requirements" class="ml-1 position-absolute link_grn" target="_blank" href="/article-requirements#fifth-question"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="info-circle" class="mb-1 svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z" opacity="0.4"></path><path class="fa-primary" fill="currentColor" d="M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z"></path></g></svg></a><br>
        </li>
        <li>
          Is the article free from grammar and spelling mistakes?<a data-toggle="tooltip" title="See article requirements" class="ml-1 position-absolute link_grn" target="_blank" href="/article-requirements#seventh-question"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="info-circle" class="mb-1 svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z" opacity="0.4"></path><path class="fa-primary" fill="currentColor" d="M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z"></path></g></svg></a><br>
        </li>
        <li>
          Is the article in-depth enough for this topic?<a data-toggle="tooltip" title="See article requirements" class="ml-1 position-absolute link_grn" target="_blank" href="/article-requirements#eighth-question"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="info-circle" class="mb-1 svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z" opacity="0.4"></path><path class="fa-primary" fill="currentColor" d="M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z"></path></g></svg></a><br>
        </li>
      </ol>
    <% end %>
    <div class="pb-1">
      <%= rv.select :status, options_for_select(@statuses, @post.most_recent_review.try(:status)), {}, {:onChange => "select_article_status();"} %>
    </div>
    <p class="rejected-reason hide mb-1 mt-1">*Select reason(s) for rejecting:</li>
    <div class="alert alert-info hide accepted-descr" role="alert">
      By selecting <b><%= @statuses.last %></b>, you're confirming that this article meets all of The Teen Magazine's <a target="_blank" style="text-decoration: underline;" href="/pages/image-policy">image policy</a> requirements and <a target="_blank" href="/pages/content-policy"><u>content policy</u></a> requirements. 
      If there is anything you're not sure of, it is your responsibility to ask in The Teen Magazine's #editor-chat channel on Discord.
    </div>
    <div class="re-request-review hide">
      <p>Please explain to the previous editor why you're re-requesting a review. These notes will only be shared with the previous reviewer.</p>
      <%= rv.text_area :notes, class: "small_text_area", placeholder: "Your notes for the previous editor..."  %>
    </div>
    <div class="small-text-wrapper">
      <% @feedbacks_editor_frm.each_with_index do |feedback, index| %>
        <p class="rejected-reason hide">
          <%= f.check_box :feedback_list, { :multiple => true, checked: !(@review.try(:feedback_givens).where(feedback_id: feedback.id).blank?), class: "rejected-reason hide mb-1 mt-0"}, feedback.id, nil %> <%= index + 1 %>. <%= feedback.editor_descr %>
        </li>
      <% end %>
    </div>
    <%= rv.hidden_field :editor_id, value: current_user.id %>
    <div class="btn_cntnr m-0 p-0 hide editor-review">
      <%= f.submit "Save & Submit All Changes", class: "newpost--new--profile m-0", id: "submit-comment-modal-button" %>
    </div>
  </div>
</div>
