<style lazyload>
  blockquote {
    margin: 1em 0;
    font-style: italic;
  }
  .twitter-tweet {
    margin: 0 auto;
    display: block;
  }
</style>
<div class="div">
  <% if !@most_recent_review.nil? && !(@most_recent_review.try(:status).eql? "In Progress") %>
    <%= render '/posts/banner_status' %>
  <% elsif @post.is_locked? %>
    <p class= "banner_stts">Locked</p>
  <% elsif !params[:shareable_token].nil? && (params[:shareable_token] == @post.shareable_token) %>
    <p class= "banner_stts">This draft has been shared with you. It has not been published yet.</p>
  <% elsif @post.pitch.present? %>
    <p class= "banner_stts">In Progress | Review this draft's pitch <%= link_to("here", @post.pitch, target: "_blank", class: "link_white") %></p>
  <% else %>
    <p class="banner_stts">In Progress</p>
  <% end %>
  <%= render 'posts/partials/header_image', post: @post, img_class: "post_image" %>
</div>
</div>
<div class="flex_wrapper_posts mb-4">
  <div class="wrapper_padding" id="post_show_content">
    <div class="flex_wrapper_columns">
      <div class="content_wrapper draft">
        <header id="post_title_show">
          <div class="title_wrapper">
            <% if @thumbanil_credits && @thumbanil_credits.length > 0 %>
              <div class="chip">
                PHOTO BY
                <% if @thumbanil_credits.length.eql? 2 %>
                  <%= link_to(@thumbanil_credits[0], link_helper(@thumbanil_credits[1]), target: '_blank') %>
                <% else %>
                  <%= @thumbanil_credits[0] %>
                <% end %>
              </div>
            <% end %>
            <% if @partner_name %>
              <div class="chip">
                SPONSORED BY
                <% if @partner.website %>
                  <%= link_to(@partner_name, link_helper(@partner.website), target: "_blank") %>
                <% else %>
                  <%= @partner_name.upcase %>
                <% end %>
              </div>
            <% elsif @post.show_disclosure %>
              <div class="chip">
                SPONSORED POST
              </div>
            <% end %>
            <h1 class="title_article_show"><%= @post.title %></h1>
          </div>
          <div class="d-flex flex-wrap align-items-center justify-content-between pb-2">
            <%= link_to @post.category do %>
              <h3 class="m-0 mr-1 text-nowrap" id="category_title">
                <%= @post.category.name %>
              </h3>
            <% end %>
            <div>
              <p class="text-nowrap m-0">
                <svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" class="mr-1 mb-1 svg-inline--fa fa-clock fa-w-16" role="img" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
                </svg>
                <%= date_to_words(@date) %>
              </p>
            </div>
          </div>
          <% @authors = [@post.user] + @collabs %>
          <div style="<% if @authors.length.eql? 1 %>height: 58px;<% else %>max-height: <%= 10 + @authors.length * 48 %>px<% end %>" class="post_info d-flex pt-2 flex-wrap overflow-hidden align-items-center justify-content-between">
            <div class="d-flex flex-wrap">
              <% @authors.each do |author| %>
                <div class="author pb-2 d-table-cell align-middle text-nowrap">
                  <% @profile = author.profile.attached? ? author.profile.variant(resize_to_fill: [100,100]) : "profile_image.jpg" %>
                  <%= image_tag(@profile, :class => "profile_img") %>
                  <p class="author_name mr-2">By <%= link_to(author.full_name, author) %></p>
                </div>
              <% end %>
            </div>
            <div class="pl-1 mb-2">
              <p class="date m-0">
                <% if (@post.post_impressions >= 1000) %>
                  <span>
                    <svg width="15px" height="15px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" class="svg-inline--fa fa-eye fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg> <%= format_large_number(@post.post_impressions) %>
                  </span>
                <% end %>
                <% if !@post.comments_turned_off %>
                  <%= link_to "#comments" do %>
                    <span class="ml-3" style="margin-top: -2px;" >
                      <svg width="15px" height="15px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" class="svg-inline--fa fa-eye fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" class="fa-secondary" d="M256 32C114.6 32 .0272 125.1 .0272 240c0 49.63 21.35 94.98 56.97 130.7c-12.5 50.37-54.27 95.27-54.77 95.77c-2.25 2.25-2.875 5.734-1.5 8.734C1.979 478.2 4.75 480 8 480c66.25 0 115.1-31.76 140.6-51.39C181.2 440.9 217.6 448 256 448c141.4 0 255.1-93.13 255.1-208S397.4 32 256 32z"/></svg> <%= @post.comments.all.count %>
                    </span>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </header>
        <div id="content">
          <div class="flex_wrapper_content">
            <div class="post_wrapper">
              <%= form_for @post, html: {:id => "ck-form", class: "mt-3"} do |f| %>
                <%= hidden_field_tag :quick_edit, false, id: "format-js-field" %>
                <div class="d-flex justify-content-between mb-1">
                <div class="mb-1 mt-0" style="margin-bottom: 0;">
                  This article has been reviewed <%= @reviews.count %> time(s).
                  View all past reviews <%= link_to("here", reviews_path(post: @post), target: "_blank", :class => "link_nrml underline") %>.
                </div>
                  <%= f.button id: "unsaved-changes", class: "hide" do %>
                    <span id="unsaved-changes-text">Save Edits</span>
                  <% end %>
                </div>
                <% if @review.notes.present? %>
                  <div class="alert alert-danger" role="alert">
                    You previously reviewed this article but the second editor did not think it was ready to be published. Please re-review this article and message in the Discord if you need help. 
                    <div class="mb-2"><b>Notes from <%= link_to(@requested_review_user&.full_name, @requested_review_user) %></b>: <%= @review.notes %></b></div>
                  </div>
                <% end %>
                <% if @post.editor_can_make_changes %>
                  <div id="selectable_content" class="mb-3">
                    <%= f.text_area :content, value: @post.content, id: "editor" %>
                  </div>
                <% else %>
                  <div class="alert alert-warning" role="alert">
                    The author has not allowed you to make changes to this article.
                  </div>
                  <div id="selectable_content" class="post_content">
                    <%= markdown @post.content %>
                  </div>
                <% end %>
                <%= f.fields_for :reviews, @review do |rv| %>
                  <%= render "posts/editor-review/editor_review_form", rv: rv, f: f, post: @post %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="comments" class="share_article_feedback share_article_feedback_wide">
        <%= render :partial => 'posts/partials/comments/comments_draft', locals: {user: current_user, post: @post, comments: @comments, comment: @comment} %>
      </div>
  </div>
</div>
</div>
<script type="text/javascript">
  window.onload = function () {
    <% if @post.show_disclosure %>
      $('.content_wrapper a')
        .not("a[href*=theteenmagazine]")
        .attr('rel','nofollow');
    <% end %>
    <% if @comment_from_notifications.present? %>
      <% if @comment_parent_from_notifications.present? %>
        window.location.hash = "#reply_<%= @comment_parent_from_notifications %>";
        $('#comment_<%= @comment_from_notifications %>').addClass("unread");
        reply('#reply_<%= @comment_parent_from_notifications %>');
      <% else %>
        window.location.hash = "#comment_<%= @comment_from_notifications %>";
        $('#comment_<%= @comment_from_notifications %>').addClass("unread");
      <% end %>
    <% end %>
  };
</script>
<script type="text/javascript">
  $('document').ready(function(){
    $("#ck-form").on("submit", function(event){
      unsaved = false;
      var reply = true;
      var selected = document.getElementById('post_reviews_attributes_0_status').value;
      var editor_comments = document.getElementsByClassName('editor-<%= @post.most_recent_review.editor_id %>');
      var checked = $("input[type=checkbox]:checked").length;
      if (selected == "Rejected") {
        if (checked == 0) {
          reply=confirm("You need to select at least one reason for rejecting this article.");
          return false;
        } else if (checked > 3) {
          reply=confirm("Please only select the top 3 reasons for rejection to not overwhelm the writer.");
          return false
        } else if (editor_comments.length < 1) {
          reply=confirm("Please leave at least one comment.");
          return false;
        }
      } else if (selected == "Approved for Publishing") {
        <% if !(@post.most_recent_review.status.eql? "Approved for Publishing") %>
          reply=confirm("This article will be published to the homepage. Are you sure you want to continue?");
        <% end %>
      } else if (selected == "Recommend for Publishing") {
        if (editor_comments.length < 1) {
          reply=confirm("Please leave at least one comment.");
          return false;
        }
        <% if !(@post.most_recent_review.status.eql? "Recommend for Publishing") %>
          reply=confirm("Another editor will check to make sure this article is ready to be published. Are you sure you want to continue?");
        <% end %>
      } else if (selected == "Request Re-Review") {
        <% if !(@post.most_recent_review.status.eql? "Request Re-Review") %>
          reply=confirm("This article will be sent to the editor who reviewed it last.");
        <% end %>
      } else if (selected == "In Review") {
        <% if !(@post.most_recent_review.status.eql? "In Review") %>
          reply=confirm("You are claiming this article review. You have two days to either approve or request changes to this article.");
        <% end %>
      } else if (selected == "Ready for Review") {
        <% if !(@post.most_recent_review.status.eql? "Ready for Review") %>
          <% if (@post.most_recent_review.status.eql? "In Review") %>
            reply=confirm("You are moving this article out of review.");
          <% else %>
            <%= @count = 5 - @post.reviews.where(status: "Rejected").count %>
            reply=confirm("You have <%= @count %> reviews remaining for this article. Are you sure you want to continue?");
          <% end %>
        <% end %>
      } else if (selected == "In Progress") {
        <% if (@post.most_recent_review.status.eql? "Ready for Review") %>
          reply=confirm("You are unsubmitting this article for review.");
        <% end %>
      }
      return reply;
    });
  });
  window.WEBSPELLCHECKER_CONFIG = {
    autoSearch: true,
    serviceId: "<%= ENV["WEBSPELLCHECKER_ID"] %>"
  };
</script>
<%= javascript_include_tag 'ckeditor' %>
<%= javascript_include_tag 'selectable_text' %>
<script>
  $(document).ready(function() {
    // Handle form submission
    $('#unsaved-changes').click(function(event) {
      event.preventDefault(); // Prevent default form submission behavior
      $('#format-js-field').val("true");
      // Submit the form
      $('#ck-form').submit();
    });
  });
</script>