<!doctype html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Editor Picks</title>
    <meta name="description" content="Editor picks template">
    <style type="text/css">
      .content_wrapper {
        max-width:670px;
        background:#fff;
        border-radius:3px;
        text-align:center;
        -webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);
        -moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);
        box-shadow:0 6px 18px 0 rgba(0,0,0,.06);
        margin-bottom: 15px;
      }
      .content_wrapper a {
        color: #000000;
      }
      .bottom_links a {
        font-family: 'Open Sans', sans-serif !important;
        text-decoration: underline !important;
      }
      .bottom_links a:hover {
        text-decoration: underline !important;
      }
      .padding {
        padding:0 35px;
      }
      .content img {
        max-width: 100%;
        height: auto !important;
      }
      .article {
        display: flex;
        flex-direction: row;
      }
      .article_image {
        display: block;
        width: 40%;
      }
      .article_image img {
        width: 100%;
      }
      .article_info {
        width: 60%;
      }
      .article_info h3 {
        font-size: 20px;
      }
      @media only screen and (max-width: 640px) {
        .padding {
          padding: 0 15px;
        }
        .content_wrapper {
          border-radius: 15px;
        }
      }
    </style>
  </head>
  <div marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #ecf8f7;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#ecf8f7"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
      <tr>
        <td>
          <table style="max-width:670px;  margin:0 auto;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td style="height:80px;">&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align:center;">
                <a href="https://www.theteenmagazine.com" title="logo" target="_blank">
                  <img width="300" src="https://mcusercontent.com/5c2a24e15a906f29e2c6a9b72/images/89bcbe0f-d6de-4a58-a3c5-e76c427282bf.png" title="logo" alt="logo">
                </a>
              </td>
            </tr>
            <tr>
              <td align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="height:40px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="padding">
                      <table class="content_wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                        <tbody>
                          <tr>
                            <td valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                <tbody>
                                  <tr>
                                    <td valign="top" style="padding: 12px;">
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                          <tr>
                                            <td valign="top">
                                              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                                                <tr>
                                                  <td style="height:20px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                  <td style="padding: 0 35px;" class="padding">
                                                    <% if @newsletter.header.present? %>
                                                      <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Charter', 'Rubik',sans-serif;">
                                                        <%= @newsletter.header %>
                                                      </h1>
                                                      <p style="color: #545454;font-style: italic;text-decoration: none; text-align: center; margin-bottom: 0px;font-family: 'Playfair Display';font-weight: 400;font-size: 1rem;white-space: nowrap;">
                                                        March 27th - April 5th
                                                      </p>
                                                    <% end %>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;line-height:150%;">
                                                            <font face="playfair display, georgia, times new roman, serif">
                                                              <p style="font-size:16px; color: #545454;">
                                                                <%= markdown @newsletter.message %>
                                                              </p>
                                                            </font>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <% Post.published.limit(5).each_with_index do |post, index| %>
                        <table class="content_wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                  <tbody>
                                    <tr>
                                      <td valign="top" style="padding: 12px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                          <tbody>
                                            <tr>
                                              <td valign="top">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">
                                                        <p dir="ltr" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;line-height:150%">
                                                          <font face="playfair display, georgia, times new roman, serif">
                                                            <span style="font-size:20px">
                                                              Editor Pick #<%= index + 1 %>
                                                            </span>
                                                          </font>
                                                        </p>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="264" style="border-collapse:collapse;display:inline-block;padding-bottom: 8px;">
                                          <tbody>
                                            <tr>
                                              <td align="center" valign="top">
                                                <a href="https://hercampus.us1.list-manage.com/track/click?u=b2c46422e6258e64213e440fe&amp;id=f826df9830&amp;e=a712c01b49" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://hercampus.us1.list-manage.com/track/click?u%3Db2c46422e6258e64213e440fe%26id%3Df826df9830%26e%3Da712c01b49&amp;source=gmail&amp;ust=1680801506679000&amp;usg=AOvVaw2ParY6UxC5fzVbTJDC8nnA">
                                                  <img alt="" src="<%= url_for(post.thumbnail.variant(resize_to_fill: [540, 340])) %>" width="264" style="max-width:719px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-3653343243659045546mcnImage CToWUd" data-bit="iit">
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table border="0" valign="top" cellpadding="0" cellspacing="0" width="264" style="border-collapse:collapse;display:inline-block; padding-left: 8px;">
                                          <tbody>
                                            <tr>
                                              <td valign="top" style="line-height:200%;word-break:break-word;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;text-align:left">
                                                <header>
                                                  <a href="http://localhost:3000/<%= post.slug %>" style="color:#000000;font-weight:normal;text-decoration:none" target="_blank">
                                                    <font face="playfair display, georgia, times new roman, serif">
                                                      <span style="font-size:24px"><%= post.title %></span>
                                                    </font>
                                                  </a>
                                                </header>
                                                <table>
                                                  <tr>
                                                    <td  valign="middle">
                                                      <% @profile = post.user.profile.attached? ? post.user.profile.variant(resize_to_fill: [100,100]) : "profile_image.jpg" %>
                                                      <%= image_tag(@profile, :style => "display: block; border-radius: 50%; margin-right: 5px; min-width: 30px !important;max-width: 30px !important;max-height: 30px !important;") %>
                                                    </td>
                                                    <td  valign="middle">
                                                      <p dir="ltr" style="text-align:center;margin:10px 0;padding:0;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;line-height:150%;font-size:16px; color: #545454;">
                                                        <font face="playfair display, georgia, times new roman, serif">
                                                          <%= post.user.full_name %>, <span style="white-space: nowrap;"><%= date_to_words(post.created_at) %></span>
                                                        </font>
                                                      </p>
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                          <tbody>
                                            <tr>
                                              <td valign="top">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_2887130824697772185mcnTextContentContainer">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top" class="m_2887130824697772185mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">
                                                        <p dir="ltr" style="text-align:center;margin:10px 0;padding:0;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;line-height:150%">
                                                          <font face="playfair display, georgia, times new roman, serif">
                                                            <p style="font-size:16px; color: #545454;">
                                                              "This is a quote by an editor. This article was so well done etc. etc." - Emily Johansson (Editor for The Teen Magazine)
                                                            </p>
                                                          </font>
                                                        </p>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td style="height:40px;">&nbsp;</td>
                  </tr>
                </table>
              </td>
              <tr>
                <td style="height:20px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="text-align:center;">
                  <p style="font-size:16px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong>www.theteenmagazine.com</strong></p>
                </td>
              </tr>
              <tr>
                <td style="height:4px;">&nbsp;</td>
              </tr>
              <tr class="bottom_links">
                <td align="center">
                  <span style="font-size:12px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                    Sent to <%= @newsletter.audience %>
                  </span>
                  <span style="font-size:12px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0; padding-left: 4px;">-</span>
                  <a style="font-size:12px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;" href="https://www.theteenmagazine.com/email-preferences?email=&id=">
                    Email Preferences
                  </a>
                </td>
              </tr>
              <tr>
                <td style="height:20px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!--/100% body table-->
    </div>
