<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p><%= @partner.full_name %> was just added as a partner on The Teen Magazine. Please share the login information below with them.</p>
    <p>Username: <%= @partner.email %></p>
    <p>Password: <%= @partner.password %></p>
    <p>Once <%= @partner.full_name %> logs in, they will be able to view and give feedback on any articles you share with them from their profile page. Please note that when the article is published, they will also be able to view your article's engagement and stats in real time. Please reach out to mia@theteenmagazine.com with any questions.</p>
    <p>The Teen Magazine</p>
  </body>
</html>
