<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <h1>Happy <%= @month %>!</h1>
    <img style="display: block; max-width: 100%; width: 400px; margin: 0 auto;" src="<%= @gifs[Date.today.month - 1] %>">
    <p>
      This is just an automated reminder that <%= @pitches_requirement %> pitches and <%= @reviews_requirement %> will be due at the end of the month. This month's assignments are also reflected on your editor dashboard.
    </p>
    <p>
      If you would no longer like to be an editor and receive these emails, please reply to this email and we can take you off the editor list. Have a great start to <%= @month %>!
    </p>
    <p>
      Best Regards,<br>
      Editor Team
    </p>
    <p>The Teen Magazine</p>
  </body>
</html>
