<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p><b>Congratulations!</b> We really connected with your application and think you are a great fit for our team of writers.</p>
    <p>As a writer for The Teen Magazine, you will receive feedback on submitted articles, build your journalism resume, and network with our amazing community
      of journalists. We are so excited to welcome you to our talented team of writers, and we can't wait
      to work with you to create your first article!</p>
    <p>Your next steps:</p>
    <ol>
      <li>Join the Facebook group found <%= link_to "here","https://www.facebook.com/groups/615063885673363/" %> and write a short post introducing yourself. Check this group often as this is the number one way to connect with other writers from The Teen Magazine.</li>
      <li>Log into your new account <%= link_to "here", "https://www.theteenmagazine.com/login" %>. Your username is <b style="color: blue;"><%= @user.email %></b> and your temporary password is <b style="color: blue;"><%= @user.password %></b>. 
        The onboarding process will walk you through setting up your profile and starting your first article.</li>
    </ol>
    <p>We look forward to reading your first submission and welcoming you to our writer community! If you have any questions, please reply to this email or reach out to me directly at mia@theteenmagazine.com at any time.</p>
    <p>Best Regards,<br>Mia Johansson</p><p>The Teen Magazine</p>
  </body>
</html>
