<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>Congratulations!</p>
    <p>We really connected with your cover letter and think you are a great fit with our team of international journalists.
      My name is Mia, and I work at The Teen Magazine with our writers.</p>
    <p>Being a writer for The Teen Magazine offers the experience and mentorship necessary to launch your journalism career.
      Our writers get the opportunity to interview celebrities, report on important world affairs, work with businesses, and have their
      articles read by thousands of readers. You will receive mentorship, build your journalism resume, and network with our amazing community
      of journalists. We are so excited to welcome you to our talented team of journalists, and we can't wait
      to work with you to create your first article!</p>
    <p>Your next steps:</p>
    <ol>
      <li>Join the Facebook group found <%= link_to "here","https://www.facebook.com/groups/615063885673363/" %></li>
      <li>Fill out the welcome survey found <%= link_to "here","https://forms.gle/srnzE22QWpWWES1J6" %></li>
      <li>Log into your new account! Your username is <bold style="color: blue;"><%= @user.email %></bold> and your password is <bold style="color: blue;"><%= @user.password %></bold>. 
        You can change your password at <%= link_to "https://www.theteenmagazine.com/users/edit", "https://www.theteenmagazine.com/users/edit" %> 
        and you can log into your account at <%= link_to "https://www.theteenmagazine.com/login", "https://www.theteenmagazine.com/login" %>.</li>
    </ol>
    <p>Once you've been accepted into the Facebook group, please write a short post introducing yourself. Please check back on this group often as this is the number one way to connect with other writers from The Teen Magazine.</p>
    <p>When you're ready to start your first article, go to your Dashboard and click on “New Post.” Before submitting
      an article for approval, please read the instructions on “Writing the perfect article” found on your dashboard.</p>
    <p>Please let me know if you have any questions! We look forward to reading your first submitted article!</p>
    <p>Best Regards,<br/>Mia Johansson</p>
  </body>
</html>
