<div id="banner_writing" class="editor G7"></div>
<div class="apply_wrapper">
  <h2>Apply to The Teen Magazine Editor Team</h2>
  <% if current_user.posts.published.count >= 4 %>
    <div class="alert alert-success" role="alert">
      <svg width="15px" height="15px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="mb-1 svg-inline--fa fa-check-circle fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>  You have <%= current_user.posts.published.count %> published articles on The Teen Magazine.
    </div>
  <% else %>
    <div class="alert alert-danger" role="alert">
      <svg width="15px" height="15px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation-triangle" class="mb-1 svg-inline--fa fa-exclamation-triangle fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path></svg>  You have <%= current_user.posts.published.count %> published on The Teen Magazine. We recommend having at least 4 published articles before applying to our editor team to have the best chance of being accepted.
    </div>
  <% end %>
  <p>
    Our editor team is in charge of pitching new article topics, publishing/giving feedback to articles, and responding to pitch submissions.
    Our editor team is active on Slack, and we support each other to ultimately help our writer team succeed at The Teen Magazine.
  </p>
<p>If you have already been published on The Teen Magazine and are confident in your ability to give helpful feedback, please fill out the application and we will get back to you within 3-4 business days. If you have not heard a response by then, please email editors@theteenmagazine.com.</p>
<p><b>You have applied to The Teen Magazine editor team <%= @applied_num_times %> time(s) before.</b></p>

<% if (@application.kind&.eql? "Editor") && (@application.created_at.present?) && !current_user.editor %>
  <div style="font-weight: bolder !important; font-style: italics !important;">
    <p>Your editor application was submitted on <%= @application.updated_at.in_time_zone.strftime("%D") %> and is being reviewed by an admin.</p>
    <p><%= @application.first_name %> <%= @application.last_name %></p>
    <p><%= @application.email %></p>
    <p><%= @application.grade %></p>
    <% if @application.resume.present? %>
      <span>Resume:</span>
      <iframe style="width: 100%; height: 600px;" src="<%= @application.resume %>"></iframe>
    <% end %>
    <% if @application.editor_feedback.present? %>
      <span>Editor Feedback:</span>
      <p>1. <%= link_to "Is Private School Or Public School Better for You?", "https://www.theteenmagazine.com/is-private-school-or-public-school-better-for-you", target: "_blank" %></p>
      <p>2. <%= link_to "Rejection Sensitivity: Causes and How to Cope, for Teenagers", "https://www.theteenmagazine.com/rejection-sensitivity-causes-and-how-to-cope-for-teenagers", target: "_blank" %></p>
      <p>3. <%= link_to "Fall Fashion Staples You Must Have in Your Wardrobe", "https://www.theteenmagazine.com/fall-fashion-staples-you-must-have-in-your-wardrobe", target: "_blank" %></p>
      <p style="margin: 10px 0 0 0;"><%= markdown @application.editor_feedback %></p>
    <% end %>
    <% if @application.editor_revision.present? %>
      <span>Editor Revision:</span>
      <p style="margin: 10px 0 0 0;"><%= markdown @application.editor_revision %></p>
    <% end %>
    <% if @application.editor_pitches.present? %>
      <span>Editor Pitches:</span>
      <p style="margin: 10px 0 0 0;"><%= markdown @application.editor_pitches %></p>
    <% end %>
  </div>
<% else %>
  <div id="submit-application-form">
    <%= form_for @application do |f| %>
      <% if @application.errors.any? %>
        <h6 class="pt-3 text-danger"><%= pluralize(@application.errors.count, "error") %> prevented this application from submitting:</h6>
        <ul class="mb-4">
          <% @application.errors.full_messages.each do |msg| %>
          <li class="text-danger"><h6><%= msg %></h6></li>
          <% end %>
        </ul>
      <% end %>
      <span>First Name</span>
      <%= f.text_field :first_name, placeholder: "First", value: current_user.first_name %>
      <span>Last Name</span>
      <%= f.text_field :last_name, placeholder: "Last", value: current_user.last_name %>
      <span>Email Address</span>
      <%= f.email_field :email, placeholder: "Email", value: current_user.email %>
      <span>Grade Level</span>
      <%= f.select :grade, options_for_select(["College", "12th grade", "11th grade", "10th grade", "9th grade"]), :prompt => "Select a grade", value: @application.grade %>
      <% if @application.resume.present? %>
      <div class="mb-4 mt-4 d-block">
        <span>Resume:</span>
        <iframe style="width: 100%; height: 600px;" src="<%= @application.resume %>"></iframe>
        <div class="d-block">
          <span>Upload an updated resume (optional):</span>
          <%= f.file_field :resume, id: "pdf-file-resume" %>
        </div>
      </div>
      <% else %>
      <div class="mb-4 mt-4 d-block">
        <span>Upload an updated resume (optional):</span>
        <%= f.file_field :resume, id: "pdf-file-resume" %>
      </div>
      <% end %>
      <p>Give one piece of feedback for each of the published articles below. What, if anything, is the writer missing from <a target="_blank" href="/writing-the-perfect-article#article-requirements">these questions</a>?</p>
      <p>1. <%= link_to "Is Private School Or Public School Better for You?", "https://www.theteenmagazine.com/is-private-school-or-public-school-better-for-you", target: "_blank" %></p>
      <p>2. <%= link_to "Rejection Sensitivity: Causes and How to Cope, for Teenagers", "https://www.theteenmagazine.com/rejection-sensitivity-causes-and-how-to-cope-for-teenagers", target: "_blank" %></p>
      <p>3. <%= link_to "Fall Fashion Staples You Must Have in Your Wardrobe", "https://www.theteenmagazine.com/fall-fashion-staples-you-must-have-in-your-wardrobe", target: "_blank" %></p>
      <%= f.text_area :editor_feedback, placeholder: "Write your feedback here...", class: "required" %>

      <p>Choose one or two paragraphs from one of the articles above to edit. Revise the paragraph(s) to the best of your ability. Do not worry about making too many changes; the purpose of this exercise is to see what you notice can be improved in other's writing. Paste the unedited paragraph(s) above your revision.</p>
      <%= f.text_area :editor_revision, placeholder: "Write your revision here...", class: "required" %>

      <p class="mt-3">Finally, pitch three new topics that would fit The Teen Magazine's audience as described <a target="_blank" href="/choosing-a-topic">here</a>. Include the title and description you would use.</p>
      <i>Example:</i><br>
      <i>Pitch 1 Title: The Stages of All High School Relationships from an Outsider</i><br>
      <i>Pitch 1 Description: Are you always the friend that gives advice but are never in the relationship? Share your perspective from the outside-in. What do you notice in all your friends' relationships in high school? Do they have a similar pattern? How long do they last and what are those stages? Have fun with it!</i>
      <%= f.text_area :editor_pitches, placeholder: "Write your pitches here...", class: "mt-4 required" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :kind, value: "Editor" %>
      <% @disabled = current_user.editor ? "disabled" : "" %>
      <div class="btn_cntnr mb-0 pt-2" style="float: none; position: relative;">
        <div class="hide spinner-button spinner-border" style="margin-left: 40%" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <span data-toggle="tooltip" title="<% if current_user.editor %>You are already an editor<% end %>">
          <%= f.button "Submit Application", class: "newpost--new--profile mb-0 mr-0 pl-4 pr-4 submit_modal #{@disabled}", id: "submit-application" %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
  <i style="opacity: 50%;" class="d-block">
    Keep in mind that we will also be reviewing your published articles. To have the best chance of being accepted, ensure all your articles are done to the best of your ability. If you have any questions, please reach out to our editors at editors@theteenmagazine.com.
  </i>
</div>

<script type="text/javascript">
  $('#pdf-file-resume').bind('change', function() {
    var size = this.files[0].size/1024/1024;
    if (size > 1) {
      alert('The maximum file size is 1 MiB. This file size is: ' + size + " MiB.");
      $('#pdf-file-resume').val("");
    }
  });

  $("#submit-application-form").on("submit", function(event) {
    unsaved = false;
  });

  $("#submit-application").click(function() {
    $("#submit-application").addClass("disabled");
    $(".spinner-button").removeClass("hide");
    return true;
  });

  $(":input").change(function(){ //triggers change in all input fields including text type
    unsaved = true;
  });

  function unloadPage(){
    if(unsaved){
      return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
    }
  }
  window.onbeforeunload = unloadPage;
</script>
