<div class="skinny_wrapper">
  <h1 id="page_title_padded">Writer/Editor Applications</h1>
  <% @applies.each do | application | %>
    <% @user = User.find_by(email: application.email.downcase) %>
        <div class="card mb-3 <% if @unseen_applications.include? application %> unread <% end %>">
          <div class="card-body">
            <h5 class="card-title"><%= link_to ("#{application.first_name} #{application.last_name}"), application, :style => "color: #4ABEB6;" %> (<%= application.kind || "Writer" %> Application)</h5>
            <p class="card-text"><small class="text-muted">Submitted <%= application.created_at.in_time_zone.strftime("%D") %></small></p>
            <p class="card-text"><%= application.description %></p>
          </div>
        </div>
  <% end %>
  <%== pagy_nav(@pagy).html_safe %>
  <br>
</div>
