<script>
pintrk('track', 'pagevisit');
</script>

<!-- let someone create an application; sends to editor -->
<div id="apply_image">
</div>
<div class="apply_wrapper">
  <h2>Join the TTM Writer Fam!</h2>
  <p>We are a close-knit group of young college and high school writers who work closely with one another to improve journalism skills,
    gain writing experience, and receive quality feedback from top-tier student journalists. We hope you join our team!</p>
<h2>What will you gain from being a writer for The Teen Magazine?</h2>
<p>As a writer for The Teen Magazine, you will get the opportunity to:  </p>
<ul>
  <li>Pitch article topics and get published in an international online magazine</li>
  <li>Have your own public author page that you can share with potential employers</li>
  <li>Gain applicable experience and training in the editorial industry</li>
  <li>Give and receive feedback from your peers.</li>
  <li>Interview successful people and work with brands</li>
  <li>Learn from and network with our talented writer community</li>
  <li>Apply for other positions and internships within The Teen Magazine</li>
</ul>
<h4>What our writers say about The Teen Magazine</h4>
<p><i>“The Teen Magazine is one of the most open platforms I've come across for aspiring writers and those who'd like to get an experience of what it's like to work in the journalism world. When I joined, I faced such a warm welcome from everyone and got the help I needed when I published my first article. I went from having to get help with my word choice and attaching images to being able to create an article and have it directly approved for publishing.”</i></p>
<p><i>“I was limited to creating articles for my school's publication that sadly didn't get the success and recognition it actually deserved, pitching articles to websites without getting any response, and blogging regularly with no traffic. I really needed a place that can help publicize my work to a larger audience and help me improve and give me the constructive criticism I needed to achieve said improvement, and The Teen Magazine has provided all of that for me.”</i></p>
<p><i>"When I became a writer for The Teen Magazine, I was just hoping for a simple activity. However, over the course of my experience here, it has become way more than that. To be able to have a role in the Entertainment industry and write articles that appear first on Google is amazing. I've gotten to meet and collaborate with young women all over the world and learn about their experiences and opinions. I would never change my experience at The Teen Magazine."</i></p>

  <p>We hope you apply to our team, and we can’t wait to read your submission!</p>
  <h2>Apply to the TTM Writer Team</h2>

  <%= form_for @application do |f| %>
    <span>First Name</span>
    <%= f.text_field :first_name, required: true %>
    <br />
    <span>Last Name</span>
    <%= f.text_field :last_name, required: true %>
    <br />
    <span>Email</span>
    <%= f.email_field :email, required: true %>
    <p style="margin-top: 0px;">Please write one to two paragraphs introducing yourself and describing why you would be a good fit for The Teen Magazine writer team. Please include links to any previously published work/blog(s) if applicable.</p>
    <%= f.text_area :description, required: true %>
    <br />
    <div class="hidden">
      <%= f.label :nickname %> <br />
      <%= f.text_field :nickname %>
    </div>
    <%= f.submit 'Submit Application' %>
  <% end %>
  <i style="opacity: 50%;">
    Applications are accepted on a rolling basis. If accepted, you will receive an email from our team of editors within 48 hours. Please note that writers and editors are not paid and instead write for us
    to gain applicable experience and mentorship in the editorial industry.
  </i>
  <br>
  <br>
</div>
