<h1 id="page_title">Apply to Become a Writer for the Teen Magazine!</h1>
<div class="form_wrapper wrapper_padding">
  <%= form_for @apply do |f| %>
    <%= f.label :first %> <br />
    <%= f.text_field :first, required: true %>
    <br />
    <%= f.label :last %> <br />
    <%= f.text_field :last, required: true %>
    <br />
    <%= f.label :email %> <br />
    <%= f.email_field :email, required: true %>
    <br />

    <%= f.label "Primary Category" %><br /><br />
    <%= f.select :category, ['Academics', 'Get Involved', 'Health & Fitness', 'News', 'Lifestyle', 'Beauty', 'Fashion', 'Entertainment', 'Tips & Hacks', 'DIY']%><br />

    <br />
    <br />
    <%= f.label "Tell us about yourself! (One or two sentences)" %><br />
    <%= f.text_area :description, required: true %>

    <br />

    <div class="hidden">
      <%= f.label :nickname %> <br />
      <%= f.text_field :nickname %>
    </div>

    <%= f.submit 'Apply!', class: 'button' %>
  <% end %>
  <br>
  <br>
</div>
