<h1 id="page_title">Become a Journalist for the Teen Magazine</h1>
<div class="form_wrapper wrapper_padding">
  <%= form_for @application do |f| %>
    <span>Being a journalist for The Teen Magazine
      offers the experience and mentorship necessary to launch your journalism career.
      Applications are accepted on a rolling basis. If accepted, you will recieve an email from our team of editors within 48 hours.
    </span><br /><br />
    <span>First Name</span>
    <%= f.text_field :first_name, required: true %>
    <br />
    <span>Last Name</span>
    <%= f.text_field :last_name, required: true %>
    <br />
    <span>Email</span>
    <%= f.email_field :email, required: true %>
    <br />
    <span>Primary Category</span><br /><br />
    <%= f.select :category, ['Academics', 'Beauty', 'DIY', 'Entertainment', 'Fashion', 'Get Involved', 'Health & Fitness', 'Lifestyle', 'News', 'Tips & Hacks']%><br />
    <br />
    <br />
    <span>Please write a short cover letter introducing yourself and describing why you would be a good fit for The Teen Magazine journalist position.
    </span>
    <%= f.text_area :description, required: true %>
    <br />
    <div class="hidden">
      <%= f.label :nickname %> <br />
      <%= f.text_field :nickname %>
    </div>
    <%= f.submit 'Submit Application' %>
  <% end %>
  <br>
  <br>
</div>
