<script>
pintrk('track', 'pagevisit');
</script>

<!-- let someone create an application; sends to editor -->
<div id="apply_image">
</div>
<div class="apply_wrapper">
  <h2>Join the TTM Writer Fam!</h2>
  <p>We are a close-knit group of young college and high school writers who work closely with one another to improve journalism skills,
    gain writing experience, and receive quality feedback from top-tier student journalists. We hope you join our team!</p>
<h2>What will you gain from being a writer for The Teen Magazine?</h2>
<p>As a writer for The Teen Magazine, you will get the opportunity to:  </p>
<ul>
  <li>Pitch article topics and get published in an international online magazine</li>
  <li>Have your own public author page that you can share with potential employers</li>
  <li>Gain applicable experience and training in the editorial industry</li>
  <li>Give and receive feedback from your peers.</li>
  <li>Interview successful people and work with brands</li>
  <li>Learn from and network with our talented writer community</li>
  <li>Apply for other positions and internships within The Teen Magazine</li>
</ul>
  <p>We can’t wait to read your submission and welcome you to the team!</p>
  <%= form_for @application do |f| %>
    <span>First Name</span>
    <%= f.text_field :first_name, required: true %>
    <br />
    <span>Last Name</span>
    <%= f.text_field :last_name, required: true %>
    <br />
    <span>Email</span>
    <%= f.email_field :email, required: true %>
    <br />
    <span>Primary Category</span><br /><br />
    <%= f.select :category, ['Academics', 'Beauty', 'DIY', 'Entertainment', 'Fashion', 'Get Involved', 'Health & Fitness', 'Lifestyle', 'News', 'Tips & Hacks']%><br />
    <br />
    <br />
    <p>Please write a one-page cover letter introducing yourself and describing why you would be a good fit for The Teen Magazine. Please include links to any previously published work/blog(s) if applicable.
    </p>
    <%= f.text_area :description, required: true %>
    <br />
    <div class="hidden">
      <%= f.label :nickname %> <br />
      <%= f.text_field :nickname %>
    </div>
    <%= f.submit 'Submit Application' %>
  <% end %>
  <i style="opacity: 50%;">
    Applications are accepted on a rolling basis. If accepted, you will receive an email from our team of editors within 48 hours. Please note that writers and editors are not paid and instead write for us
    to gain applicable experience and mentorship in the editorial industry.
  </i>
  <br>
  <br>
</div>
