<h1 id="page_title">Become a Journalist for the Teen Magazine</h1>
<div class="form_wrapper wrapper_padding">
  <%= form_for @application do |f| %>
    <span>Thank you for your interest in The Teen Magazine!</span><br /><br />
    <span>Being a journalist for The Teen Magazine
      offers the experience and mentorship necessary to launch your journalism career. In the past, our writers have interviewed
      celebrities, reported on important world affairs, partnered with businesses, and have had their articles read
      by thousands of readers. Please fill out this application thoroughly as applications are competitive.
      We look forward to welcoming you to The Teen Magazine!
    </span><br /><br />
    <span>First Name</span>
    <%= f.text_field :first_name, required: true %>
    <br />
    <span>Last Name</span>
    <%= f.text_field :last_name, required: true %>
    <br />
    <span>Email</span>
    <%= f.email_field :email, required: true %>
    <br />
    <span>Primary Category</span><br /><br />
    <%= f.select :category, ['Academics', 'Beauty', 'DIY', 'Entertainment', 'Fashion', 'Get Involved', 'Health & Fitness', 'Lifestyle', 'News', 'Tips & Hacks']%><br />
    <br />
    <br />
    <span>Please write a cover letter describing why you would be a good fit for The Teen Magazine's team of journalists.
      Include why you would like to become a writer for The Teen Magazine as well as the kind of articles you enjoy writing.
    </span>
    <%= f.text_area :description, required: true %>
    <br />
    <div class="hidden">
      <%= f.label :nickname %> <br />
      <%= f.text_field :nickname %>
    </div>

    <span>Applications are accepted on a rolling basis. If accepted, you will recieve an email from our team of editors within 48 hours.</span>
    <br /><br />
    <%= f.submit 'Submit Application', class: 'button' %>
  <% end %>
  <br>
  <br>
</div>
