<!-- show application to editor -->

<h1 id="page_title"><%= @application.kind || "Writer" %> Application <%= @application.id %></h1>
<br>
<div class="form_wrapper wrapper_padding">
  <% if @invitation.present? %>
    <div class="alert alert-info" role="alert">
      This application was sent through an invitation by <%= link_to @invitation.user.try(:full_name), "/writers/#{@invitation.user.slug}/invitations", target: "_blank" %> .
    </div>
  <% end %>
  <%= form_for @user do |f| %>
    <span>First Name</span>
    <%= f.text_field :first_name, required: true, value: @application.first_name %>
    <br />
    <span>Last Name</span>
    <%= f.text_field :last_name, required: true, value: @application.last_name %>
    <br />
    <span>Email</span>
    <%= f.email_field :email, required: true, value: @application.email %>
    <br />
    <span>Grade level:</span>
    <b><%= @application.grade %></b>
    <br>
    <% if @application.description.present? %>
      <span class="d-block mt-4">Cover Letter:</span>
      <p style="margin: 10px 0 0 0;"><%= markdown @application.description %></p>
    <% end %>
    <% if @application.resume.present? %>
      <br />
      <span>Resume:</span>
      <iframe style="width: 100%; height: 600px;" src="<%= @application.resume %>"></iframe>
    <% end %>
    <% if @application.sample_writing.present? %>
      <span>Sample Writing:</span>
      <iframe style="width: 100%; height: 600px;" src="<%= @application.sample_writing %>"></iframe>
      <br>
    <% end %>
    <% if @application.editor_feedback.present? %>
      <span>Editor Feedback:</span>
      <p>1. <%= link_to "Is Private School Or Public School Better for You?", "https://www.theteenmagazine.com/is-private-school-or-public-school-better-for-you", target: "_blank" %></p>
      <p>2. <%= link_to "Rejection Sensitivity: Causes and How to Cope, for Teenagers", "https://www.theteenmagazine.com/rejection-sensitivity-causes-and-how-to-cope-for-teenagers", target: "_blank" %></p>
      <p>3. <%= link_to "Fall Fashion Staples You Must Have in Your Wardrobe", "https://www.theteenmagazine.com/fall-fashion-staples-you-must-have-in-your-wardrobe", target: "_blank" %></p>
      <p style="margin: 10px 0 0 0;"><%= markdown @application.editor_feedback %></p>
    <% end %>
    <% if @application.editor_revision.present? %>
      <span>Editor Revision:</span>
      <p style="margin: 10px 0 0 0;"><%= markdown @application.editor_revision %></p>
    <% end %>
    <% if @application.editor_pitches.present? %>
      <span>Editor Pitches:</span>
      <p style="margin: 10px 0 0 0;"><%= markdown @application.editor_pitches %></p>
    <% end %>
    <% if @user.id.present? %>
      <p>
        <%= @user.full_name %> has published <%= link_to "#{@user.posts.published.count} articles", @user, target: "_blank" %>.
      </p>
    <% end %>
    <% if @user.id.nil? %>
      <span>Make Editor:</span>
      <%= f.check_box :editor %>
      <%= f.hidden_field :password, value: [*("A".."Z"), *("0".."9")].shuffle[0, 8].join %>
      <br><br />
    <% end %>
    <%= f.hidden_field :apply_id, value: @application.id %>
    <%= link_to "Delete", apply_path(@application), style: "float: right;", class: "mt-4", method: :delete, data: { confirm: "Are you sure you want to delete this application?" } %>
    <%= f.submit "Accept", class: "mt-2", name: "decision", value: "Accept" %>
    <%= f.submit "Reject", class: "mt-2", name: "decision", value: "Reject" %>
  <% end %>
  <br>
</div>
