<!-- show application to editor -->

<h1 id="page_title">Writer Application <%= @application.id %></h1>
<br>
<div class="form_wrapper wrapper_padding">
  <%= form_for @user do |f| %>
    <span>First Name</span>
    <%= f.text_field :first_name, required: true, value: @application.first_name %>
    <br />
    <span>Last Name</span>
    <%= f.text_field :last_name, required: true, value: @application.last_name %>
    <br />
    <span>Email</span>
    <%= f.email_field :email, required: true, value: @application.email %>
    <br />
    <span>Grade level:</span>
    <b><%= @application.grade %></b>
    <br>
    <span class="d-block mt-4">Cover Letter:</span>
      <p style="margin: 10px 0 0 0;"><%= @application.description %></p>
    <br />
    <% if @application.resume.present? %>
      <span>Resume:</span>
      <iframe style="width: 100%; height: 600px;" src="<%= @application.resume %>"></iframe>
    <% end %>
    <% if @application.sample_writing.present? %>
      <span>Sample Writing:</span>
      <iframe style="width: 100%; height: 600px;" src="<%= @application.sample_writing %>"></iframe>
      <br>
    <% end %>
    <span>Make Editor:</span>
    <%= f.check_box :editor %>
    <br><br />
    <%= f.hidden_field :monthly_views, value: 0 %>
    <%= f.hidden_field :password, value: [*('A'..'Z'),*('0'..'9')].shuffle[0,8].join %>
    <%= f.submit 'Accept Application', class: "mt-2" %>
  <% end %>
  <br>
  <br>
</div>
