<!-- let someone create an application; sends to editor -->
<div id="apply_image">
</div>
<div class="apply_wrapper">
  <%= form_for @outreach do |f| %>
    <span>Brand Name</span>
    <%= f.text_field :partner_name, placeholder: "Honest Beauty", required: true %>
    <br />
    <span>How did you find this brand?</span>
    <%= f.text_field :partner_medium_found, placeholder: "Instagram account, @honest_beauty", required: true %>
    <br />
    <span>Email to reach out to</span>
    <%= f.email_field :partner_email, placeholder: "jessica@honestbeauty.com", required: true %>
    <span>First name of person with email (if applicable)</span>
    <%= f.text_field :partner_email_name, placeholder: "Jessica", required: true %>
    <span>What products/service does this brand sell?</span>
    <%= f.text_field :partner_products %>
    <span>Why would our Gen-Z readers love to learn about this brand's products?</span>
    <%= f.text_field :partner_value_add %>
    <%= f.submit 'Generate Email Draft' %>
  <% end %>
  <br>
</div>
