<h1 id="page_title">Apply to Become a Writer for the Teen Magazine!</h1>
<div class="form_wrapper wrapper_padding">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <span>First Name</span>
    <%= f.text_field :first_name, required: true %>
    <br />
    <span>Last Name</span>
    <%= f.text_field :last_name, required: true %>
    <br />
    <span>Email</span>
    <%= f.email_field :email, required: true %>
    <br />
    <span>Cover Letter:</span>
    <%= f.text_area :description, required: true, value: "hi" %>
    <br />

    <%= f.hidden_field :password, value: [*('A'..'Z'),*('0'..'9')].shuffle[0,8].join %>

    <span>Applications are competitive and are accepted on a rolling basis. If accepted, you will recieve an email from our team of editors within three business days.</span>
    <br /><br />
    <%= f.submit 'Send Application' %>
  <% end %>
  <br>
  <br>
</div>
