<div class="comment_form_wrapper">
  <% if current_user.present? %>
    <% @profile_img = current_user.profile.attached? ? image_tag(current_user.profile.variant(resize_to_fill: [100,100]), :class => "profile_img_small") : image_tag("profile_image.jpg", :class => "profile_img_small") %>
    <%= link_to(@profile_img, current_user, :class => "profile_img_small", :style => "position: absolute; margin-top: 10px") %>
  <% else %>
    <%= image_tag("profile_image.jpg", :class => "profile_img_small", :style => "position: absolute; margin-top: 10px") %>
  <% end %>
  <% @placeholder = (post.comments.where(comment_id: nil, public: post.is_published?).count.eql? 0) ? "Start the conversation" : "Share your thoughts on this article" %>
  <%= form_for(comment, remote: true, id: "submit-comment") do |f| %>
    <% if !current_user.present? %>
      <%= f.text_field :full_name, :value => session[:full_name], :placeholder => "Full name", class: 'mt-0', style: 'margin-bottom: 10px' %>
      <%= f.text_field :email, :value => session[:email], :placeholder => "Personal email", class: 'mt-0', style: 'margin-bottom: 10px' %>
      <%= f.hidden_field :cookie, :value => (session[:cookie] || SecureRandom.urlsafe_base64) %>
    <% end %>
    <%= f.hidden_field :public, :value => post.is_published? %>
    <%= f.text_area :text, :placeholder => @placeholder, id: "comment_field", class: "comment_val_0 comment_field_0", onkeyup: "isDisabled('0')" %>
    <%= f.hidden_field :post_id, :post_id => post.id %>
    <br>
    <% if !current_user.present? %>
      <span>Be notified of more articles like this (unsubscribe anytime) <%= f.check_box :subscribed, :checked => (session[:subscribed] || true) %></span>
    <% end %>
    <input alt="Submit" src="https://s3.amazonaws.com/media.theteenmagazine.com/post_comment.png" type="image" class="submit_comment disabled submit_0" />
  <% end %>
</div>
