<li class="list-group-item comment" id="comment_<%=comment.id %>">
  <div class="li-content list-item" style="width: 100%;">
    <% @profile_img = comment.user.present? && comment.user.profile.attached? ? image_tag(comment.user.profile.variant(resize_to_fill: [50, 50]), :class => "profile_img_small") : image_tag("profile_image.jpg", :class => "profile_img_small") %>
    <%= link_to(@profile_img, comment.user) %>
    <span>
      <% if comment.is_public? %>
        <span class="badge badge-pill badge-success">Public</span>
      <% end %>
      <% if comment.user_id.present? %>
        <%= link_to comment.user.try(:full_name), comment.user, class: "link_nrml" %>
      <% else %>
        <%= comment.full_name %>
      <% end %>
      replied to your comment on <%= link_to(comment.post.title, comment.post, class: "link_nrml") %> <%= time_ago_in_words(comment.created_at) %> ago:
      <span class="date_ago"><%= comment.text.truncate_words(12) %></span></span>
  </div>
  <div class="li-link-wrapper">
    <%= link_to("", "/#{comment.post.slug}?comment_id=#{comment.id}#comments") %>
  </div>
</li>
