<div class="post_apply">
  <div class="articles">
    <div class="flex_other_articles">
      <div class="contain_articles">
        <h3 style="margin-bottom: 18px;">Recent in <%= link_to(@post.category.name, @post.category, :class => "category_title_trending") %></h3>
        <%= render_async get_recent_posts_in_category_path(id: @post.id) do %>
          <div style="height: 366px; width: 100%; display: block; margin-bottom: 15px;"></div>
        <% end %>
        <% if @post.is_interview? %>
          <p>Want to get featured on The Teen Magazine? Pitch your story <%= link_to 'here', '/pitch-interview', class: "link_grn" %>.</p>
        <% end %>
        <div id="subscribe-widget" style="margin-top: 20px;">
          <h3>Let us slide into your dms 🥰</h3>
          <span class="sub-text">Get notified of top trending articles every week (we won't spam you!)</span>
          <small id="result-text"></small>
          <%= form_for(:posts, url:"/posts/#{post.id}/subscribe", remote: true, :html => {:id => "subscribe-form"}) do |f| %>
            <%= f.text_field :email, placeholder: "Your Email", required: true, id: "email", onkeyup: "isFormButtonDisabled('#email')"%>
            <div class="btn_cntnr">
              <%= f.button(class: "mr-0 newpost--new--profile submit_modal", id: "submit-comment-modal-button") do %>
                <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M443.3 267.3c6.2-6.2 6.2-16.4 0-22.6l-176-176c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6L393.4 240 16 240c-8.8 0-16 7.2-16 16s7.2 16 16 16l377.4 0L244.7 420.7c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l176-176z"/></svg>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- 
              <%= link_to (image_tag "open_applications_ttm.png", class: "image_max_100_prcnt", style: "padding-bottom: 10px;"), new_apply_path, target: "_blank" %> 
              -->
      </div>
    </div>
  </div>
</div>
