<%= form_for @pitch do |f| %>
  <% if @pitch.errors.any? %>
    <h2><%= pluralize(@pitch.errors.count, "error")%> prevented this post from saving:</h2>
    <ul>
      <% @pitch.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="pitch_flds">
    <% if current_user.editor? && @pitch.title.nil? %>
      <p>You are signed in with an Editor account. This pitch will show up in <a target="_blank" href="/pitches">Unclaimed Pitches</a> for any writer to claim.</p>
    <% end %>

    <p>Write a <a target="_blank" href="/choosing-a-topic#title-requirements">Shareable and/or Searchable</a> title here:</p>
    <%= f.text_field :title, placeholder: "Title" %>

    <p>Explain your idea and why the article topic fits <a target="_blank" href="/choosing-a-topic#topic-requirements">The Teen Magazine's audience</a>:</p>
    <%= f.text_area :description, placeholder: "Your idea..." %>

    <div class="margin_flds">
      <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "Select a Category"}) %>
    </div>

    <% if @pitch.try(:thumbnail).present? %>
      <%= image_tag(@pitch.thumbnail, class: "thumbnail_img") %>
    <% end %>

    <div class="margin_flds">
      <p>Upload a <a target="_blank" href="/choosing-a-topic#thumbnail-requirements">royalty free and eye catching</a> thumbnail image</p>
      <%= f.file_field :thumbnail %>
    </div>

    <% if current_user.editor? && @pitch.title.nil? %>
      <%= f.check_box :assign_if_not_claimed, style: "display: inline;" %>
      <span>Automatically assign this pitch to a writer if it's not claimed in two weeks.</span><br>
      <p class="mb-0">Note: If this pitch does not fit The Teen Magazine's audience as described in <a target="_blank" href="/pitching-new-articles">Pitching New Articles</a>, an admin reserves the right to delete the pitch from Editor Pitches within 48 hours of it being created. Deleted pitches will not be counted toward your 10 required pitches every month.</p>
    <% end %>

    <% if @pitch.slug.nil? && !@pitch.user.try(:editor) %>
      <%= f.hidden_field :status, value: "Ready for Review" %>
      <% @button_text = "Submit Pitch" %>
    <% elsif @pitch.slug.nil? %>
      <% @button_text = "Share Pitch" %>
    <% else %>
      <% @button_text = "Save Changes" %>
    <% end %>
    <div class="btn_cntnr pb-0 mt-4 pt-2" style="float: none !important;"><%= f.submit @button_text, class: "newpost--new--profile mr-0" %></div>
  </div>
<% end %>
