<% @post = pitch.posts.find_by(user_id: pitch.claimed_id) %>
<div class="card" style="width: 32%; <% if @unseen_pitches.to_a.include? pitch %>background-color: #E6F6FF;<% end %>">
  <a href="<%= pitch_path(pitch)%>">
    <%= render "posts/partials/header_image", post: pitch, img_class: "card-img-top" %>
  </a>
  <% if (current_user.id.eql? pitch.editor_id) || current_user.is_manager? %>
    <%= link_to("Edit", edit_pitch_path(pitch.id), :class => "edit_btn pitch_btn")%>
  <% end %>
  <div class="card-body">
    <% if @post.present? %>
      <% if pitch.claimed_id.present? && @post.deadline_at.present? && (@post.try(:reviews).try(:last).try(:status)&.eql? "In Progress") %>
        <%= render "pitches/deadline_warning_msg", post: @post %>
      <% end %>
    <% end %>
    <h4 class="pitch_ttl"><%= link_to pitch.title, pitch, style: "color: black; text-decoration: none;" %></h4>
    <% if pitch.priority.eql? "High" %>
      <span class="badge badge-pill badge-danger">
        High Priority
      </span>
    <% end %>
    <span class="card-text"> <%= pitch.category.name %>,</span>
    <span class="card-text"> Pitched on <%= pitch.created_at.strftime("%m-%d-%Y") %></span>
    <%= link_to @button_text, pitch, :class => "btn btn-primary", :id => "btn_dark" %>
  </div>
</div>
