<% @post = pitch.posts.find_by(user_id: pitch.claimed_id) %>
<div id="pitch-interview-card" class="card" style="<% if @unseen_interviews.to_a.include? pitch %>background-color: #E6F6FF;<% end %>">
  <a href="<%= pitch_path(pitch)%>">
    <% if pitch.thumbnail.attached? %>
      <%= image_tag(pitch.thumbnail.variant(resize_to_fill: [540,380], format: 'webp'), alt: pitch.title, :class => "card-img-top")%>
    <% end %>
  </a>
  <% if pitch.user.present? && (current_user.admin? || current_user.editor?) %>
    <%= link_to("Edit", edit_pitch_path(pitch.id), :class => "edit_btn pitch_btn")%>
  <% end %>
  <div class="card-body">
    <% if @post.present? %>
      <% if pitch.claimed_id.present? && @post.deadline_at.present? && (@post.try(:reviews).try(:last).try(:status)&.eql? "In Progress") %>
        <%= render "pitches/deadline_warning_msg", post: @post %>
      <% end %>
    <% end %>
    <h4 class="pitch_ttl">
      <%= link_to "Interview with #{pitch.title}#{" (" << pitch.interview_kind << ")" if pitch.interview_kind.present?}", pitch, style: "color: black; text-decoration: none;" %>
    </h4>
    <p class="card-text"> Pitched on <%= pitch.created_at.strftime("%m-%d-%Y") %></p>
    <% if pitch.priority.eql? "High" %>
      <span class="badge badge-pill badge-danger">
        High Priority
      </span>
    <% end %>
    <% if pitch.following_level.present? && !((pitch.following_level.eql? 'less than 100k') || (pitch.following_level.eql? 'less than 25k'))%>
      <span class="badge badge-pill badge-info"><%= pitch.following_level %> followers</span>
    <% end %>
    <% if pitch.influencer_social_media.present? %>
      <p class="card-text"><b>Social media: <%= pitch.influencer_social_media&.truncate_words(20) %> </b></p>
    <% end %>
    <p class="card-text"> <%= pitch&.description&.truncate_words(20) %></p>
    <div class="z-index-wrapper">
      <%= link_to "Claim Interview", pitch, :class => "btn btn-primary", :id => "btn_dark" %>
    </div>
  </div>
</div>
