<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= intent %> This Article Pitch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-0">
        <% if (intent.eql? "Unclaim") && post.deadline_at.present? %>
          <%= render "pitches/deadline_warning_msg", post: post %>
        <% end %>
      </div>
      <div class="comment_form_wrapper mt-0 pl-4 pr-4">
        <div class="pitch_preview_wrapper pl-3 pr-3">
          <div class="flex_child mr-3">
            <h3><i><%= pitch.title %></i></h3>
            <p class="pitch_usr">Pitched by <%= link_to(pitch.user.try(:full_name), pitch.user, class: "pitch_btn", target: "_blank") %> under <%= link_to(pitch.category.name, pitch.category, class: "pitch_btn", target: "_blank") %></p>
            <%= markdown pitch.description %>
            <% if pitch.requirements.present? %>
              <i>Notes:</i>
              <%= markdown pitch.requirements %>
            <% end %>
            <% if @pitch.deadline.present? %>
              <p class="pitch_usr"><b>This pitch has a <%= @pitch.deadline %> week deadline. Read more about deadlines <a target="_blank" href="/writing-the-perfect-article#deadlines-and-extensions">here</a>.</b></p>
            <% end %>
          </div>
          <div class="flex_child">
            <%= image_tag(pitch.thumbnail.url(:card), class: "image_half_left mb-4") %>
          </div>
        </div>
        <div class="btn_cntnr mb-0 pb-0">
          <% if intent.eql? "Claim" %>
            <%= form_for @post, url: pitch_onboarding_claim_path(:id => pitch.id), remote: true do |f| %>
              <%= f.hidden_field :title, value: pitch.title %>
              <%= f.hidden_field :content, value: "<i>" << pitch.description << " (delete pitch description before submitting)</i>" %>
              <%= f.hidden_field :category_id, value: pitch.category_id %>
              <%= f.hidden_field :pitch_id, value: pitch.id %>
              <%= f.button "Cancel", class: "newpost--new--profile mr-2 pl-5 pr-5", id: "dismiss-modal", "data-dismiss" => "modal" %>
              <div class="hide spinner-button spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <%= f.button "Claim", class: "newpost--new--profile mr-0 pl-5 pr-5 submit_modal", id: "claim-pitch-modal-button", onclick: "submitModal();" %>
            <% end %>
          <% else %>
            <%= form_for pitch, url: pitch_onboarding_unclaim_path(:id => pitch.id), remote: true do |f| %>
              <%= f.hidden_field :claimed_id, value: nil %>
              <%= f.button "Cancel", class: "newpost--new--profile mr-2 pl-5 pr-5", id: "dismiss-modal", "data-dismiss" => "modal" %>
              <div class="hide spinner-button spinner-border" style="margin-left: 78px !important;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <%= f.button "Unclaim Pitch", data: {confirm: "Unclaiming this pitch will mean you can no longer access the started draft. Do you want to continue?"}, class: "newpost--new--profile mr-0 pl-5 pr-5 submit_modal", id: "claim-pitch-modal-button", onclick: "submitModal();" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
