<h3 class="pitch_ttl mt-2">Review <i><%= @pitch.title %></i></h3>
<%= markdown @pitch.description %>
<%= image_tag(@pitch.thumbnail.url(:card), class: "image_fit_scrn") %>
<p>Pitched by <%= link_to(@pitch.user.try(:full_name), @pitch.user, class: "link_theme") %> under <%= link_to(@pitch.category.name, @pitch.category, class: "link_theme") %></p>

<%= form_for @pitch do |f| %>
  <p><i>If the pitch meets all of the requirements described in <a target="_blank" style="background-color: #FCD04D;" class="link_theme" href="/pitch-requirements">Notes on Approving Pitches</a>, you may approve this pitch. If you're not sure, you can reach out to me at mia@theteenmagazine.com.</i></p>
  <div class="mb-4 pb-4">
    <div class="card review_frm">
      <div class="card-header">
        <h6>Editor Form</h6>
      </div>
      <div class="card-body">
        <%= f.select :status, options_for_select(["Approved", "Rejected"], {prompt: "Select status"}) %>
        <%= f.text_field :notes, placeholder: "Give additional feedback on this pitch (optional)" %>
        <%= f.hidden_field :editor_id, value: current_user.id %>
      </div>
    </div>
    <div class="btn_cntnr">
      <%= f.submit "Submit", class: "newpost--new--profile mb-0 mr-0", style: "padding-left: 2.5em; padding-right: 2.5em;" %>
    </div>
  </div>
<% end %>
