<div id="banner_writing" class="editor"></div>
<div class="apply_wrapper pitch_form_wrapper">
  <% if (current_user.editor?) && (@pitch.status.eql? "Ready for Review") %>
    <%= render "/pitches/review_pitch" %>
  <% else %>
    <h1 class="d-inline">Edit Pitch</h1><a data-toggle="tooltip" target="_blank" title="See pitch requirements" class="ml-1 position-absolute link_grn" href="/pages/content-policy"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="info-circle" class="mb-1 svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill="currentColor" d="M256 8C119 8 8 119.08 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 110a42 42 0 1 1-42 42 42 42 0 0 1 42-42zm56 254a12 12 0 0 1-12 12h-88a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h12v-64h-12a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h64a12 12 0 0 1 12 12v100h12a12 12 0 0 1 12 12z" opacity="0.4"></path><path class="fa-primary" fill="currentColor" d="M256 202a42 42 0 1 0-42-42 42 42 0 0 0 42 42zm44 134h-12V236a12 12 0 0 0-12-12h-64a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h12v64h-12a12 12 0 0 0-12 12v24a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-24a12 12 0 0 0-12-12z"></path></g></svg></a>
    <%= render "/pitches/form" %>
    <% if current_user.is_manager_of_category(@pitch.category_id) || (current_user.id.eql? @pitch.user.id) %>
      <div class="d-flex flex-direction-row">
        <%= link_to "Delete", pitch_path(@pitch), method: :delete, data: {confirm: "Deleting this pitch will nofity the editor who pitched it. Are you sure you want to continue?"}, :class => "link_theme d-block mb-4", style: "width: 80px; margin-top: 3px !important;" %>
        <%= form_for @pitch do |f| %>
          <%= f.hidden_field :archive, value: !(@pitch.archive.eql? true) %>
          <%= f.submit @archive_button, data: {confirm: @archive_msg}, :class => "link_theme", :style => "font-size: 0.9em;" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
