<div class="skinny_wrapper wrapper_padding pitches_wrapper">
  <div class="flex_container_mobile_reverse_order">
    <div class="btn_cntnr" style="margin-bottom: 0px;"><%= link_to "Pitch an Article", new_pitch_path, class: "newpost--new--profile" %></div>
    <div>
      <h1 class="pitch_ttl"><%= @title %></h1>
      <% if !(@title.eql? "Your Claimed Pitches") %>
        <i>When you claim an article idea, the pitch will show up as claimed in your dashboard, and a new draft will be started. If you change your mind later, you can unclaim the pitch. Deadlines are given for most editor pitches and become active once you claim a pitch. Read more about deadlines <a href="/writing-the-perfect-article#deadlines-and-extensions">here</a>.</i>
        <br>
        <br>
        <p style="display: inline;">Filter by category</p>
        <%= form_for @pitch, method: "get" do |f| %>
          <%= f.collection_select(:category_id, @categories, :id, :name, {include_blank: "All Pitches"}) %>
          <%= f.submit "Filter by Category", method: :index, id: "button_nrml" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if !(@title.eql? "Your Claimed Pitches") %>
    <!-- Classic tabs -->
    <div class="classic-tabs mb-4">
      <ul class="nav" id="myClassicTab" role="tablist">
        <li class="nav-item tab-custom">
          <a class="tab-custom <% if @tab.nil? || (@tab.eql? 'high') %>active show<% end %>" id="high-priority-tab-classic" data-bs-toggle="tab" href="#high-priority-classic"
            role="tab" aria-controls="high-priority-classic" aria-selected="true">High Priority</a>
        </li>
        <li class="nav-item tab-custom">
          <a class="tab-custom <% if (@tab.eql? 'all') %>active show<% end %>" id="all-tab-classic" data-bs-toggle="tab" href="#all-classic" role="tab"
            aria-controls="all-classic" aria-selected="false">All Pitches</a>
        </li>
      </ul>
    </div>
    <!-- High Priority pitches vs not -->
    <div class="tab-content p-0" id="myClassicTabContent">
      <div class="tab-pane fade <% if @tab.nil? || (@tab.eql? 'high') %>active show<% end %>" id="high-priority-classic" role="tabpanel" aria-labelledby="high-prioritytab-classic">
        <div class="flex-wrapper" style="margin: 0 auto 40px auto;">
          <% @pitches_high_priority.each do |pitch| %>
            <%= render "pitch_card", pitch: pitch %>
          <% end %>
          <% if @pitches_high_priority.count.eql? 0 %>
            <p><i><%= "There are no pitches marked high priority right now. Check in All Pitches!" %></i></p>
          <% end %>
        </div>
        <%== pagy_nav(@pagy_high_priority, page_param: :page_high_priority, params: {tab: 'high'}).html_safe %>
      </div>
      <div class="tab-pane fade <% if (@tab.eql? 'all') %>active show<% end %>" id="all-classic" role="tabpanel" aria-labelledby="all-tab-classic">
        <div class="flex-wrapper" style="margin: 0 auto 40px auto;">
          <% @pitches_all.each do |pitch| %>
            <%= render "pitch_card", pitch: pitch %>
          <% end %>
          <% if @pitches_all.count.eql? 0 %>
            <p><i><%= @message %></i></p>
          <% end %>
        </div>
        <%== pagy_nav(@pagy_all, page_param: :page_all, params: {tab: 'all'}).html_safe %>
      </div>
    </div>
  <% else %>
    <!-- Your pitches section -->
    <div class="flex-wrapper" style="margin: 0 auto 40px auto;">
      <% @pitches.each do |pitch| %>
        <%= render "pitch_card", pitch: pitch %>
      <% end %>
      <% if @pitches.count.eql? 0 %>
        <p><i><%= @message %></i></p>
      <% end %>
    </div>
    <%== pagy_nav(@pagy).html_safe %>
  <% end %>
</div>
<div class="content_hint"></div>