<div id="banner_writing" class="editor"></div>
<div class="apply_wrapper pitch_form_wrapper">
  <% if @claimed_user.present? && @post.deadline_at.present? %>
    <%= render "pitches/deadline_warning_msg", post: @post %>
  <% end %>
  <h3 class="pitch_ttl"><%= @title %> <i><%= @pitch.title %></i></h3>
  <p class="pitch_usr">Pitched by <%= link_to(@pitch.user.try(:full_name), @pitch.user, class: "pitch_btn") %> under <%= link_to(@pitch.category.name, @pitch.category, class: "pitch_btn") %></p>
  <% if @claimed_user.present? %>
    <p class="pitch_usr">Claimed by <%= link_to(@claimed_user.full_name, @claimed_user, class: "pitch_btn") %><%= " on #{@pitch.claimed_at.in_time_zone.strftime('%A, %B %d')}" unless @pitch.claimed_at.nil? %></p>
  <% elsif @pitch.status.eql? "Approved" %>
    <p class="mb-3" style="background-color: #FCD04D; display: inline-block;">This pitch was approved<% if @pitch.editor_id.present?%> by <%= link_to(@editor.try(:full_name), @editor) %><% end %>! You may claim it to start your draft.</p>
  <% elsif @pitch.status.eql? "Rejected" %>
    <p><span style="background-color: #FCD04D; padding: 5px 0;">This was pitch rejected<% if @pitch.editor_id.present?%> by <%= link_to(@editor.try(:full_name), @editor) %><% end %>. Please <%= link_to "delete", pitch_path(@pitch), method: :delete, data: {confirm: "Are you sure you want to delete this pitch? This cannot be undone."} %> it and submit a new pitch that meets all the requirements as described <a target="_blank" href="/choosing-a-topic">here</a>.</span></p>
    <p>Reason(s) for rejection:</p>
    <ul>
      <% if @pitch.rejected_topic %>
        <li>The topic is not relevant enough for The Teen Magazine's audience</li>
      <% end %>
      <% if @pitch.rejected_title %>
        <li>The title does not meet the requirements</li>
      <% end %>
      <% if @pitch.rejected_thumbnail %>
        <li>The thumbnail does not meet the requirements</li>
      <% end %>
    </ul>
  <% elsif @claimed_user.nil? && (@pitch.status.eql? "Ready for Review") %>
    <p><b><i>This pitch has not been reviewed yet.</i></b></p>
  <% elsif @pitch.archive %>
    <p class="mb-3" style="background-color: #FCD04D; display: inline-block;">This pitch has been archived and will not show up under Editor Pitches.</p>
  <% end %>
  <% if @pitch.notes.present? %>
    <p class="mt-0"><i><%= @editor.try(:full_name) %> left a comment:
    <%= @pitch.notes %><br></i></p>
  <% end %>
  <%= image_tag(@pitch.thumbnail.url(:card), class: "image_fit_scrn mb-4") %>
  <%= markdown @pitch.description %>
  <% if @pitch.requirements.present? %>
    <i>Notes:</i>
    <%= markdown @pitch.requirements %>
  <% end %>

  <% if @pitch.deadline.present? %>
    <p class="pitch_usr"><b>This pitch has a <%= @pitch.deadline %> week deadline. Read more about deadlines <a href="/writing-the-perfect-article#deadlines-and-extensions">here</a>.</b></p>
  <% end %>

  <% if @claimed_user.nil? %>
    <%= form_for @post do |f| %>
      <%= f.hidden_field :title, value: @pitch.title %>
      <%= f.hidden_field :content, value: "<i>" << @pitch.description << " (delete pitch description before submitting)</i>" %>
      <%= f.hidden_field :category_id, value: @pitch.category_id %>
      <%= f.hidden_field :pitch_id, value: @pitch.id %>
      <i class="d-block pb-4 mb-2">When you claim an article idea, the pitch will show up as claimed in your dashboard, and a new draft will be started. Only claim pitches you intend to write. If you change your mind later, you can unclaim the pitch.</i>
      <div class="btn_cntnr" style="margin-top: -1rem;">
        <% @confirm = @pitch.deadline.nil? ? "When you claim this pitch, your draft will be started." : "When you claim this pitch, you will have #{@pitch.deadline} weeks to submit the associated draft for review." %>
        <span data-toggle="tooltip" title="<%= @tooltip %>"><%= f.submit "Claim Article Pitch", data: { confirm: @confirm }, class: "newpost--new--profile mb-0 mr-0 #{@disabled}", style: "padding-left: 2.5em; padding-right: 2.5em;" %></span>
      </div>
      <br>
    <% end %>
    <% else %>
      <% if !@article&.is_published? %>
        <%= form_for @pitch do |f| %>
          <%= f.hidden_field :claimed_id, value: nil %>
          <p class="pitch_usr mb-4">If you unclaim this pitch, the associated article will become locked unless you claim the pitch again. If this pitch was created by an editor, the topic will become available to any writer at TTM. Go to your started <%= link_to("draft", @article, class: "pitch_btn", target: "_blank") %>.</p>
          <div class="btn_cntnr" style="margin-top: -1rem;">
            <span data-toggle="tooltip" title="<%= @tooltip %>"><%= f.submit "Unclaim Pitch", data: { confirm: "Are you sure you want to unclaim this pitch? You will no longer be able to work on this article." }, class: "newpost--new--profile mb-0 mr-0 #{@disabled}", style: "padding-left: 2.5em; padding-right: 2.5em;" %></span>
          </div>
          <br>
        <% end %>
      <% else %>
        <p class="pitch_usr">This pitch's <%= link_to("article", @article, class: "pitch_btn", target: "_blank") %> was published on <%= @article.publish_at.in_time_zone.strftime("%A, %B %d") %>.</p>
      <% end %>
    <% end %>
    <% if ((current_user.id.eql? @pitch.user.id) || current_user.admin) && !@article&.is_published? %>
      <%= link_to "Edit", edit_pitch_path(@pitch), :class => "link_theme edit_btn_rel", style: "float: left; margin-top: -1.5rem;" %>
    <% end %>
</div>
