<h1 id="page_title">Claim Article idea</h1>
<div class="skinny_wrapper wrapper_padding">
  <i>When you claim an article idea, the pitch will show up as claimed in your dashboard, and a new draft will be started.
    You will have <b>two weeks</b> to submit your article for review. If your article is not submitted within two weeks and/or not approved within one month of
    claiming the topic, the pitch will become unclaimed and any writer can claim it. If another writer claims the pitch during that time, your article will become
    locked and you will no longer be able to make changes to it.</i>
  <h3 class="pitch_ttl"><%= @pitch.title %></h3>
  <p class="pitch_usr">Pitched by <%= link_to(@pitch.user.full_name, @pitch.user, class: "pitch_btn") %> under <%= link_to(@pitch.category.name, @pitch.category, class: "pitch_btn") %></p>
  <%= image_tag(@pitch.thumbnail, class: "thumbnail_img") %><br/><br />

  <% if @claimed_user.nil? %>
    <script>
     CKEDITOR.addCss('img{width: 55% !important; height: auto !important;margin-left: auto !important;margin-right: auto !important;display: block;}');
     CKEDITOR.addCss('iframe{margin: 0 auto !important;}');
     CKEDITOR.addCss('p, h1, h2, h3, h4, h5, h6, span {font-family: "Source Sans Pro", sans-serif !important};');
     CKEDITOR.addCss('html {margin-left: auto;margin-right: auto;}#twitter-widget-0, #twitter-widget-1 {margin: 0 auto !important;}a {color: #65B19D;}a:hover {opacity: 0.5;}@media (max-width: 600px) {img {width: 100% !important;}}');
    </script>
    <%= form_for @post do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :content, "Write your article here" %><br>
      <%= f.cktext_area :content %><br />

      <%= f.hidden_field :category_id, value: @pitch.category_id %>
      <%= f.hidden_field :pitch_id, value: @pitch.id %>

      <%= f.submit "Claim Article" %>
    <% end %>
  <% else %>
    <span><%= @pitch.description %></span>
    <p class="pitch_usr">Claimed by <%= link_to(@claimed_user.full_name, @claimed_user, class: "pitch_btn") %> on <%= @article.created_at.strftime('%A, %B %d') %></p>
    <% if @claimed_user.id == current_user.id || current_user.admin? %>
      <%= form_for @pitch do |f| %>
        <%= f.hidden_field :claimed_id, value: nil %>
        <p class="pitch_usr">Go to this pitch's <%= link_to("article", @article, class: "pitch_btn") %>.<br>Note: If you unclaim this pitch, any writer will be able to claim it. The associated article will become locked unless you claim the pitch again.</p>
        <%= f.submit "Unclaim Pitch" %>
      <% end %>
    <% end %>
  <% end %>
</div>
