<%= form_for @newsletter, html: {:id => "ck-form"} do |f| %>
    <p class="mb-0 mt-4">Subject</p>
    <%= f.text_field :subject, value: subject %>
    <p class="mb-0 mt-0">Message</p>
    <div id="container">
      <%= f.text_area :message,
          id: "editor",
          value: template
      %>
    </div>
    <%= f.hidden_field :recipient_id, value: user.id %>
    <%= f.hidden_field :audience, value: user.full_name %>
    <%= f.hidden_field :template, value: 'Plain' %>
    <div class="btn_cntnr mb-0 pt-3 pb-3" style="float: none;">
    <div class="hide spinner-button spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <%= f.button "Send to #{user.first_name} now", class: "newpost--new--profile mr-0 pl-4 pr-4 submit_modal", id: "submit-comment-modal-button" %>
<% end %>
<script>
  window.WEBSPELLCHECKER_CONFIG = {
    autoSearch: true,
    serviceId: "<%= ENV["WEBSPELLCHECKER_ID"] %>"
  };
</script>
<%= javascript_include_tag 'ckeditor' %>
