<%= form_for @newsletter, html: {:id => "ck-form"} do |f| %>
  <p class="mb-0 mt-4">Subject</p>
  <%= f.text_field :subject %>
  <p class="mb-0 mt-0">Header (optional)</p>
  <%= f.text_field :header %>
  <p class="mb-0 mt-0">Message</p>
  <div id="container">
    <%= f.text_area :message, id: "editor" %>
  </div>
  <% if (params[:template].eql? 'editor_picks') || (@newsletter.template.eql? 'Weekly Picks') %>
    <p class="mb-0 mt-4">Featured Posts: full link + space + editor's quote (optional)</p>
    <%= f.text_area :featured_posts, placeholder: 'https://www.theteenmagazine.com/5-best-books-to-read-when-you-have-nothing-to-do "This is a quote by an editor. This article was so well done etc. etc." - Emily Johansson' %>
    <p class="mb-0 mt-0">Subheader</p>
    <%= f.text_field :subheader %>
  <% else %>
    <p class="mb-0">Action button text (use button text + comma + full url. See placeholder for example)</p>
    <%= f.text_field :action_button, placeholder: 'Join Discord, https://discord.com/' %>
  <% end %>
<p>Audience: <%= f.select(:audience, @audiences) %></p>
<p>Template: <%= f.select(:template, ['Announcement', 'Weekly Picks']) %></p>
<div class="btn_cntnr mb-0 pt-3 pb-3" style="float: none;">
  <div class="hide spinner-button spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <%= f.submit "Save Progress", class: "newpost--new--profile mr-0 pl-4 pr-4 submit_modal", id: "submit-comment-modal-button" %>
</div>
<% end %>
<script type="text/javascript">
  window.WEBSPELLCHECKER_CONFIG = {
    autoSearch: true,
    serviceId: "<%= @service_id %>"
  };
</script>
<%= javascript_include_tag 'ckeditor' %>