<div class="skinny_wrapper wrapper_padding mb-4 pb-4 mt-4">
  <table class="table table-striped scrollmenu">
    <thead>
      <tr>
        <th scope="col"><b>Created at</b></th>
        <th scope="col"><b>Subject line</b></th>
        <th scope="col"><b>Sent at</b></th>
        <th scope="col"><b>Audience</b></th>
        <th scope="col"><b>Template</b></th>
        <th scope="col"><b>Recipients</b></th>
      </tr>
    </thead>
    <tbody>
      <% @newsletters.each do |newsletter| %>
        <tr>
          <td><%= date_to_words(newsletter.created_at) %></td>
          <td><%= link_to(@newsletter.subject || @newsletter.header || "Message from The Teen Magazine", newsletter) %></td>
          <td><%= date_to_words(newsletter.sent_at) || "Never sent" %></td>
          <td><%= newsletter.audience || "Readers" %></td>
          <td><%= newsletter.template %></td>
          <td><%= newsletter.recipients %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pb-4">
    <div class="btn_cntnr"><%= link_to "New Newsletter", new_newsletter_path, class: "newpost--new--profile", style: "margin-right: 0px;" %></div>
  </div>
</div>
