<div class="new--writer--wrapper">
  <div class="skinny_wrapper">
    <div id="waiting--for--approval">
      <div style="padding-top: 30px; width: 100%;">
        <div class="flex--item">
          <% if @user.submitted_profile == true && @user.approved_profile == false %>
              <div class="overlay">
                <img src="http://img.icons8.com/metro/26/000000/lock.png" class="icon">
                <h5>Your profile is waiting to be reviewed</h5>
              </div>
          <% elsif @user.submitted_profile == false && @user.approved_profile == false %>
              <div class="overlay">
                <img src="http://img.icons8.com/metro/26/000000/lock.png" class="icon">
                <h5>Your profile was rejected. Please make changes and submit again.</h5>
              </div>
          <% else %>
              <style>
                .flex--profile {
                  opacity: 1 !important;
                }
              </style>
          <% end %>
          <%= render 'profile' %>
        </div>
        <div class="initial--training--wrapper">
          <h1 id="page_title">Welcome to The Teen Magazine!</h1>
          <p>When you publish your first article, you will become an official writer for The Teen Magazine and will receive your own
          author page.</p>
          <p>To Become an Official Writer:</p>
          <ol>
            <li>Introduce yourself to the <a target="_blank" href="https://www.facebook.com/groups/615063885673363/">Facebook group</a></li>
            <li>Read through the resources found at the bottom of your dashboard</li>
            <li>Pick a topic to write about from the <a target="_blank" href="https://docs.google.com/spreadsheets/d/1I-za5WKWPTQWiC2sAGBHZbjsOjb74EUZgvCAfQ4dU9I/edit?fbclid=IwAR2FYXYop0qny_8h6EqejNLLOEcnPai2q-X-L5ik3REak8SizW6-K18jyY4#gid=0">Google Sheets</a> or choose your own. If you are unsure what to write about, you can always ask for advice/ideas from other writers in the Facebook group. </li>
            <li><a href="/posts/new">Write your first article</a> and submit it for review. Our amazing editors will look it over and give you
            feedback.</li>
          </ol>
          <p>When you've completed steps 1 - 3, you can start writing your first article. </p>
          <% if @user_posts.count == 0 %>
            <h1 id="page_title">Your saved/submitted articles will show up here</h1>
          <% else %>
            <h1 id="page_title">Your saved/submitted articles</h1>
          <% end %>
          <% @user_posts.each do |post| %>
          <div class="flex--postlist--item">
            <div class="inside--item">
              <% if post.approved && post.after_approved == true %>
              <%= image_tag "published.png", class: "icon" %>
              <% elsif post.waiting_for_approval && (post.approved == nil || post.approved == false) %>
              <%= image_tag "waiting.png", class: "icon" %>
              <% elsif post.approved && post.after_approved == nil %>
              <%= image_tag "approved.png", class: "icon" %>
              <% else %>
              <%= image_tag "saved.png", class: "icon" %>
              <% end %>
                <h6 id="post-title"><a href="#"><%= link_to post.title, post%></a></h6>
            </div>
          </div>
          <% end %>
          <br />
          <%= link_to "New Article", new_post_path(@post), class: "newpost--new--profile" %>
        </div>
      </div>
      <div class="new--writer--flex--two">
        <div class="links">
          <div>
            <a href="/users/<%= @user.slug %>/edit">Edit Profile</a>
            <%= link_to("Change Password", edit_user_registration_path) %>
            <%= link_to("Review Onboarding", onboarding_path(:page => "welcome")) %>
          </div>
        </div>
        <br />
        <p>This is a new writer account. Your full writer account will be activated
            once you publish your first article.</p>
      </div>
    </div>
  </div>
  <div class="guidelines">
    <div class="thelink">
      <a href="/criteria">
      <div class="box foo G1 ">
        <p>Criteria & FAQ</p>
      </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/choosing-a-topic">
        <div class="G2 box foo">
          <p>Choosing A Topic</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/writing-the-perfect-article">
        <div class="G3 box foo">
          <p>Writing The Perfect Article</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/finding-images">
        <div class="G5 box foo">
          <p>Finding Images</p>
        </div>
      </a>
    </div>
  </div>
</div>
