<div class="new--writer--wrapper">
  <div id="waiting--for--approval">
    <div class="dashboard--writer--flex--main">
      <div class="flex--item" style="background-color: #F7F6F6; margin-top: 30px; margin-right: 30px;">
        <% if @user.submitted_profile == true && @user.approved_profile == false %>
            <div class="overlay">
              <img src="http://img.icons8.com/metro/26/000000/lock.png" class="icon">
              <h5>Your profile is waiting to be reviewed</h5>
            </div>
        <% elsif @user.submitted_profile == false && @user.approved_profile == false %>
            <div class="overlay">
              <img src="http://img.icons8.com/metro/26/000000/lock.png" class="icon">
              <h5>Your profile was rejected. Please make changes and submit again.</h5>
            </div>
        <% else %>
            <style>
              .flex--profile {
                opacity: 1 !important;
              }
            </style>
        <% end %>
        <%= render 'profile' %>
      </div>
      <div class="dashboard--articles--wrapper">
        <h1 id="page_title">Welcome to The Teen Magazine!</h1>
        <div style="padding-right: 10px;">
          <p>When you publish your first article, you will become an official writer for The Teen Magazine and will receive your own
          author page.</p>
          <p>Please complete the following steps.</p>
          <ol>
            <li>Introduce yourself in the <a target="_blank" href="https://www.facebook.com/groups/615063885673363/">Facebook group</a>. You can also dm <%= link_to "The Teen Magazine", "https://www.instagram.com/theteenmagazine_/" %> on Instagram to be added as a close friend.
            We have an active dm group there that will keep you updated with everything happening with The Teen Magazine.</li>
            <li>Read through the resources found at the bottom of your dashboard.</li>
            <li>Claim a pitch from the <%= link_to("pitches page", pitches_path) %> and start your first article. If you have your own article idea that fits our audience, you can <%= link_to("pitch a new article", new_pitch_path) %> instead.</li>
            <li>Once you've finished your first article, you can submit it for review though the article form. Our amazing editors will look it over and give you
            feedback.</li>
          </ol>
          <p>We're so happy you've joined The Teen Magazine! Our editors are looking forward to reading your first article submission.</p>
        </div>
        <div class="dashboard--articles--wrapper">
          <% if @user_pitches.present? %>
            <h6 class="header_ttl">Your Pitches</h6>
            <%= render "/users/partials/dashboard_pitches", pitches: @user_pitches, image: "waiting.png" %>
          <% end %>
          <% if @user_posts.rejected.present? %>
            <h6 class="header_ttl">Changes Requested</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.rejected, image: "changes_requested.png" %>
          <% end %>
          <% if @user_posts.scheduled_for_publishing.present? %>
            <h6 class="header_ttl">Pending Publication</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.scheduled_for_publishing, image: "published.png" %>
          <% end %>
          <% if @user_posts.in_review.present? %>
            <h6 class="header_ttl">Articles In Review</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.in_review, image: "in_review.png" %>
          <% end %>
          <% if @user_posts.submitted.present? %>
            <h6 class="header_ttl">Pending Review</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.submitted, image: "waiting.png" %>
          <% end %>
          <h6 class="header_ttl">Articles In Progress</h6>
          <%= render "/users/partials/dashboard_articles", articles: @user_posts.draft, image: "saved.png" %>
        </div>
        <div class="btn_cntnr"><%= link_to "Pitch an Article", new_pitch_path, class: "newpost--new--profile" %></div>
      </div>
      <br/>
    </div>
    <div class="dashboard--writer--flex--two">
      <div class="links">
        <div>
          <%= link_to("Edit Profile", edit_user_path(@user)) %>
          <%= link_to("Change Password", edit_user_registration_path) %>
          <%= link_to("Review Onboarding", onboarding_path(:page => "welcome")) %>
          <%= link_to("Claimed Pitches", pitches_path(user_id: @user.id)) %>
          <%= link_to("Editor Pitches", pitches_path) %>
          <%= link_to "Pitch a new article", new_pitch_path %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
      <br />
      <p style="width: 100%; min-width: 18rem;">This is a new writer account. Your full writer account will be activated
          once you publish your first article.</p>
      <br>
    </div>
  </div>
</div>
<div class="guidelines">
  <div class="thelink">
    <a href="/criteria">
    <div class="box foo G1 ">
      <p>Criteria & FAQ</p>
    </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/choosing-a-topic">
      <div class="G2 box foo">
        <p>Choosing A Topic</p>
      </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/writing-the-perfect-article">
      <div class="G3 box foo">
        <p>Writing The Perfect Article</p>
      </div>
    </a>
  </div>
  <div class="thelink">
    <a href="/finding-images">
      <div class="G5 box foo">
        <p>Finding Images</p>
      </div>
    </a>
  </div>
</div>
