<div class="new--writer--wrapper">
  <div class="skinny_wrapper">
    <div id="waiting--for--approval">
      <div style="padding-top: 30px; width: 100%;">
        <div class="flex--item">
          <div class="overlay">
            <img src="http://img.icons8.com/metro/26/000000/lock.png" class="icon">
            <h5>Your profile is waiting to be reviewed</h5>
          </div>
          <%= render 'profile' %>
        </div>
        <div class="initial--training--wrapper">
          <h1 id="page_title">Training modules are not complete</h1>
          <div class="tab" id="tab1">
            <p><span>Module 1:</span> Brainstorming and Search Analysis</p>
            <%= image_tag "downarrow.png" %>
          </div>
          <div class="drop--down tab1--drop--down hidden">
            <!-- brainstorming a BUNCH of potential topics -->
            <!-- actually have to write them down in text box? -->
            <p>For years, people have been talking about “Keyword Research”.  That made sense in the days where using certain words in your headlines and in your posts would help you rank for searches including those words.  But that’s not how search works anymore, which is why “Keyword Research” is now a thing of the past.</p>
            <div class="flex--start">
              <p>0% completed</p>
              <%= link_to "Start", "/choosing-a-topic", class: "button_style" %>
            </div>
          </div>
          <div class="tab" id="tab2">
            <p><span>Module 2:</span> Pitching an Article Topic</p>
            <%= image_tag "downarrow.png" %>
          </div>
          <div class="drop--down tab2--drop--down hidden">
            <p>For years, people have been talking about “Keyword Research”.  That made sense in the days where using certain words in your headlines and in your posts would help you rank for searches including those words.  But that’s not how search works anymore, which is why “Keyword Research” is now a thing of the past.</p>
            <div class="flex--start">
              <p>0% completed</p>
              <!-- TODO: Pitching an article topic -->
              <%= link_to "Start", "/choosing-a-topic", class: "button_style" %>
            </div>
          </div>
          <div class="tab" id="tab3">
            <p><span>Module 3:</span> Formatting</p>
            <%= image_tag "downarrow.png" %>
          </div>
          <div class="drop--down tab3--drop--down hidden">
            <p>For years, people have been talking about “Keyword Research”.  That made sense in the days where using certain words in your headlines and in your posts would help you rank for searches including those words.  But that’s not how search works anymore, which is why “Keyword Research” is now a thing of the past.</p>
            <div class="flex--start">
              <p>0% completed</p>
              <!-- TODO: Add formatting page -->
              <%= link_to "Start", "/formatting", class: "button_style" %>
            </div>
          </div>
          <div class="tab" id="tab4">
            <p><span>Module 4:</span> Writing Your First Article</p>
            <%= image_tag "downarrow.png" %>
          </div>
          <div class="drop--down tab4--drop--down hidden">
            <p>For years, people have been talking about “Keyword Research”.  That made sense in the days where using certain words in your headlines and in your posts would help you rank for searches including those words.  But that’s not how search works anymore, which is why “Keyword Research” is now a thing of the past.</p>
            <div class="flex--start">
              <p>0% completed</p>
              <!-- TODO: Add text editor here -->
              <%= link_to "Start", "/writing-the-perfect-article", class: "button_style" %>
            </div>
          </div>
          <div class="tab" id="tab5">
            <p><span>Module 5:</span> Copyright and Finding Images</p>
            <%= image_tag "downarrow.png" %>
          </div>
          <div class="drop--down tab5--drop--down hidden">
            <p>For years, people have been talking about “Keyword Research”.  That made sense in the days where using certain words in your headlines and in your posts would help you rank for searches including those words.  But that’s not how search works anymore, which is why “Keyword Research” is now a thing of the past.</p>
            <div class="flex--start">
              <p>0% completed</p>
              <%= link_to "Start", "/finding-images", class: "button_style" %>
            </div>
          </div>
          <div class="tab" id="tab6">
            <p><span>Module 6:</span> What Our Editors Look For</p>
            <%= image_tag "downarrow.png" %>
          </div>
          <div class="drop--down tab6--drop--down hidden">
            <p>For years, people have been talking about “Keyword Research”.  That made sense in the days where using certain words in your headlines and in your posts would help you rank for searches including those words.  But that’s not how search works anymore, which is why “Keyword Research” is now a thing of the past.</p>
            <div class="flex--start">
              <p>0% completed</p>
              <!-- TODO: Check list that editors use -->
              <%= link_to "Start", "/checklist", class: "button_style" %>
            </div>
          </div>
        </div>
      </div>
      <div class="new--writer--flex--two">
        <div class="links">
          <div>
            <%= link_to("Edit Profile", onboarding_path(:page => "your_profile")) %>
            <%= link_to("Review Onboarding", onboarding_path(:page => "welcome")) %>
          </div>
          <%= link_to("Sign Out", destroy_user_session_path) %>
        </div>
        <br />
        <p>This is a new writer account. Your full writer account will be activated
            once you finish the training modules.</p>
      </div>
    </div>
  </div>
  <div class="guidelines">
    <div class="thelink">
      <a href="/criteria">
      <div class="box foo G1 ">
        <p>Criteria & FAQ</p>
      </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/choosing-a-topic">
        <div class="G2 box foo">
          <p>Choosing A Topic</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/writing-the-perfect-article">
        <div class="G3 box foo">
          <p>Writing The Perfect Article</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/finding-images">
        <div class="G5 box foo">
          <p>Finding Images</p>
        </div>
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var tab1 = document.getElementById('tab1');
  var tab2 = document.getElementById('tab2');
  var tab3 = document.getElementById('tab3');
  var tab4 = document.getElementById('tab4');
  var tab5 = document.getElementById('tab5');
  var tab6 = document.getElementById('tab6');
  var isOneOpen = false;
  var isTwoOpen = false;
  var isThreeOpen = false;
  var isFourOpen = false;
  var isFiveOpen = false;
  var isSixOpen = false;
  tab1.style.cursor = 'pointer';
  tab2.style.cursor = 'pointer';
  tab3.style.cursor = 'pointer';
  tab4.style.cursor = 'pointer';
  tab5.style.cursor = 'pointer';
  tab6.style.cursor = 'pointer';
  tab1.onclick = function() {
    if (isOneOpen) {
      $(".tab1--drop--down").addClass("hidden");
      isOneOpen = false;
    } else {
      $(".tab1--drop--down").removeClass("hidden");
      isOneOpen = true;
    }
  };
  tab2.onclick = function() {
    if (isTwoOpen) {
      $(".tab2--drop--down").addClass("hidden");
      isTwoOpen = false;
    } else {
      $(".tab2--drop--down").removeClass("hidden");
      isTwoOpen = true;
    }
  };
  tab3.onclick = function() {
    if (isThreeOpen) {
      $(".tab3--drop--down").addClass("hidden");
      isThreeOpen = false;
    } else {
      $(".tab3--drop--down").removeClass("hidden");
      isThreeOpen = true;
    }
  };
  tab4.onclick = function() {
    if (isFourOpen) {
      $(".tab4--drop--down").addClass("hidden");
      isFourOpen = false;
    } else {
      $(".tab4--drop--down").removeClass("hidden");
      isFourOpen = true;
    }
  };
  tab5.onclick = function() {
    if (isFiveOpen) {
      $(".tab5--drop--down").addClass("hidden");
      isFiveOpen = false;
    } else {
      $(".tab5--drop--down").removeClass("hidden");
      isFiveOpen = true;
    }
  };
  tab6.onclick = function() {
    if (isSixOpen) {
      $(".tab6--drop--down").addClass("hidden");
      isSixOpen = false;
    } else {
      $(".tab6--drop--down").removeClass("hidden");
      isSixOpen = true;
    }
  };
</script>
