<div class="official--writer--wrapper">
  <div class="skinny_wrapper">
    <div id="waiting--for--approval">
      <div style="padding-top: 30px; width: 100%;">
        <div class="flex--item">
          <%= render 'profile' %>
        </div>
        <div class="dashboard--articles--wrapper">
          <% if @user_posts.rejected.present? %>
            <h6 class="header_ttl">Changes Requested</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.rejected, image: "saved.png" %>
          <% end %>
          <% if @user_posts.scheduled_for_publishing.present? %>
            <h6 class="header_ttl">Pending Publication</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.scheduled_for_publishing, image: "published.png" %>
          <% end %>
          <% if @user_posts.in_review.present? %>
            <h6 class="header_ttl">Articles In Review</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.in_review, image: "waiting.png" %>
          <% end %>
          <% if @user_posts.submitted.present? %>
            <h6 class="header_ttl">Pending Review</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.submitted, image: "waiting.png" %>
          <% end %>

          <h6 class="header_ttl">Articles In Progress</h6>
          <%= render "/users/partials/dashboard_articles", articles: @user_posts.draft, image: "saved.png" %>
          <br>
          <%= link_to "New Article", new_post_path(@post), class: "newpost--new--profile" %>
        </div>
      </div>
      <div class="dashboard--writer--flex--two">
        <div class="links">
          <div>
            <a href="/users/<%= @user.slug %>/edit">Edit Profile</a>
            <%= link_to("Change Password", edit_user_registration_path) %>
            <%= link_to("Review Onboarding", onboarding_path(:page => "welcome")) %>
            <%= link_to("Editor Pitches", pitches_path) %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </div>
        </div>
        <br />
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            What's New
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="guidelines">
    <div class="thelink">
      <a href="/criteria">
      <div class="box foo G1 ">
        <p>Criteria & FAQ</p>
      </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/choosing-a-topic">
        <div class="G2 box foo">
          <p>Choosing A Topic</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/writing-the-perfect-article">
        <div class="G3 box foo">
          <p>Writing The Perfect Article</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/finding-images">
        <div class="G5 box foo">
          <p>Finding Images</p>
        </div>
      </a>
    </div>
  </div>
</div>
