<div class="official--writer--wrapper">
  <div class="dashboard_wrapper">
    <div id="waiting--for--approval">
      <div class="dashboard--writer--flex--main">
        <div class="flex--item">
          <%= render :partial => 'profile', locals: {user: @user} %>
        </div>
        <div class="analytics card-group">
          <div class="card">
            <div class="card-body dashboard-card-1 dashboard-card">
              <a href="<%= pitches_path(user_id: @user.id) %>">
                <div class="stats_wrapper">
                  <div class="value" id="value1"></div>
                  <div class="text-wrapper">
                    <span>Claimed</span>
                    <span>Pitches</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card">
              <div class="card-body dashboard-card-2 dashboard-card">
                <a href="<%= user_path(page: "public") %>">
                  <div class="stats_wrapper">
                    <div class="value" id="value2"></div>
                    <div class="text-wrapper">
                      <span>Published</span>
                      <span>Articles</span>
                    </div>
                  </div>
                </a>
              </div>
          </div>
          <div class="card">
            <div class="card-body dashboard-card-3 dashboard-card">
              <a href="<%= analytics_path(user_id: @user.id) %>">
                <div class="stats_wrapper">
                  <div class="value" id="value3"></div>
                  <div class="text-wrapper">
                    <span>Total</span>
                    <span>Pageviews</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="btn_cntnr">
          <% if current_user.editor? %>
             <%= link_to "Start an Article", new_post_path, class: "newpost--new--profile" %>
          <% else %>
             <%= link_to "Pitch an Article", new_pitch_path, class: "newpost--new--profile" %>
          <% end %>
        </div>
        <br>
        <div class="dashboard--articles--wrapper">
          <% if @user_pitches.present? %>
            <h6 class="header_ttl">Your Pitches</h6>
            <%= render "/users/partials/dashboard_pitches", pitches: @user_pitches, image: "waiting.png" %>
          <% end %>
          <% if @user_posts.rejected.present? %>
            <h6 class="header_ttl">Changes Requested</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.rejected, image: "changes_requested.png" %>
          <% end %>
          <% if @user_posts.scheduled_for_publishing.present? %>
            <h6 class="header_ttl">Pending Publication</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.scheduled_for_publishing, image: "published.png" %>
          <% end %>
          <% if @user_posts.in_review.present? %>
            <h6 class="header_ttl">Articles In Review</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.in_review, image: "in_review.png" %>
          <% end %>
          <% if @user_posts.submitted.present? %>
            <h6 class="header_ttl">Pending Review</h6>
            <%= render "/users/partials/dashboard_articles", articles: @user_posts.submitted, image: "waiting.png" %>
          <% end %>
          <h6 class="header_ttl">Articles In Progress</h6>
          <%= render "/users/partials/dashboard_articles", articles: @user_posts.draft, image: "saved.png" %>
        </div>
        <br>
      </div>
      <div class="dashboard--writer--flex--two" style="width: 30rem;">
        <% if @featured_writers.include? @user %>
          <div class="alert alert-success" role="alert">
            Great job, you're a part of this list!
          </div>
        <% end %>
        <%= render "/users/partials/featured_writers", users: @featured_writers %>
        <div>
          <div class="card whats-new-wrapper mt-4" style="border-radius: 10px; overflow: hidden;">
            <div class="card-header"><%= link_to "What's New...", pitches_path, style: "font-size: 0.9rem; font-weight: bold; text-decoration: none; line-height: 1.5; color: #212529;" %></div>
            <ul class="list-group list-group-flush whats-new">
              <% @pitches.each do |pitch| %>
                <li class="list-group-item">
                  <% @profile_img = pitch.user.profile.exists? ? image_tag(pitch.user.profile.url(:square), :class => "profile_img_small") : image_tag("profile_image", :class => "profile_img_small") %>
                  <%= link_to(@profile_img, pitch.user) %>
                  <div><%= link_to(pitch.user.full_name, pitch.user, class: "link_nrml") %> pitched <%= link_to(pitch.title, pitch, class: "link_nrml") %>
                  <br><span class="date_ago"><%= time_ago_in_words(pitch.created_at) %> ago</span></div>
                </li>
              <% end %>
            </ul>
          </div>
          <i class="mt-4 d-block">See more pitches <%= link_to("here", pitches_path, class: "link_inline") %></i>
          <br>
        </div>
        <div class="links">
          <div>
            <%= link_to("Interview Application", "https://docs.google.com/forms/d/e/1FAIpQLScDJe80_E686pG1L7R5w-84HHZcotFmuBSyQV5rqUB2jUQTag/viewform", target: "_blank") %><br>
            <%= link_to("Editor Application", "/applications/editor", target: "_blank") %>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="guidelines">
    <div class="thelink">
      <a href="/criteria">
      <div class="box foo G1 ">
        <p>Criteria & FAQ</p>
      </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/choosing-a-topic">
        <div class="G2 box foo">
          <p>Choosing A Topic</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/writing-the-perfect-article">
        <div class="G3 box foo">
          <p>Writing The Perfect Article</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/finding-images">
        <div class="G5 box foo">
          <p>Finding Images</p>
        </div>
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var loaded = []
  $.fn.isOnScreen = function(){
    var win = $(window);
    var viewport = {
        top : win.scrollTop(),
        left : win.scrollLeft()
    };
    viewport.right = viewport.left + win.width();
    viewport.bottom = viewport.top + win.height();
    var bounds = this.offset();
    bounds.right = bounds.left + this.outerWidth();
    bounds.bottom = bounds.top + this.outerHeight();
    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
  };

  $.fn.triggerAnalytics = function(){
    if (($('#value1').isOnScreen()) && (!loaded[0])) {
      animateValue('value1', 0, <%= @claimed_pitches_cnt %>, 500);
      loaded[0] = true;
    }
    if (($('#value2').isOnScreen()) && (!loaded[1])) {
      animateValue('value2', 0, <%= @user_posts_approved.count %>, 500);
      loaded[1] = true;
    }
    if (($('#value3').isOnScreen()) && (!loaded[2])) {
      animateValue('value3', 0, <%= @pageviews %>, 500);
      loaded[2] = true;
    }
  };

  $(document).ready(function(){
    loaded = [false, false, false];
    $.fn.triggerAnalytics();
    $("#site-wrapper").scroll(function(){
        $.fn.triggerAnalytics();
    });
  });
</script>
