<div class="official--writer--wrapper">
  <div class="dashboard_wrapper">
    <div id="waiting--for--approval">
      <div class="w-100">
        <!-- Classic tabs -->
        <div style="padding-top: 30px;">
          <div class="classic-tabs"
            <% if @show_onboarding_full %>
              data-step data-index="7" data-onboarding-content="Earn credits and boost your published articles to reach a wider audience."
            <% end %>
          >
            <ul class="nav mt-0" id="myClassicTab" role="tablist">
              <li class="nav-item tab-custom">
                <a class="tab-custom active show" id="home-tab-classic" data-bs-toggle="tab" href="#home-classic"
                  role="tab" aria-controls="home-classic" aria-selected="true">Home</a>
              </li>
              <li class="nav-item tab-custom">
                <a class="tab-custom" id="be-promoted-tab-classic" data-bs-toggle="tab" href="#be-promoted-classic" role="tab"
                  aria-controls="be-promoted-classic" aria-selected="false">Boost an Article
                </a>
              </li>
              <li class="nav-item tab-custom">
                <a class="tab-custom" id="earn-points-tab-classic" data-bs-toggle="tab" href="#earn-points-classic" role="tab"
                  aria-controls="earn-points-classic" aria-selected="false">Earn Credits</a>
              </li>
              <% if false %>
                <li class="nav-item tab-custom">
                  <a class="tab-custom" id="admin-invites-tab-classic" data-bs-toggle="tab" href="#admin-invites-classic" role="tab"
                    aria-controls="admin-invites-classic" aria-selected="false">Admin</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <!-- Classic tabs -->
        <div class="tab-content p-0" id="myClassicTabContent">
          <div class="tab-pane fade active show" id="home-classic" role="tabpanel" aria-labelledby="hometab-classic">
            <%= render 'users/dashboard/tabs/home' %>
          </div>
          <div class="tab-pane fade" id="be-promoted-classic" role="tabpanel" aria-labelledby="be-promoted-tab-classic">
            <%= render 'users/dashboard/tabs/be_promoted' %>
          </div>
          <div class="tab-pane activity_wrapper fade" id="earn-points-classic" role="tabpanel" aria-labelledby="earn-points-tab-classic">
            <div class="pitch_form_wrapper pt-4">
              <div id="form-invite">
                <%= render 'users/dashboard/tabs/earn_points', invitation: @invitation %>
              </div>
              <div id="past-invites">
                <h5 class="mb-3 font-weight-bold mt-4 pt-2">Past Invites</h5>
                <% if @user.invitations.count.eql? 0 %>
                  <p>You haven't sent any invitations yet.</p>
                <% else %>
                  <%= render_async_cache get_past_invites_path(id: @user.id), container_id: "past-invites-render-container", container_class: "pl-0", toggle: { selector: '#earn-points-tab-classic', event: :click } do %>
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% if @user.admin? %>
            <div class="tab-pane activity_wrapper fade" id="admin-invites-classic" role="tabpanel" aria-labelledby="admin-invites-tab-classic">
              <%= render_async get_sent_invitations_admin_path, toggle: { selector: '#admin-invites-tab-classic', event: :click } do %>
                <div class="d-flex justify-content-center">
                  <div class="spinner-border mb-4" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="dashboard--writer--flex--two" style="width: 30rem;">
        <% if @featured_writers.include? @user %>
          <div class="alert alert-success" role="alert">
            Great job, you're a part of this list!
          </div>
        <% end %>
        <%= render "/users/partials/featured_writers", users: @featured_writers, cached: true %>
        <div>
          <div class="card whats-new-wrapper" style="border-radius: 10px; overflow: hidden;"
            <% if @show_onboarding_full %>
              data-step data-index="4" data-onboarding-content="See what other writers are pitching here."
            <% end %>
          >
            <div class="card-header pt-3 pb-3" style="border: none; background-color: rgba(0,0,0,0.03);"><%= link_to "What's New...", pitches_path, style: "font-size: 0.9rem; font-weight: bold; text-decoration: none; line-height: 1.5; color: #212529;" %></div>
            <ul class="list-group list-group-flush whats-new">
              <% @pitches.each do |pitch| %>
                <li class="list-group-item">
                  <% @profile_img = pitch.user.profile.attached? ? image_tag(pitch.user.profile.variant(resize_to_fill: [100, 100], format: 'webp'), :class => "profile_img_small") : image_tag("profile_image.jpg", :class => "profile_img_small") %>
                  <%= link_to(@profile_img, pitch.user) %>
                  <div><%= link_to(pitch.user.try(:full_name), pitch.user, class: "link_nrml") %> pitched <%= link_to(pitch.title, pitch, class: "link_nrml") %>
                  <br><span class="date_ago"><%= time_ago_in_words(pitch.created_at) %> ago</span></div>
                </li>
              <% end %>
            </ul>
          </div>
          <i class="mt-4 d-block">See more pitches <%= link_to("here", pitches_path, class: "link_inline link_grn") %></i>
          <br>
        </div>
        <%= link_to("Invite a friend", "/writers/#{@user.slug}/invitations", class: "link_grn") %><br>
        <div class="links"
          <% if @show_onboarding_full %>
            data-step data-index="5" data-onboarding-content="New applications have become open to you. If you want to apply to our editor team, we suggest having at four or more published articles on The Teen Magazine before applying to have the best chance."
          <% end %>
        >
          <div>
            <%= link_to("Interview Application", "https://forms.gle/eQyETofL6M1bxvqy5", target: "_blank", class: "link_grn") %><br>
            <%= link_to("Editor Application", "/applications/editor", class: "link_grn") %><br>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <%= render "users/dashboard/guidelines" %>
</div>

<script type="text/javascript">
  var loaded = []
  $.fn.isOnScreen = function(){
    var win = $(window);
    var viewport = {
        top : win.scrollTop(),
        left : win.scrollLeft()
    };
    viewport.right = viewport.left + win.width();
    viewport.bottom = viewport.top + win.height();
    var bounds = this.offset();
    bounds.right = bounds.left + this.outerWidth();
    bounds.bottom = bounds.top + this.outerHeight();
    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
  };

  $.fn.triggerAnalytics = function(){
    if (($('#value1').isOnScreen()) && (!loaded[0])) {
      animateValue('value1', 0, <%= @claimed_pitches_cnt %>, 500);
      loaded[0] = true;
    }
    if (($('#value2').isOnScreen()) && (!loaded[1])) {
      animateValue('value2', 0, <%= @user_posts_approved_records.count %>, 500);
      loaded[1] = true;
    }
    if (($('#value3').isOnScreen()) && (!loaded[2])) {
      animateValue('value3', 0, <%= @pageviews %>, 500);
      loaded[2] = true;
    }
  };

  $(document).ready(function(){
    loaded = [false, false, false];
    $.fn.triggerAnalytics();
    $(window).on('scroll',function(){
        $.fn.triggerAnalytics();
    });
  });
</script>

<% if @show_onboarding_full || @show_editor_onboarding %>
  <%= javascript_include_tag "mdbootstrap/mdb.min" %>
  <%= javascript_include_tag "plugins/onboarding.min" %>
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function() {
        document.getElementById("click-event-trigger").click();
      }, 2000);
    });
  </script>
<% end %>

<% if @show_badge_popup %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#newBadgeModal').modal('show');
    });
  </script>
<% end %>
