<div class="official--writer--wrapper">
  <div class="dashboard_wrapper">
    <div id="waiting--for--approval">
      <div class="w-100">
      <div class="alert alert-warning mt-2" role="alert">
        Due to an ongoing copyright issue, <b>our image policy has changed as of October 19th, 2023</b>. Please make sure your articles follow the  <a class="link_underline" href="/finding-images">updated image policy</a> by <b>October 31, 2023</b>. 
      </div>
        <%= render 'users/dashboard/tabs/home' %>
      </div>
      <div class="dashboard--writer--flex--two" style="width: 30rem;">
        <% if @featured_writers.include? @user %>
          <div class="alert alert-success" role="alert">
            Great job, you're a part of this list!
          </div>
        <% end %>
        <%= render "/users/partials/featured_writers", users: @featured_writers, cached: true %>
        <div class="d-flex align-items-center justify-content-center">
          <iframe src="https://discord.com/widget?id=1081601449550688286&theme=dark" width="100%" height="200" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="mt-3">
          <div class="card whats-new-wrapper" style="border-radius: 10px; overflow: hidden;"
            <% if @show_onboarding_full %>
              data-step data-index="4" data-onboarding-content="See what other writers are pitching here."
            <% end %>
          >
            <div class="card-header pt-3 pb-3" style="border: none; background-color: rgba(0,0,0,0.03);"><%= link_to "What's New...", pitches_path, style: "font-size: 0.9rem; font-weight: bold; text-decoration: none; line-height: 1.5; color: #212529;" %></div>
            <ul class="list-group list-group-flush whats-new">
              <% @pitches.each do |pitch| %>
                <% if pitch.user.present? %>
                  <li class="list-group-item">
                    <% @profile_img = pitch.user&.profile&.attached? ? image_tag(pitch&.user.profile.variant(resize_to_fill: [100, 100], format: 'webp'), :class => "profile_img_small") : image_tag("profile_image.jpg", :class => "profile_img_small") %>
                    <%= link_to(@profile_img, pitch&.user) %>
                    <div><%= link_to(pitch.user.try(:full_name), pitch&.user, class: "link_nrml") %> pitched <%= link_to(pitch.title, pitch, class: "link_nrml") %>
                      <br>
                      <span class="date_ago"><%= time_ago_in_words(pitch.created_at) %> ago</span></div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <i class="mt-4 d-block">See more pitches <%= link_to("here", pitches_path, class: "link_inline link_grn") %></i>
          <br>
        </div>
        <%= link_to("Email preferences", "/email-preferences?email=#{@user.subscriber&.email}&token=#{@user.subscriber&.token}", class: "link_grn") %><br>
        <div class="links"
          <% if @show_onboarding_full %>
            data-step data-index="5" data-onboarding-content="New applications have become open to you. If you want to apply to our editor team, we suggest having at four or more published articles on The Teen Magazine before applying to have the best chance."
          <% end %>
        >
          <div>
            <% if !current_user.marketer? %>
              <%= link_to("Interviewer Application", "https://forms.gle/owee6FsULPaT7W7x5", class: "link_grn") %><br>
            <% end %>
            <% if !current_user.editor? %>
              <%= link_to("Editor Application", "/applications/editor", class: "link_grn") %><br>
            <% end %>
          </div>
          <%= link_to("Invite a friend", "/writers/#{@user.slug}/invitations", class: "link_grn") %><br>
          <%= link_to("Extensions page", "/writers/#{@user.slug}/extensions", class: "link_grn") %><br>
          <% if current_user.admin? && current_user == true_user %>
            <%= link_to("Sign in as #{@user.full_name}", impersonate_user_path(@user), method: :post, class: "link_grn") %><br>
          <% end %>
        </div>
        <br>
      </div>
    </div>
  </div>
  <%= render "users/dashboard/guidelines" %>
</div>
<style media="screen">
  .complete {
    width: <%= @percent_to_next_level %>% !important;
    transition-duration: 2s;
  }
</style>
<script type="text/javascript">
  var loaded = []
  $.fn.isOnScreen = function(){
    var win = $(window);
    var viewport = {
        top : win.scrollTop(),
        left : win.scrollLeft()
    };
    viewport.right = viewport.left + win.width();
    viewport.bottom = viewport.top + win.height();
    var bounds = this.offset();
    bounds.right = bounds.left + this.outerWidth();
    bounds.bottom = bounds.top + this.outerHeight();
    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
  };

  $.fn.triggerAnalytics = function(){
    if (($('#value1').isOnScreen()) && (!loaded[0])) {
      animateValue('value1', 0, <%= @claimed_pitches_cnt %>, 500);
      loaded[0] = true;
    }
    if (($('#value2').isOnScreen()) && (!loaded[1])) {
      animateValue('value2', 0, <%= @user_posts_approved_records.count %>, 500);
      loaded[1] = true;
    }
    if (($('#value3').isOnScreen()) && (!loaded[2])) {
      animateValue('value3', 0, <%= @pageviews %>, 500);
      loaded[2] = true;
    }
    if (($('#progress-bar').isOnScreen()) && (!loaded[3])) {
      $('#progress-bar').addClass("complete");
      loaded[3] = true;
    }
  };

  $(document).ready(function(){
    loaded = [false, false, false, false];
    $.fn.triggerAnalytics();
    $(window).on('scroll',function(){
        $.fn.triggerAnalytics();
    });
  });
</script>
<% if @show_onboarding_full || @show_editor_onboarding || @show_marketer_onboarding %>
  <%= javascript_include_tag "mdbootstrap/mdb.min" %>
  <%= javascript_include_tag "plugins/onboarding.min" %>
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function() {
        document.getElementById("click-event-trigger").click();
      }, 2000);
    });
  </script>
<% end %>
<% if @show_badge_popup %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#newBadgeModal').modal('show');
    });
  </script>
<% end %>
