<br>
<div style="max-width: 840px; margin: 0 auto;">
  <div id="background" style="max-width: 800px; margin: 0 15px;">
    <%= render 'profile' %>
  </div>
</div>
<div class="category">
   <div class="category--show">
     <div class="other--articles">
       <div class="flex">
         <div class="container">
           <% @user_posts_approved.each do |post| %>
             <div class="thumbnail">
               <div class="container--image">
                 <%=link_to(image_tag(post.thumbnail.url(:large2), post), :class => "image_thumbnail" )%>
               </div>
               <div class="thumbnail--container">
                 <p class="date_post_preview"><%= post.category.name %></p>
                 <h3 class="article_title"><a href="#"><%= link_to post.title, post %></a></h3>
                 <p class="date_post_preview"><%= post.publish_at.strftime("%A, %b %d")%></p>
               </div>
             </div>
           <% end %>
         </div>
         <a class="apply" href="/apply" target="blank">
         </a>
       </div>
     </div>
   </div>
</div>
