<div class="stair_step">
  <div class="hr">
    <hr />
    <hr />
  </div>
  <a href="/onboarding?step=welcome" class="node">
    <span class="progress_step">
      &#x25cf;
      <p>Welcome</p>
    </span>
  </a>
  <a href="/onboarding?step=your_profile" class="node">
    <span class="progress_step">
      &#x25cf;
      <p>Your Profile</p>
    </span>
  </a>
  <span class="progress_step" id="final_step">
    <% if @pitch.present? %>
      &#x25cf;
    <% else %>
      &#x25CB;
    <% end %>
    <p>Next Steps</p>
  </span>
</div>
<div class="onboarding_page_container">
  <div id="onboarding_page">
    <h3>Your profile was submitted!</h3>
    <p style="margin-top: 10px;">Great job! One of our editors will review your profile as soon as possible.
      You will be notified <b>via email</b> within 48 hours.</p>
    <p>To get started writing your first article, select the topic you feel you know a lot about. A draft will automatically be started for you and will show up under your dashboard. If you change your mind later, you can
      always unclaim the pitch.</p>
    <div class="pitches_wrapper">
      <div class="flex_container_mobile_reverse_order">
        <div>
          <h1 class="pitch_ttl"><%= @title %></h1>
          <% if @pitches.count.eql? 0 %>
            <p><i><%= @message %></i></p>
          <% end %>
        </div>
      </div>
      <div class="claim_pitch_wrapper">
        <% if @pitch.nil? %>
          <%= render "users/onboarding/next_steps_partials/pitches", pitches: @pitches %>
        <% else %>
          <%= render "users/onboarding/next_steps_partials/selected_pitch", pitch: @pitch %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="position-relative">
    <% @disabled = @pitch.nil? ? "disabled" : "" %>
    <% @hidden = @pitch.present? ? "hide" : "" %>
    <span data-toggle="tooltip" class="<%= @hidden %>" id="tooltip" style="position: absolute; width: 150px; height: 45px; right: 0; top: 20px;" title="Select a pitch first"></span>
    <%= link_to "Go to Profile", user_path(current_user), :class => "#{@disabled}", :id => "onboarding_button" %>
  </div>
</div>

<%= javascript_include_tag 'plugins/index_bundle' %>
