<%= form_for @user do |f| %>
  <%= render :partial => 'profile', locals: {user: @user} %>
  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error")%> prevented this post from saving:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <% if current_user.admin? || current_user.editor? %>
    <%= f.label "Approve profile", :class => "mb-4" %>
    <%= f.check_box :approved_profile, value: @user.approved_profile %>
    <%= f.hidden_field :submitted_profile, value: false %>
  <% elsif @user.approved_profile == false %>
    <%= f.hidden_field :submitted_profile, value: true %>
  <% end %>

  <% if current_user && current_user.is_manager? && @user.editor %>
    <%= f.label "Skip editor assignment", :class => "ml-2" %>
    <%= f.check_box :skip_assignment %><br />
  <% end %>

  <% if current_user && (current_user.is_manager_of_category(Category.find('interviews').id) || current_user.admin?) %>
    <%= f.label "Interviewer" %>
    <%= f.check_box :marketer %>
  <% end %>

  <% if current_user && current_user.admin? %>
    <%= f.label "Editor", :class => "ml-2" %>
    <%= f.check_box :editor %>
  <% end %>

  <% if current_user && current_user.admin? %>
    <%= f.label "Image Admin", :class => "ml-2" %>
    <%= f.check_box :image_admin %>
    
    <%= f.label "Admin", :class => "ml-2" %>
    <%= f.check_box :admin %>
  <% end %>
    
  <br>
  <br>

  <% if current_user.admin? || (current_user.id.eql? @user.id) %>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name %>

    <%= f.label "Last Name" %>
    <%= f.text_field :last_name %>

    <%= f.label "Upload profile picture" %><br>
    <%= f.file_field :profile %><br/><br/>

    <%= f.label "Description" %>
    <%= f.text_area :description %><br><br />

    <%= f.label "Email (will not be published)" %><br>
    <%= f.text_field :email %>

    <h5>Social Media (Optional)</h5>

    <div id="edit--profile">
      <%= f.label "Website" %>
      <div class="add_link">
        <span>www.</span>
        <%= f.text_field :website, :style => "padding-left: 52px;" %>
      </div>

      <%= f.label "Youtube" %>
      <div class="add_link">
        <span>youtube.com/</span>
        <%= f.text_field :youtube, :style => "padding-left: 110px;" %>
      </div>

      <%= f.label "Instagram" %>
      <div class="add_link social">
        <span>@</span>
        <%= f.text_field :insta %>
      </div>

      <%= f.label "Twitter" %>
      <div class="add_link social">
        <span>@</span>
        <%= f.text_field :twitter %>
      </div>

      <%= f.label "Facebook" %>
      <div class="add_link social">
        <span>@</span>
        <%= f.text_field :facebook %>
      </div>
    </div>

    <%= f.hidden_field :posts_count, :value => @user.posts.published.count %>
  <% end %>
  <br>

<%= f.submit "Update Profile" %>

<% end %>
