<div class="flex_horizontal center">
  <h1 id="page_title" style="margin-bottom: -20px; border-bottom: none;">Editors</h1>
</div>
<div id="posts_wrapper" class="skinny_wrapper mb-4">
  <div class="flex_horizontal">
    <%= form_for(:search, method: :get, :html => {:class => 'form-inline d-flex justify-content-left md-form form-sm active-theme-2 mt-2'}) do |f| %>
      <%= f.text_field :query, class: "form-control form-control-sm mr-3", style: "flex: 1;", placeholder: "Search for an editor" %>
    <% end %>
  </div>
  <% if @query.present? %>
    <h2>Searching for editor... <span style="background-color: #FCD04D"><%= @query %></span></h2>
  <% end %>
  <% @editors.each do | user | %>
    <% if user != nil %>
      <div class="flex--profile">
        <% if user.profile.attached? %>
          <%= image_tag(user.profile.variant(resize_to_fill: [100, 100], format: 'webp'), :class => "profile_img") %>
        <% else %>
          <%= image_tag("profile_image.jpg", :class => "profile_img") %>
        <% end %>
        <div class="info">
          <h2 style="margin-bottom: 5px; display: inline;">
            <% if current_user.admin? %>
              <%= link_to(user.full_name, "/editors/#{user.slug}") %>
            <% else %>
              <%= link_to(user.full_name, user) %>
            <% end %>
          </h2>
          <% if user.badges.present? %>
            <div class="badge_wrapper">
              <svg widht="22px" height="22px" aria-hidden="true" focusable="false" data-prefix="fad" data-icon="badge-check" class="svg-inline--fa fa-badge-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g class="fa-group"><path class="fa-secondary" fill=<%= user.badges.last.color %> d="M512 256a88 88 0 0 0-57.1-82.4A88 88 0 0 0 338.4 57.1a88 88 0 0 0-164.8 0A88 88 0 0 0 57.1 173.6a88 88 0 0 0 0 164.8 88 88 0 0 0 116.5 116.5 88 88 0 0 0 164.8 0 88 88 0 0 0 116.5-116.5A88 88 0 0 0 512 256zm-144.8-44.25l-131 130a11 11 0 0 1-15.55-.06l-75.72-76.33a11 11 0 0 1 .06-15.56L171 224a11 11 0 0 1 15.56.06l42.15 42.49 97.2-96.42a11 11 0 0 1 15.55.06l25.82 26a11 11 0 0 1-.08 15.56z" opacity="0.4"></path><path class="fa-primary" fill=<%= user.badges.last.color %> d="M367.2 211.75l-131 130a11 11 0 0 1-15.55-.06l-75.72-76.33a11 11 0 0 1 .06-15.56L171 224a11 11 0 0 1 15.56.06l42.15 42.49 97.2-96.42a11 11 0 0 1 15.55.06l25.82 26a11 11 0 0 1-.06 15.56z"></path></g></svg>
              <span class="editor_status"><%= user.badges.last.level %> <%= user.badges.last.kind %></span>
            </div>
          <% end %>
          <% if user.editor? %>
            <br>
            <%= render_async_cache get_editor_stats_path(id: user) %>
          <% end %>
          <p class="description_user" style="margin-top: 5px;"><%= user.description %></p>
          <% if current_user.is_manager? %>
            <div>
              <h6 class="mt-2" style="margin: 0; opacity: 50%;">
                <% if user.last_sign_in_at.nil? %>
                  Never signed in (admin only)
                <% else %>
                  Last active <%= time_ago_in_words(user.last_sign_in_at) %> ago (admin only)
                <% end %>
              </h6>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%== pagy_nav(@pagy).html_safe %>
</div>
