<h1 id="page_title" style="border-bottom: none; margin-top: 0px;">Submitted Profiles</h1>
<div id="posts_wrapper" class="index_users">
  <div class="skinny_wrapper profiles--flex">
    <% @users_waiting.each do |user| %>
      <div class="flex--profile">
        <div class="profiles">
          <a href= "/writers/<%= user.slug %>/edit">
            <% if user.profile.exists? %>
              <%= image_tag(user.profile.url(:square), :class => "profile_img") %>
            <% else %>
              <%= image_tag("profile_image.jpg", :class => "profile_img") %>
            <% end %>
          </a>
          <h6 style="margin-bottom: 5px;">
            <% @name =
              if (user.first_name != "" && user.first_name !=nil)
                user.first_name
              end
              if (user.last_name != "" && user.last_name!= nil)
                @name = @name + " " + user.last_name
              end %>
            <a href= "/writers/<%= user.slug %>/edit"><%= @name %></a>
          </h6>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="flex_horizontal center">
  <h1 id="page_title" style="margin-bottom: -20px; border-bottom: none;">Writers</h1>
  <a href="/search?utf8=✓&filter=writers">
    <svg width="15px" height="15px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="mb-1 svg-inline--fa fa-search fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
  </a>
</div>
<div id="posts_wrapper" class="skinny_wrapper">
  <% @users.each do | user | %>
      <% if user != nil %>
        <div class="flex--profile">
          <% if user.profile.exists? %>
            <%= image_tag(user.profile.url(:square), :class => "profile_img") %>
          <% else %>
            <%= image_tag("profile_image.jpg", :class => "profile_img") %>
          <% end %>
          <div class="info">
          <h2 style="margin-bottom: 5px;">
            <%= link_to(user.full_name, user) %>
          </h2>
          <% if user.editor? %>
            <span class="editor_status">
              Editor
            </span>
          <% end %>
            <p class="description_user" style="margin-top: 5px;"><%= user.description %></p>
            <% if current_user.admin? %>
              <h6 style="margin: 0;"><%= user.email %></h6>
            <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
  <%== pagy_nav(@pagy).html_safe %>
</div>
