<div id="posts_wrapper" class="skinny_wrapper">
  <h1 id="page_title">Add User</h1>

  <%= form_for @user do |f| %>

  <%= f.label "First Name" %>
  <%= f.text_field :first_name %>

  <%= f.label "Last Name" %>
  <%= f.text_field :last_name %>

  <%= f.label "Email" %><br>
  <%= f.text_field :email %>

  <%= f.label "Description" %>
  <%= f.text_area :description %>

  <%= f.label "Password" %>
  <%= f.text_field :encrypted_password %>

  <br><%= f.submit %>

  <% end %>
</div>
