<div class="flex_horizontal center">
  <h1 id="page_title" style="margin-bottom: -20px; border-bottom: none;">Partners</h1>
</div>
<div id="posts_wrapper" class="skinny_wrapper pb-5 mb-4">
  <div class="flex_horizontal">
    <%= form_for(:search, method: :get, :html => { :class => "form-inline d-flex justify-content-left md-form form-sm active-theme-2 mt-2" }) do |f| %>
      <%= f.text_field :query, class: "form-control form-control-sm mr-3", style: "flex: 1;", placeholder: "Search for a partner" %>
    <% end %>
  </div>
  <% if @query.present? %>
    <h2>Searching for partner... <span style="background-color: #FCD04D"><%= @query %></span></h2>
  <% end %>
  <% @partners.each do |user| %>
      <% if user != nil %>
        <div class="flex--profile">
          <% if user.profile.exists? %>
            <%= image_tag(user.profile.url(:square), :class => "profile_img") %>
          <% else %>
            <%= image_tag("profile_image.jpg", :class => "profile_img") %>
          <% end %>
          <div class="info">
          <h2 style="margin-bottom: 5px;">
            <%= link_to(user.full_name, user) %>
          </h2>
          <% if user.editor? %>
            <span class="editor_status">
              Editor
            </span>
          <% end %>
            <p class="description_user" style="margin-top: 5px;"><%= user.description %></p>
            <% if current_user.admin? %>
              <h6 style="margin: 0;"><%= user.email %></h6>
              <h6 class="mt-2" style="margin: 0; opacity: 50%;">
                <% if user.last_sign_in_at.nil? %>
                  Never signed in (admin only)
                <% else %>
                  Last active <%= time_ago_in_words(user.last_sign_in_at) %> ago (admin only)
                <% end %>
              </h6>
            <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
  <%== pagy_nav(@pagy).html_safe %>
  <div class="btn_cntnr">
    <%= link_to "New Partner Profile", new_user_path, class: "newpost--new--profile" %>
  </div>
</div>
