<div class="parentflex">
  <div class="flexbox">
    <div class="featured divfeatured">
      <div class="featured individual">
        <div class="featured_img">
          <%=link_to(image_tag(@posts_approved_0[0].thumbnail.variant(resize_to_fill: [540,340]).processed.service_url, alt: @posts_approved_0[0].title), @posts_approved_0[0] )%>
        </div>
        <h3 class="article_title"><%= link_to @posts_approved_0[0].title, @posts_approved_0[0] %></h3>
        <p class="date"><%= @posts_approved_0[0].publish_at.in_time_zone.strftime("%A, %b %d")%>, Featured article</p>
      </div>
    </div>
    <div class="articles2-6">
      <% @posts_approved_0[1..4].each do |post| %>
        <div class="thumbnail">
          <%=link_to(image_tag(post.thumbnail.variant(resize_to_fill: [300,150]).processed.service_url, alt: post.title, :class => "image_thumbnail"), post )%>
          <div class="thumbnail--container">
            <h3 class="article_title"><%= link_to post.title.truncate_words(14), post %></h3>
            <p class="date"><%= post.publish_at.in_time_zone.strftime("%A, %b %d")%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ads_wrapper ads_responsive">
    <div class="content_hint"></div>
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <!-- Homepage 1 -->
    <!-- <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4566416931763342"
           data-ad-slot="2546543885"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script> -->
  </div>
</div>
