<div class="ctgry_section">
  <% @posts_approved_last.each do |post| %>
    <div class="ctgry_article recent mb-4">
      <%=link_to(image_tag(post.thumbnail.variant(resize_to_fill: [560,280]), alt: post.title, class: "image_recent_articles"), post )%>
      <h1><%= link_to post.title, post %></h1>
      <p class="category m-0"><%= link_to(post.category.name, post.category) %></p>
      <div class="d-flex flex-wrap overflow-hidden align-items-center justify-content-between">
        <div class="author d-table-cell align-middle">
          <% @profile = post.user.profile.attached? ? post.user.profile.variant(resize_to_fill: [100,100]) : "profile_image.jpg" %>
          <%= image_tag(@profile, :class => "profile_img", :style => "max-width: 20px !important; min-width: 20px !important; height: 20px;") %>
          <%= link_to(post.user.full_name, post.user, class: 'date') %>
        </div>
        <%= render 'posts/partials/views_and_comments', post: post %>
      </div>
      <p class="m-0"><%= date_to_words(post.publish_at) %></p>
    </div>
  <% end %>
</div>
