<div class="body">
  <div class="gray--background">
    <div class="home--main">
      <div class="parentflex">
        <div class="flexbox">
          <div class="featured divfeatured">
            <% if @posts_featured %>
              <div class="featured individual">
                <div class="featured_img">
                  <%=link_to(image_tag(@posts_featured.thumbnail.url(:large2), alt: @posts_featured.title, :id => "image_thumbnail"), @posts_featured )%>
                </div>
                <h3 class="article_title"><a href="#"><%= link_to @posts_featured.title, @posts_featured %></a></h3>
                <p class="date"><%= @posts_featured.created_at.strftime("%A, %b %d")%></p>
              </div>
            <% end %>
          </div>
          <div class="articles2-6">
              <% @posts_approved[1..4].each do |post| %>
                <div class="thumbnail">
                  <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title, :class => "image_thumbnail"), post )%>
                  <div class="thumbnail--container">
                    <h3 class="article_title"><a href="#"><%= link_to post.title, post %></a></h3>
                    <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
        <div class="signupdiv">
          <%= render 'signup' %>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper_home">
  <h1 class="section--title"><a href="/categories/beauty">Beauty</a></h1>
  <div class="flex--welcome">
    <div class="flex-1">
      <div class="beauty--section">
        <% @number = 0 %>
        <% @posts_approved_beauty.each do |post_beauty| %>
          <% if ((@posts_approved[0..4].include? post_beauty) == false) && @number < 3 %>
          <div class="one_beauty_article">
            <%=link_to(image_tag(post_beauty.thumbnail.url(:large2), alt: post_beauty.title), post_beauty )%>
            <h1><%= link_to post_beauty.title, post_beauty %></h1>
            <p><%= post_beauty.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post_beauty.meta_description %></p>
          </div>
          <% @number += 1 %>
          <% end %>
        <% end %>
      </div>
      <div class="entertainment--section">
        <h1 class="section--title"><a href="/categories/entertainment">Entertainment</a></h1>
        <div class="entertainment">
          <% @number = 0 %>
          <% @posts_approved_entertainment.each do |post_entertainment| %>
            <% if ((@posts_approved[0..4].include? post_entertainment) == false) && @number < 2 %>
              <div class="entertainment_article">
                <%=link_to(image_tag(post_entertainment.thumbnail.url(:large2), alt: post_entertainment.title), post_entertainment )%>
                <h1><%= link_to post_entertainment.title, post_entertainment %></h1>
                <p><%= post_entertainment.created_at.strftime("%A, %b %d")%></p>
                <p class="meta"><%= post_entertainment.meta_description %></p>
              </div>
              <% @number += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex_entertainment_wrapper">
        <a class="applies" href="/applies/new"><img src="http://i.imgur.com/3M0jhbo.jpg" /></a>
        <div class="entertainment_grid_container">
          <% @number2 = 0 %>
          <% @posts_approved_entertainment.each do |post_entertainment| %>
            <% if ((@posts_approved[0..4].include? post_entertainment) == false) && @number < 6 && @number > 1 %>
              <% if  @number2 < 2 %>
                <% @number2 += 1 %>
              <% else %>
              <div class="entertainment_article_grid">
                <%=link_to(image_tag(post_entertainment.thumbnail.url(:medium), alt: post_entertainment.title), post_entertainment )%>
                <h1><%= link_to post_entertainment.title, post_entertainment %></h1>
                <p><%= post_entertainment.created_at.strftime("%A, %b %d")%></p>
                <p class="meta"><%= post_entertainment.meta_description %></p>
              </div>
              <% @number += 1 %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="most_read">
      <h1 class="section--title">Most Read</h1>
      <div class="one_article">
        <%=link_to(image_tag(@first_post.first.thumbnail, alt: @first_post.first.title), @first_post.first )%>
        <p class="paragraph">
          <%= @first_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@second_post.first.thumbnail, alt: @second_post.first.title), @second_post.first )%>
        <p class="paragraph">
          <%= @second_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@third_post.first.thumbnail, alt: @third_post.first.title), @third_post.first )%>
        <p class="paragraph">
          <%= @third_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@fourth_post.first.thumbnail, alt: @fourth_post.first.title), @fourth_post.first )%>
        <p class="paragraph">
          <%= @fourth_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@fifth_post.first.thumbnail, alt: @fifth_post.first.title), @fifth_post.first )%>
        <p class="paragraph">
          <%= @fifth_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@sixth_post.first.thumbnail, alt: @sixth_post.first.title), @sixth_post.first )%>
        <p class="paragraph">
          <%= @sixth_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@seventh_post.first.thumbnail, alt: @seventh_post.first.title), @seventh_post.first )%>
        <p class="paragraph">
          <%= @seventh_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@eighth_post.first.thumbnail, alt: @eighth_post.first.title), @eighth_post.first )%>
        <p class="paragraph">
          <%= @eighth_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@nineth_post.first.thumbnail, alt: @nineth_post.first.title), @nineth_post.first )%>
        <p class="paragraph">
          <%= @nineth_post.first.title %>
        </p>
      </div>
      <div class="one_article">
        <%=link_to(image_tag(@tenth_post.first.thumbnail, alt: @tenth_post.first.title), @tenth_post.first )%>
        <p class="paragraph">
          <%= @tenth_post.first.title %>
        </p>
      </div>
    </div>
  </div>

    <% @num_of_beauty = 2 %>
    <% @posts_approved_beauty.each do |post_beauty| %>
      <% if ((@posts_approved[0..4].include? post_beauty) == true) %>
      <% @num_of_beauty += 1 %>
      <% end %>
    <% end %>

    <% @num_of_entertainment = 5 %>
    <% @posts_approved_entertainment.each do |post_entertainment| %>
      <% if ((@posts_approved[0..4].include? post_entertainment) == true) %>
      <% @num_of_entertainment += 1 %>
      <% end %>
    <% end %>

    <h1 style="margin-top: 0;" class="section--title">Recent Articles</h1>
    <div class="three--section">
      <% @number = 0 %>
      <% @posts_approved.each do |post| %>
        <% if ((@posts_approved_beauty[0..@num_of_beauty].include? post) == false) && ((@posts_approved_entertainment[0..@num_of_entertainment].include? post) == false) && ((@posts_approved[0..4].include? post) == false) %>
        <% if @number < 3 %>
        <div class="one_article desktop">
          <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title), post )%>
          <h1><%= link_to post.title, post %></h1>
          <p><%= post.created_at.strftime("%A, %b %d")%></p>
          <p class="meta"><%= post.meta_description %></p>
        </div>
        <% if @number == 0 %>
        <div class="list--articles mobile removed" style="border: none; margin-top: -20px;">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post )%>
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <p class="category"><%= post.meta_title %></p>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description %></p>
          </div>
        </div>
        <% else %>
        <div class="list--articles mobile removed">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post )%>
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <p class="category"><%= post.meta_title %></p>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description %></p>
          </div>
        </div>
        <% end %>
        <% @number += 1 %>
        <% else %>
        <div class="list--articles desktop">
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <p class="category"><%= post.meta_title %></p>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description %></p>
          </div>
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post )%>
        </div>
        <div class="list--articles mobile removed">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post )%>
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <p class="category"><%= post.meta_title %></p>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
</div>

<script>
$(document).ready(function() {
  var w = window.innerWidth;
  if (w<= 640) {
    $(".desktop").addClass("removed");
    $(".mobile").removeClass("removed");
  } else {
    $(".desktop").removeClass("removed");
    $(".mobile").addClass("removed");
  }
});
document.getElementsByTagName("BODY")[0].onresize = function() {myFunction()};
var x = 0;
function myFunction() {
  var w = window.innerWidth;
  if (w<= 640) {
    $(".desktop").addClass("removed");
    $(".mobile").removeClass("removed");
  } else {
    $(".desktop").removeClass("removed");
    $(".mobile").addClass("removed");
  }
}
</script>


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
