<div class="body welcome">
  <div class="gray--background">
    <div class="home--main">
      <div class="parentflex">
        <div class="flexbox">
          <div class="featured divfeatured">
            <% publishedPosts = @posts_approved %>
            <div class="featured individual">
              <div class="featured_img">
                <%=link_to(image_tag(publishedPosts.first.thumbnail.url(:large2), alt: publishedPosts.first.title, :id => "image_thumbnail"), publishedPosts.first )%>
              </div>
              <h3 class="article_title"><a href="#"><%= link_to publishedPosts.first.title, publishedPosts.first %></a></h3>
              <p class="date"><%= publishedPosts.first.created_at.strftime("%A, %b %d")%></p>
            </div>
          </div>
          <div class="articles2-6">
            <% publishedPosts[1..4].each do |post| %>
              <div class="thumbnail">
                <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title, :class => "image_thumbnail"), post )%>
                <div class="thumbnail--container">
                  <h3 class="article_title"><a href="#"><%= link_to post.title, post %></a></h3>
                  <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="signupdiv">
          <%= render 'signup' %>
        </div>
      </div>
    </div>
  </div>
  <% publishedPosts = Post.where(id: @posts_approved.drop(5).map(&:id))%>
  <% featuredPostIds = [] %>
  <div class="wrapper_home">
    <h1 class="section--title"><a href="/categories/entertainment">Entertainment</a></h1>
    <div class="flex--welcome">
      <div class="flex-1">
        <div class="ctgry_section">
          <% publishedPosts.where(meta_title: "Entertainment").all.order("created_at desc")[0..3].each do |post| %>
            <% featuredPostIds << post.id %>
            <div class="ctgry_article" style="width: 23%;">
              <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
              <h1><%= link_to post.title, post %></h1>
              <p><%= post.created_at.strftime("%A, %b %d")%></p>
              <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
            </div>
          <% end %>
        </div>
      </div>
  </div>
  <h1 class="section--title"><a href="/categories/academics">Academics</a></h1>
  <div class="flex--welcome">
    <div class="flex-1">
      <div class="ctgry_section">
        <% publishedPosts.where(meta_title: "Academics").all.order("created_at desc")[0..2].each do |post| %>
          <% featuredPostIds << post.id %>
          <div class="ctgry_article">
            <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
            <h1><%= link_to post.title, post %></h1>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
          </div>
        <% end %>
      </div>
      <h1 class="section--title"><a href="/categories/health-fitness">Health & Fitness</a></h1>
      <div class="ctgry_section">
        <% publishedPosts.where(meta_title: "Health & Fitness").all.order("created_at desc")[0..2].each do |post| %>
          <% featuredPostIds << post.id %>
          <div class="ctgry_article">
            <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
            <h1><%= link_to post.title, post %></h1>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
          </div>
        <% end %>
      </div>
      <div class="ctgry_grid_wrapper">
        <a class="applies" href="/apply"><img src="https://s3.amazonaws.com/theteenmagazine/3M0jhbo.jpg" /></a>
        <div class="ctgry_grid">
          <% publishedPosts.where(meta_title: "Health & Fitness").all.order("created_at desc")[3..6].each do |post| %>
            <% featuredPostIds << post.id %>
            <div class="ctgry_grid_article">
              <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title), post )%>
              <h1><%= link_to post.title, post %></h1>
              <p><%= post.created_at.strftime("%A, %b %d")%></p>
              <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="most_read contain_articles">
      <h1 class="section--title">Most Read</h1>
      <% @postsranking[0..9].each do |post| %>
      <div class="ctgry_article">
        <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title), post )%>
        <p class="paragraph">
          <%=link_to(post.title.truncate_words(20), post )%>
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <h1 id="recent_title" class="section--title">Recent Articles</h1>
  <div class="ctgry_section">
    <% publishedPosts = publishedPosts.where.not(id: featuredPostIds).order("created_at desc")%>
    <% publishedPosts.each_with_index do |post, index| %>
      <% if index < 3 %>
        <div style="margin-bottom: 20px;" class="ctgry_article recent">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post, class: "image_recent_articles" )%>
          <h1><%= link_to post.title, post %></h1>
          <p class="category"><%= link_to(post.category.name, post.category) %></p>
          <p><%= post.created_at.strftime("%A, %b %d")%></p>
          <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
        </div>
      <% else %>
        <div class="rcnt_article">
          <div class="article_description">
            <h1><%= link_to post.title, post %></h1>
            <p class="category"><%= link_to(post.category.name, post.category) %></p>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
          </div>
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post, class: "image_recent_articles" )%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
