<div class="col-2 homepage_content">
  <% @posts.each do |post| %>
    <div class="thumbnail">
      <%=link_to(image_tag(post.image, :class => "image_thumbnail"), post )%>
    <h3 class="article_title"><a href="#"><%= link_to post.title, post %></a></h3>
    <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
    </div>
  <% end %>
</div>

<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2 class="About">About Me</h2>
    <hr class="About">
    <div class="profilepic">
    </div>

    <p>Hi! My name is Mia. I'm a 16 year-old high school student &amp; aspiring developer
      living in Santa Rosa, California.</p>
    <p>I spend a lot of my time studying, programming, and learning
      to program.</p>
      <p>I have an app on the app store called <a href="#">Times Table Math</a>.
      It won the Congressional App Challenge in 2016 and has been written about in the
      <a href="http://www.pressdemocrat.com/news/6411472-181/santa-rosa-teen-named-winner?artslide=0">Press Democrat</a>.</p>
      <p>Since then, I have built <a href="#">this blog</a> to learn Ruby on Rails,
      but I plan to use it to document my journey of programming and creating future projects.</p>
    <p>You can contact me on Twitter at <a href="https://twitter.com/johanssonmia09"><i>@johanssonmia9</i></a> or Instagram at <a href="https://www.instagram.com/miajohansson9/"><i>@miajohansson9</i></a>.
      Or feel free to email me at <a href="mailto:johansson.mia09@gmail.com" target="_top">@johansson.mia09@gmail.com</a></p>
  </div>

  <div class="col-3 homepage_content">
    <h2>My Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d")%></p>
    <% end %>
  </div>
</div>
