<div class="body welcome">
  <div class="gray--background">
    <div class="home--main">
      <%= render "welcome/partials/hero", cached: true %>
    </div>
  </div>
  <div class="wrapper_home">
    <h1 class="section--title"><%= link_to @category_1.name, @category_1 %></h1>
    <div class="flex--welcome">
      <div class="flex-1">
        <%= render "welcome/categories/category_1" %>
        <h1 class="section--title"><%= link_to @category_2.name, @category_2 %></h1>
        <div class="content_hint"></div>
        <%= render "welcome/categories/category_2" %>
        <h1 class="section--title"><%= link_to @category_3.name, @category_3 %></h1>
        <%= render "welcome/categories/category_3" %>
      </div>
      <div class="most_read contain_articles">
        <h1 class="mt-4 section--title"><%= link_to "#Trending", "/trending" %></h1>
        <%= render_async get_trending_posts_path, retry_count: 3 %>
        <div class="content_hint"></div>
      </div>
    </div>
    <h1 class="section--title"><%= link_to @category_4.name, @category_4 %></h1>
    <div class="flex--welcome">
      <div class="flex-1">
        <%= render "welcome/categories/category_4" %>
      </div>
      <div class="most_read contain_articles">
        <div class="ads_wrapper">
          <div class="content_hint"></div>
        </div>
        <br>
      </div>
    </div>
    <div class="content_hint"></div>
    <h1 class="section--title"><a href="/search">Recent articles</a></h1>
      <%= render "welcome/partials/recents" %>
    <div class="content_hint"></div>
  </div>
</div>
