<div class="body welcome">
  <div class="gray--background">
    <div class="home--main">
      <div class="parentflex">
        <div class="flexbox">
          <div class="featured divfeatured">
            <% publishedPosts = @posts_approved %>
            <div class="featured individual">
              <div class="featured_img">
                <%=link_to(image_tag(publishedPosts.first.thumbnail.url(:large2), alt: publishedPosts.first.title, :id => "image_thumbnail"), publishedPosts.first )%>
              </div>
              <h3 class="article_title"><%= link_to publishedPosts.first.title, publishedPosts.first %></h3>
              <p class="date"><%= publishedPosts.first.publish_at.strftime("%A, %b %d")%></p>
            </div>
          </div>
          <div class="articles2-6">
            <% publishedPosts[1..4].each do |post| %>
              <div class="thumbnail">
                <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title, :class => "image_thumbnail"), post )%>
                <div class="thumbnail--container">
                  <h3 class="article_title"><%= link_to post.title.truncate_words(14), post %></h3>
                  <p class="date"><%= post.publish_at.strftime("%A, %b %d")%></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="signupdiv">
          <%= render 'signup' %>
        </div>
      </div>
    </div>
  </div>
  <% publishedPosts = Post.where(id: @posts_approved.drop(5).map(&:id))%>
  <% featuredPostIds = [] %>
  <div class="wrapper_home">
  <h1 class="section--title"><a href="/categories/student-life">Student Life</a></h1>
  <div class="flex--welcome">
    <div class="flex-1">
      <div class="ctgry_section" style="margin-top: -20px;">
        <% publishedPosts.where(:category_id => Category.friendly.find("student-life").id).all.order("publish_at desc")[0..2].each do |post| %>
          <% featuredPostIds << post.id %>
          <div class="ctgry_article" style="margin-top: 20px;">
            <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
            <h1><%= link_to post.title, post %></h1>
            <p><%= post.publish_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
          </div>
        <% end %>
      </div>
      <h1 class="section--title"><a href="/categories/culture">Op-ed</a></h1>
      <div class="ctgry_section" style="margin-top: -20px;">
        <% publishedPosts.where(:category_id => Category.friendly.find("opinion").id).all.order("publish_at desc")[0..2].each do |post| %>
          <% featuredPostIds << post.id %>
          <div class="ctgry_article" style="margin-top: 20px;">
            <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
            <h1><%= link_to post.title, post %></h1>
            <p><%= post.publish_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
          </div>
        <% end %>
      </div>
      <h1 class="section--title"><a href="/categories/culture">Culture</a></h1>
      <div class="ctgry_section" style="margin-top: -20px;">
        <% publishedPosts.where(:category_id => Category.friendly.find("culture").id).all.order("publish_at desc")[0..2].each do |post| %>
          <% featuredPostIds << post.id %>
          <div class="ctgry_article" style="margin-top: 20px;">
            <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
            <h1><%= link_to post.title, post %></h1>
            <p><%= post.publish_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="most_read contain_articles">
      <div class="ads_wrapper">
        <!-- Homepage 1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4566416931763342"
             data-ad-slot="2546543885"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <br>
      <h1 class="section--title">Trending Articles</h1>
      <% @postsranking.each_with_index do |post, index| %>
      <div class="ctgry_article" style="margin-bottom: 10px;">
        <h6 class="number"><%= index + 1 %>.</h6><h6 class="trending_title"><i><%=link_to(post.title.truncate_words(20), post )%></i> by <%= link_to(post.user.full_name, post.user) %></h6>
      </div>
      <% end %>
    </div>
  </div>
  <h1 class="section--title"><a href="/categories/lifestyle">Lifestyle</a></h1>
  <div class="flex--welcome">
    <div class="flex-1">
      <div class="ctgry_section" style="margin-top: -20px;">
        <% publishedPosts.where(:category_id => Category.friendly.find("lifestyle").id).all.order("publish_at desc")[0..5].each do |post| %>
          <% featuredPostIds << post.id %>
          <div class="ctgry_article" style="margin-top: 20px;">
            <%=link_to(image_tag(post.thumbnail.url(:large2), alt: post.title), post )%>
            <h1><%= link_to post.title, post %></h1>
            <p><%= post.publish_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(15) %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="most_read contain_articles">
      <div class="ads_wrapper">
        <!-- Homepage 1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4566416931763342"
             data-ad-slot="2546543885"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <br>
    </div>
  </div>
  <h1 id="recent_title" class="section--title">Recent Articles</h1>
  <div class="ctgry_section">
    <% publishedPosts = publishedPosts.where.not(id: featuredPostIds).order("publish_at desc")%>
    <% publishedPosts.each_with_index do |post, index| %>
      <% if index < 3 %>
        <div style="margin-bottom: 20px;" class="ctgry_article recent">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post, class: "image_recent_articles" )%>
          <h1><%= link_to post.title, post %></h1>
          <p class="category"><%= link_to(post.category.name, post.category) %></p>
          <p><%= post.publish_at.strftime("%A, %b %d")%></p>
          <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
        </div>
      <% else %>
        <div class="rcnt_article">
          <div class="article_description">
            <h1><%= link_to post.title, post %></h1>
            <p class="category"><%= link_to(post.category.name, post.category) %></p>
            <p><%= post.publish_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
          </div>
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post, class: "image_recent_articles" )%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'mailchimp' %>
