<div class="body welcome">
  <div class="gray--background">
    <div class="home--main">
      <div class="parentflex">
        <div class="flexbox">
          <div class="featured divfeatured">
            <% if @posts_approved %>
            <% filteredPosts = @posts_approved %>
              <div class="featured individual">
                <div class="featured_img">
                  <%=link_to(image_tag(filteredPosts.first.thumbnail.url(:large2), alt: filteredPosts.first.title, :id => "image_thumbnail"), filteredPosts.first )%>
                </div>
                <h3 class="article_title"><a href="#"><%= link_to filteredPosts.first.title, filteredPosts.first %></a></h3>
                <p class="date"><%= filteredPosts.first.created_at.strftime("%A, %b %d")%></p>
              </div>
            <% end %>
          </div>
          <div class="articles2-6">
            <% if filteredPosts %>
            <% filteredPosts[1..4].each do |post| %>
              <div class="thumbnail">
                <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title, :class => "image_thumbnail"), post )%>
                <div class="thumbnail--container">
                  <h3 class="article_title"><a href="#"><%= link_to post.title, post %></a></h3>
                  <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="signupdiv">
          <%= render 'signup' %>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper_home">
    <h1 class="section--title"><a href="/categories/entertainment">Entertainment</a></h1>
    <div class="flex--welcome">
      <div class="flex-1">
        <div class="beauty--section">
          <% @number = 0 %>
          <!-- @posts not working / method 'each' not defined error -->
          <% Post.entertainment.all.order("created_at desc").each do |post_entertainment| %>
            <% if ((filteredPosts[0..5].include? post_entertainment) == false) && @number < 4 %>
            <div class="one_beauty_article"  style="width: 23%;">
              <%=link_to(image_tag(post_entertainment.thumbnail.url(:large2), alt: post_entertainment.title), post_entertainment )%>
              <h1><%= link_to post_entertainment.title, post_entertainment %></h1>
              <p><%= post_entertainment.created_at.strftime("%A, %b %d")%></p>
              <p class="meta"><%= post_entertainment.meta_description.truncate_words(20) %></p>
            </div>
            <% @number += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>

  <h1 class="section--title"><a href="/categories/academics">Academics</a></h1>
  <div class="flex--welcome">
    <div class="flex-1">
      <div class="beauty--section">
        <% @number = 0 %>
        <% @posts_approved_academics.each do |post_academics| %>
          <% if ((filteredPosts[0..4].include? post_academics) == false) && @number < 3 %>
          <div class="one_beauty_article">
            <%=link_to(image_tag(post_academics.thumbnail.url(:large2), alt: post_academics.title), post_academics )%>
            <h1><%= link_to post_academics.title, post_academics %></h1>
            <p><%= post_academics.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post_academics.meta_description.truncate_words(15) %></p>
          </div>
          <% @number += 1 %>
          <% end %>
        <% end %>
      </div>
      <div class="entertainment--section">
        <h1 class="section--title"><a href="/categories/get-involved">Get Involved</a></h1>
        <div class="entertainment">
          <% @number = 0 %>
          <% @posts_approved_getinvolved.each do |posts_getinvolved| %>
            <% if ((filteredPosts[0..4].include? posts_getinvolved) == false) && @number < 3 %>
              <div class="entertainment_article">
                <%=link_to(image_tag(posts_getinvolved.thumbnail.url(:large2), alt: posts_getinvolved.title), posts_getinvolved )%>
                <h1><%= link_to posts_getinvolved.title, posts_getinvolved %></h1>
                <p><%= posts_getinvolved.created_at.strftime("%A, %b %d")%></p>
                <p class="meta"><%= posts_getinvolved.meta_description.truncate_words(15) %></p>
              </div>
              <% @number += 1 %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="flex_entertainment_wrapper">
        <a class="applies" href="/apply"><img src="https://s3.amazonaws.com/theteenmagazine/3M0jhbo.jpg" /></a>
        <div class="entertainment_grid_container">
          <div class="articles2-6">
            <% @posts_approved_health.each do |post_health| %>
              <% if ((filteredPosts[0..4].include? post_health) == false) && @number < 4 && @number > 1 %>
             <div class="thumbnail">
               <%=link_to(image_tag(post_health.thumbnail.url(:medium), alt: post_health.title, :class => "image_thumbnail"), post_health )%>
               <div class="thumbnail--container">
                 <h3 class="article_title"><a href="#"><%= link_to post_health.title, post_health %></a></h3>
                 <p class="date"><%= post_health.created_at.strftime("%A, %b %d")%></p>
               </div>
             </div>
           <% end %>
           <% end %>


         </div>

        </div>
      </div>
    </div>


   <div class="most_read">
      <h1 class="section--title">Most Read</h1>
      <% @postsranking[0..9].each do |post| %>
      <div class="one_article">
        <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title), post )%>
        <p class="paragraph">
          <%=link_to(post.title.truncate_words(20), post )%>
        </p>
      </div>
      <% end %>
    </div>
  </div>


    <% @num_of_academics = 2 %>
    <% @posts_approved_academics.each do |post_academics| %>
      <% if ((filteredPosts[0..4].include? post_academics) == true) %>
      <% @num_of_academics += 1 %>
      <% end %>
    <% end %>

    <% @num_of_health = 5 %>
    <% @posts_approved_health.each do |post_health| %>
      <% if ((filteredPosts[0..4].include? post_health) == true) %>
      <% @num_of_health += 1 %>
      <% end %>
    <% end %>

    <h1 style="margin-top: 0;" class="section--title">Recent Articles</h1>
    <div class="three--section">
      <% @number = 0 %>
      <% @posts_approved.each do |post| %>
        <% if ((@posts_approved_academics[0..@num_of_academics].include? post) == false) && ((@posts_approved_health[0..@num_of_health].include? post) == false) && ((filteredPosts[0..4].include? post) == false) %>
        <% if @number < 3 %>
        <div class="one_article desktop">
          <%=link_to(image_tag(post.thumbnail.url(:medium), alt: post.title), post )%>
          <h1><%= link_to post.title, post %></h1>
          <p><%= post.created_at.strftime("%A, %b %d")%></p>
          <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
        </div>
        <% if @number == 0 %>
        <div class="list--articles mobile removed" style="border: none; margin-top: -20px;">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post )%>
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <% if post.category_id != nil %>
            <p class="category"><%= link_to(post.meta_title, Category.find(post.category_id)) %></p>
            <% end %>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
          </div>
        </div>
        <% else %>
        <div class="list--articles mobile removed">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post )%>
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <% if post.category_id != nil %>
            <p class="category"><%= link_to(post.meta_title, Category.find(post.category_id)) %></p>
            <% end %>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
          </div>
        </div>
        <% end %>
        <% @number += 1 %>
        <% else %>
        <div class="list--articles desktop">
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <% if post.category_id != nil %>
            <p class="category"><%= link_to(post.meta_title, Category.find(post.category_id)) %></p>
            <% end %>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
          </div>
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post, class: "image_recent_articles" )%>
        </div>
        <div class="list--articles mobile removed">
          <%=link_to(image_tag(post.thumbnail.url(:large), alt: post.title), post, class: "image_recent_articles" )%>
          <div class="article--description">
            <h1><%= link_to post.title, post %></h1>
            <% if post.category_id != nil %>
            <p class="category"><%= link_to(post.meta_title, Category.find(post.category_id)) %></p>
            <% end %>
            <p><%= post.created_at.strftime("%A, %b %d")%></p>
            <p class="meta"><%= post.meta_description.truncate_words(20) %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
</div>

<script>
$(document).ready(function() {
  var w = window.innerWidth;
  if (w<= 640) {
    $(".desktop").addClass("removed");
    $(".mobile").removeClass("removed");
  } else {
    $(".desktop").removeClass("removed");
    $(".mobile").addClass("removed");
  }
});
document.getElementsByTagName("BODY")[0].onresize = function() {myFunction()};
var x = 0;
function myFunction() {
  var w = window.innerWidth;
  if (w<= 640) {
    $(".desktop").addClass("removed");
    $(".mobile").removeClass("removed");
  } else {
    $(".desktop").removeClass("removed");
    $(".mobile").addClass("removed");
  }
}
</script>


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
