<div id="banner_writing" class="editor"></div>
<div class="apply_wrapper pitch_form_wrapper">
  <h1 id="page_title_padded">Writer Resources</h1>
  <% @highlighted_pages.each do |page| %>
    <p> *
        <u><%= link_to(page.title, page) %></u>
        <% @user= User.find_by(id: page.user_id) %>
        <% if @user.present? %>
            by <%= link_to(@user.full_name, user_path(@user)) %>
        <% end %>
        <% @category = Category.find_by(id: page.category_id) %>
        <% if @category %>
            in <%= @category.name %>
        <% end %>
    </p>
  <% end %>
  <% @all_pages.each do |page| %>
    <p>
        <u><%= link_to(page.title, page) %></u>
        <% @user= User.find_by(id: page.user_id) %>
        <% if @user.present? %>
            by <%= link_to(@user.full_name, user_path(@user)) %>
        <% end %>
        <% @category = Category.find_by(id: page.category_id) %>
        <% if @category %>
            in <%= @category.name %>
        <% end %>
    </p>
  <% end %>
  <% if current_user.is_manager? %>
    <div id="admin_links" style="border-top: 1px solid #E9E9E9;border-bottom: 1px solid #E9E9E9;text-align: center;padding: 1em 0;margin: 1em 0;margin-top: 0;">
        <%= link_to "New Page", new_page_path, style: "text-decoration: none;color: #9a9da4;margin: 0 1em;font-weight: 700;font-size: .8em;text-transform: uppercase;font-family: inherit;" %>
    </div>
  <% end %>
  <% if current_user.editor? %>
    <h1 id="page_title_padded">Editor Resources</h1>
      <% @editor_pages.each do |page| %>
     <p>
        <u><%= link_to(page.title, page) %></u>
        <% @user= User.find_by(id: page.user_id) %>
        <% if @user.present? %>
            by <%= link_to(@user.full_name, user_path(@user)) %>
        <% end %>
        <% @category = Category.find_by(id: page.category_id) %>
        <% if @category %>
            in <%= @category.name %>
        <% end %>
    </p>
  <% end %>
  <% end %>
  <% if current_user.is_manager? %>
    <div id="admin_links" style="border-top: 1px solid #E9E9E9;border-bottom: 1px solid #E9E9E9;text-align: center;padding: 1em 0;margin: 1em 0;margin-top: 0;">
        <%= link_to "New Page", new_page_path, style: "text-decoration: none;color: #9a9da4;margin: 0 1em;font-weight: 700;font-size: .8em;text-transform: uppercase;font-family: inherit;" %>
    </div>
  <% end %>
</div>