<div class="category">
  <div class="category--show">
   <div class="other--articles">
     <div class="flex">
        <div class="container">
          <h3 class="mt-4 mb-4">Articles chosen for TTM's newsletter</h3>
          <p><i>Each Thursday, five articles from this list will be sent out to all of The Teen Magazine's email subscribers. Articles that are included in the newsletter are automatically taken off from this list.</i></p>
          <p>Current count: <%= @posts.count %></p>
          <% @posts.each do |post| %>
            <div class="thumbnail">
              <div class="container--image">
                <%=link_to(image_tag(post.thumbnail.url(:large2), :class => "image_thumbnail"), post )%>
              </div>
              <div class="thumbnail--container">
                <p class="date_post_preview"><%= post.category.name %></p>
                <h3 class="article_title"><%= link_to post.title, post %></h3>
                <p class="date_post_preview"><%= post.publish_at.strftime("%A, %b %d")%></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
