<div class="category">
  <div class="category--show">
    <div class="other--articles">
      <div class="flex">
        <div class="container">
          <div class="flex_horizontal search_wrapper">
            <%= form_for(:search, method: :get, :html => {:class => 'form-inline d-flex justify-content-left md-form form-sm active-theme-2 mt-2'}) do |f| %>
              <%= f.text_field :query, class: "form-control form-control-sm mr-3", style: "flex: 1;", placeholder: "Searching in #{@filter.titleize}" %>
              <%= f.hidden_field :filter, value: @filter %>
            <% end %>
            <%= form_for(:search, method: :get, :html => {:class => 'form-inline d-flex  justify-content-left md-form form-sm active-theme-2 mt-2', style: "flex: 1;"}) do |f| %>
              <%= button_tag(class: "btn_no_style", name: "filter", value: @next) do %>
                <svg width="40px" height="40px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8 mb-2" role="img" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
              <% end %>
            <% end %>
          </div>
          <% if @query.present? %>
            <h2>Searching for... <span style="background-color: #FCD04D"><%= @query %></span></h2>
            <br>
          <% end %>
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="thumbnail">
                <div class="container--image">
                  <%=link_to(image_tag(post.thumbnail.variant(resize_to_fill: [540,340], format: 'webp'), :class => "image_thumbnail"), post )%>
                </div>
                <div class="thumbnail--container">
                  <h3 class="article_title"><%= link_to post.title, post %></h3>
                  <%= render 'posts/partials/views_and_comments', post: post %>
                  <p class="date"><%= date_to_words(post.publish_at) %></p>
                </div>
              </div>
            <% end %>
            <%== pagy_nav(@pagy).html_safe %>
          <% elsif @users.present? %>
            <% @users.each do | user | %>
              <%= render :partial => 'users/profile', locals: {user: user}, cached: true %>
            <% end %>
            <%== pagy_nav(@pagy).html_safe %>
          <% else %>
            <p style="margin-top: -10px;">Your search did not have any results.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
