<div class="category">
  <div class="category--show">
    <div class="other--articles">
      <div class="flex">
        <div class="container">
          <div class="flex_horizontal search_wrapper">
            <%= form_for(:search, method: :get, :html => {:class => 'form-inline d-flex justify-content-left md-form form-sm active-theme-2 mt-2'}) do |f| %>
              <%= f.text_field :query, class: "form-control form-control-sm mr-3", style: "flex: 1;", placeholder: "Searching in #{@filter.titleize}" %>
              <%= f.hidden_field :filter, value: @filter %>
            <% end %>
            <%= form_for(:search, method: :get, :html => {:class => 'form-inline d-flex  justify-content-left md-form form-sm active-theme-2 mt-2', style: "flex: 1;"}) do |f| %>
              <%= button_tag(class: "btn_no_style", name: "filter", value: @next) do %>
                <svg width="40px" height="40px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8 mb-2" role="img" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
              <% end %>
            <% end %>
          </div>
          <% if @query.present? %>
            <h2>Searching for... <span style="background-color: #FCD04D"><%= @query %></span></h2>
            <br>
          <% end %>
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="thumbnail d-flex">
                <div class="child container--image">
                  <%=link_to(post) do %>
                    <div class="w-100 position-relative">
                      <% if post.rank.present? && post.rank <= 1 %>
                          <span class="badge badge-pink" style="position: absolute; z-index: 10000; top: 5px; left: 5px;">trending in <%= post.category.name %> 🔥</span>
                      <% end %>
                      <%= render 'posts/partials/header_image', post: post, img_class: "image_thumbnail" %>
                    </div>
                  <% end %>   
                </div>
                <div class="child category-show recent">
                  <h3 class="mb-3 pl-3 pr-3" style="line-height: 0.8"><%= link_to post.title, post %></h3>
                  <div class="d-flex justify-content-center">
                    <div class="d-table-cell align-middle">
                      <div class="author d-inline">
                        <% @profile = post.user.profile.attached? ? post.user.profile.variant(resize_to_fill: [100,100]) : "profile_image.jpg" %>
                        <%= image_tag(@profile, :class => "profile_img", :style => "max-width: 20px !important; min-width: 20px !important; height: 20px;") %>
                        <%= link_to("#{post.user.full_name}, ", post.user, class: 'date') %>
                      </div>
                      <span><%= date_to_words(post.publish_at) %></span>
                    </div>
                  </div>
                  <p class="date_post_preview mb-0"><%= post.category.name %></p>
                  <%= render 'posts/partials/views_and_comments', post: post %>
                </div>
              </div>
            <% end %>
            <%== pagy_nav(@pagy).html_safe %>
          <% elsif @users.present? %>
            <% @users.each do | user | %>
              <%= render :partial => 'users/profile', locals: {user: user}, cached: true %>
            <% end %>
            <%== pagy_nav(@pagy).html_safe %>
          <% else %>
            <p style="margin-top: -10px;">Your search did not have any results.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
