<%= image_tag "subscribe_background.jpg", id: "banner_writing" %>
<div class="apply_wrapper">
  <h2>The Teen Magazine · May Issue</h2>
    <br>
  <h4><i>A special thanks to this month's magazine issue writers and designers:</i></h4>
  <span>
    <%= link_to("Malak Yousry - Creative Director", "https://theteenmagazine.com/writers/malak-yousry", :target => "_blank", :class => "link_nrml") %>,
    <%= link_to("Khushi Gupta - Creative Director", "https://theteenmagazine.com/writers/khushi-gupta", :target => "_blank", :class => "link_nrml") %>,
    <%= link_to("Jane Park - Visual Designer", "https://theteenmagazine.com/writers/jane-park", :target => "_blank", :class => "link_nrml") %>,
    <%= link_to("Jessica Zhu - Visual Designer", "https://theteenmagazine.com/writers/jessica-zhu", :target => "_blank", :class => "link_nrml") %>,
    <%= link_to("Jennifer Xia - Visual Designer", "https://theteenmagazine.com/writers/jennifer-xia", :target => "_blank", :class => "link_nrml") %>,
    <%= link_to("Nameeda Elmi - Visual Designer", "https://theteenmagazine.com/writers/nameeda-elmi", :target => "_blank", :class => "link_nrml") %>,
    <%= link_to("Chayanon Kesorn - Visual Designer", "https://www.theteenmagazine.com/writers/chayanon-kesorn", :target => "_blank", :class => "link_nrml") %>
  </span>
  <br>
  <br>
  <%= image_tag("may_2021_cover.png", :class => "image_fit_scrn") %>
  <br>
  <br>
  <h4><i>Enter your email to receive this month's magazine issue:</i></h4>

<!--End mc_embed_signup-->
  <%= form_for(:pages, url:"/may_2021_tlGBoVMpUl-plNiPQNtMe-vGpXaueoqO-sNXaXqCOzW") do |f| %>
    <br>
    <%= f.check_box :sub, :checked => true %>
    <span>Subscribe to The Teen Magazine newsletter and receive all future monthly issues.</span>
    <br>
    <br>
    <%= f.text_field :email, placeholder: "Email Address", :style => "margin-bottom: 25px;", required: true, id: "email", onkeyup: "isFormButtonDisabled('#email')"%>
    <br>
    <div class="btn_cntnr" style="float: none; position: relative; padding-bottom: 0;">
      <%= f.button "Get May Issue", class: "newpost--new--profile submit_modal disabled", id: "submit-comment-modal-button" %>
    </div>
  <% end %>

  <i style="opacity: 50%;">
    This magazine issue is currently only available in pdf form.
  </i>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    isFormButtonDisabled('#email');
  });

  function isFormButtonDisabled(input) {
    var input = $(input).val();
    if (input.includes('@')) {
      $('#submit-comment-modal-button').removeClass("disabled");
    } else {
      $('#submit-comment-modal-button').addClass("disabled");
    }
  };
</script>
