<div class="skinny_wrapper team">
  <h1 id="page_title">About Us</h1>
  <div class="about">
    <img id="main" src="https://pbs.twimg.com/media/DM7BlLDVAAA5AKb.jpg" />
    <p>
      Founded in 2017 by Mia Johansson, The Teen Magazine started as a blog with a few writers. Since then, it has grown into an international online magazine
      with over 150 writers from around the world. Mia made the website with the initial purpose of learning Ruby on Rails and Git for one of her computer science internships.
      She never thought The Teen Magazine would be anything more than a hobby, but after seeing the excitement of her new writers, Mia felt inspired to grow the website.
      Today The Teen Magazine gives aspiring journalists a platform to publish, and, after the fires
      in Mia's hometown of Santa Rosa, has helped make a difference in her community by fundraising for fire victims.
    </p>
  </div>
  <h1 id="page_title">Meet The Teen Magazine Team</h1>
  <h3>Editors</h3>
  <div class="flex--profile">
    <% @users.each do |user| %>
       <% if user.editor == true %>
           <div class="featured">
             <% if user.profile.exists? %>
               <%= image_tag(user.profile.url(:square), :class => "profile_img") %>
             <% else %>
               <%= image_tag("https://isw.fbk.eu/sites/isw2015.fbk.eu/files/Profilo_2.jpg", :class => "profile_img") %>
             <% end %>
             <h6><%= user.full_name %></h6>
           </div>
       <% end %>
    <% end %>
  </div>
  <h3>Featured Writers</h3>
  <div class="flex--profile">
    <% @users.each do |user| %>
       <% if Post.where(user_id: user.id).exists? %>
            <div class="featured">
              <% if user.profile.exists? %>
                <%= image_tag(user.profile.url(:square), :class => "profile_img") %>
              <% else %>
                <%= image_tag("https://isw.fbk.eu/sites/isw2015.fbk.eu/files/Profilo_2.jpg", :class => "profile_img") %>
              <% end %>
              <h6><%= user.full_name %></h6>
            </div>
       <% end %>
    <% end %>
  </div>
</div>
