<div class="skinny_wrapper writing">
  <h1 id="page_title">Writing The Perfect Article</h1>
  <p>
    <b class="yellow">Please read this entire tutorial before you write your first article.</b>
  </p>
  <p>Articles should be formatted so that they can be skimmmed over and be understandable. This means that your article should follow these basic requirements:</p>
  <ol>
    <li>No paragraphs should be more than four lines on desktop. </li>
    <li>Limit the use of "I" and "my".</li>
    <li>Articles should have at least one image, preferably more.</li>
    <li>Articles should be split up into multple sections with headers. Avoid one worded headers if you can. Be creative!</li>
  </ol>

  <p>Additionally, articles should be at minimum 300 words. Shorter articles should also have lots of images.</p>

  <h3>Articles Should Follow This Structure:</h3>
  <p>
    - <b>Title:</b> Titles should be at least six words long. They should reflect keywords that people are searching for and be unique.
  </p>
  <p>
    - <b>Introductory Paragraph:</b> The first few sentences are the most important for SEO (Search Engin Optimization) and therefore should be descriptive and include words that describe what the article is going to be about. <i>Do not start your article with something like "Hey!" or "Hi everyone!" or reference your last article.</i>
  </p>
  <img class="image" src="http://i.imgur.com/212OZEZ.png" />
  <p>
    - <b>Headers:</b> Your Article needs to be split up with descriptive headers. To make it easier to include headers, make your title something like: 7 steps to having healthy hair or 10 best places in the world to travel for your senior trip.
  </p>
  <p>
    - <b>Images:</b> You don't need to have an image for every point you make, but a good idea is to have an image for every other point that you make. At minimum, there should be at least one image in your article, preferably more. You cannot use just any picture you find on the web. To read about where you can find images, read <a href="/finding-images">Finding Images</a>.
  </p>
  <%= image_tag("2.png", :class=>"image")%>
  <p>
    - <b>Paragraphs:</b> Paragraphs should never be more than four lines, and should be split up wherever possible. A concluding paragraph is not necessary.
  </p>
  <%= image_tag("3.png", :class=>"image")%>

  <h1>Formatting Your Articles</h1>
  <img src="http://i1074.photobucket.com/albums/w412/mjohansson9/colorcode_zpse3zifzvp.jpg" />
  <ol>
    <li><p style="color: #ff00aa; display: inline;">Source:</p> Changes the text to the source code (HTML and CSS). Use this button when embedding youtube videos or instagram/twitter widgets. See instructions for doing this.</li>
    <li><p style="color: #00a9ff; display: inline;">Format:</p> This button for changing the size of headers. Use Heading 1 for the main topics in your article and the others for subheaders.</li>
    <li><p style="color: #a940de; display: inline;">Links:</p> See instructions for adding links.</li>
    <li><p style="color: #00d400; display: inline;">Images:</p> See instructions for adding images.</li>
    <li><p style="color: #0055ff; display: inline;">Lists:</p> Use these buttons to add ordered and unordered lists.</li>
  </ol>

  <h3>Links</h3>
  <p style="margin-bottom: 10px;">To add a link, first highlight the text you want to add the link to, then click on the infinity symbol (purple box). Next, enter the link in the URL box.</p>
  <img class="image" src="http://i.imgur.com/RtX7Zf1.png"/>
  <p style="margin-top: 20px; margin-bottom:10px;">IMPORTANT: For all links, you must change the target setting to "New Window (_blank)".</p>
  <img class="image" src="http://i.imgur.com/UGb2fG9.png"  />

  <div class="writing--images">
    <h3>Images</h3>
    <p>
      To add an image, click on the image symbol boxed in green. You may choose to either use a url or upload your own image. You can also add a link to your image under the Link tab. If you do, make sure you change the target to "New Window (_blank)". When uploading your own image, make sure to click "Send it to the Server" after choosing a file.
    </p>
    <p>IMPORTANT: Taking the url link directly from Pintrest or Instagram does not work. Instead, follow these directions:</p>
    <h4>Pintrest:</h4>
    <p>Right click on the image, and select "copy image address"</p>
    <%= image_tag("5.png", :class=>"image")%>
    <p>Alternatively, you can search for the image on google by saving the image from pintrest onto your desktop, and then dragging it into google's image search. You can then use the direct link from google. For more information go <a href="https://support.google.com/websearch/answer/1325808?hl=en">here</a>.</p>
    <h4>Instagram:</h4>
    <p>
      First, click "Source" in your toolbar to change to HTML and CSS. It will look a little weird, but that's okay.
    </p>
    <p>Next, select the image you want to use and click on the [...] in the bottom right corner.</p>
    <%= image_tag("6.png", :class=>"image")%>
    <p>Select embed and copy the code.</p>
    <%= image_tag("8.png", :class=>"image")%>
    <p>Paste the copied code into your article (remember, "Source" needs to be activated before doing this).</p>
    <img class="image" src="http://i.imgur.com/ruOcdsM.png" />
    <p style="margin-top: 30px; background-color: yellow; display: inline-block; padding: 5px;">You can do the same thing with Twitter widgets and Youtube videos.</p>
    <h4 style="margin-top: 10px;">Twitter:</h4>
    <p>
      For Twitter, click on a tweet to open it, and then click on the downwards arrow in the top right. Finally click on "Embed" to copy the code.
    </p>
    <img class="image" src="http://i.imgur.com/hMmXaPf.png" />
    <h4>Youtube:</h4>
    <p>
      For Youtube, go to Share, then Embed.
    </p>
    <img class="image" src="http://i.imgur.com/kAlhUpl.png" />

    <h3>Uploading Images</h3>
    <p>
      To upload your own image, click on the image symbol boxed in green. Click on the "Upload" tab.
    </p>
    <img class="image" src="http://i.imgur.com/49VWtZP.png"/>
    <p>
      Then click on "Choose File" and choose an image from your computer.
    </p>
    <img class="image" src="http://i.imgur.com/B9ZmhQQ.png" />
    <p>
      <b>IMPORTANT!</b> You need to click on "Send it to the Server" before clicking "OK". This can take up to 10 seconds. It should automatically reroute you to "Image Info". The larger the image, the more time it takes.
    </p>
    <p>
      <b>"Image source URL is missing"</b>: If you get this error, it means that you did not click on "Send it to the Server", or your image is too large to be uploaded.
    </p>
    <img class="image" src="http://i.imgur.com/U55FGsI.png" />
  </div>

  <hr />

  <p>
    If you're confused about any of this styling, or want to do something specific, you can email Mia at <b>johansson.mia09@gmail.com</b>
  </p>

  <p>Read "<a href="/finding-images">Finding Images</a>" Next →</p>
</div>
