<div class="skinny_wrapper writing topics">
  <h1 id="page_title">Writing The Perfect Article</h1>
  <h3>Starting a Draft</h3>
  <p>
    To start an article, either pitch your own topic (follow the guidelines <a href="/choosing-a-topic" target="_blank">Here</a>), or choose from the existing editor pitches <a href="/pitches" target="_blank">Here</a>. Once your pitch gets approved and/or you claim an article pitch, a new draft will be started and become reachable through your writer dashboard under “Articles In Progress.” If you start the draft from an editor pitch, you will have a two week deadline to submit for review.
  </p>

  <h3>Working on a Draft</h3>

  <p>To navigate to the article edit form, scroll to the bottom of your started draft and click <b>Edit</b>. Please remember that the text editor does not save automatically, so you should be saving often. If you accidentally navigate away, the editor will warn you that you have unsaved changes.</p>
  <p>All articles should maintain a conversational tone and follow journalistic best practices. The basic structure is as follows:</p>
  <ol>
    <li>Clear introduction that makes the reader want to read further</li>
    <li>One sentence that summarizes the main point of the article in the introduction</li>
    <li>Body paragraphs, usually separated by headers</li>
    <li>Quotes, bolded text, embedded social media posts, images, stats, links to sources etc. where appropriate to highlight the most important information</li>
    <li>Conclusion reiterating the main takeaway from the article</li>
  </ol>

  <p>Articles tend to be around 1000 words, however the exact word count is not as important as whether there is enough content for the reader to have gained value, a new perspective, and/or learned something new. Remember that for content in an article to be relevant to The Teen Magazine, it must interest and/or be relatable to most teens.</p>

  <h3>Receiving Peer Feedback</h3>
  <p>If you need some help on your article, you can get other writers' feedback in the writer community. Simply click <b>Turn on Sharing</b> to allow other writers to comment. You can receive points by giving feedback to other writers. You can use these points to promote your shared draft(s) in the writer community and boost incentives for other writers to help you. Comments given on promoted drafts are rewarded twice as many points. If there is something specific that you want other writers' opinions/help on, make a comment explaining what you're unsure about.</p>

  <h3 id="article-requirements">Article Requirements for Publication</h3>
  <p>The below questions are used by editors to determine if an article is ready for publication. Make sure that you can answer <b>Yes</b> to all these requirements before submitting for review.</p>
  <h5>1. Is the topic relevant to The Teen Magazine's audience?</h5>
  <p>An article is relevant to The Teen Magazine’s audience if it addresses a topic, experience, and/or problem that is felt by, or of interest to, some or most teens. For more information, see <a target="_blank" href="/choosing-a-topic">Pitch Requirements</a>.</p>
  <h5>2. Is the title searchable and/or shareable?</h5>
  <p>A title is shareable if it is interesting and can reasonably spark curiosity and/or some other emotion. Some great examples of shareable titles are "How Dressing Like Blair Waldorf Helped Me Take My SATs," "The Stages of All High School Relationships from an Outsider," "Why You Might Find It Hard to Make Deep Friendships," while vague, non-specific titles such as "Loving Your Body" will not be approved. When crafting your title it can be useful to type it into the headline analyzer tool found here: <a href="https://aminstitute.com/headline/" target="_blank">https://aminstitute.com/headline/</a>. Nine times out of ten, a shareable title should have an Emotional Marketing Value (EMV) score over 30. However, this measure is a tool, not the rule. If the title is only a few words, this headline analyzer is not reliable and the title is likely too vague. Alternatively, a title is searchable if it contains keywords/phrases that would be reasonably typed into Google search. These titles are often questions, short responses, lists, etc. The topic should be specific enough that The Teen Magazine can come up in Google search. For example, “Cutest High School Romance Movies That Will Make You Cry” includes the keyword phrase "High School Romance Movies" which is a lot more specific than just “Best Netflix Movies."</p>
  <h5>3. Does the thumbnail image fit the criteria?</h5>
  <p>The thumbnail image should be relevant to the topic, not grainy, not cropped in a weird way, and not contain a mostly white background.</p>
  <h5>4. Is the main point of the article clear in the introduction?</h5>
  <p>On average, the amount of time a writer has to keep a reader around is 3-5 seconds. The introduction to every article should be written clearly and in a way that does not leave the reader wondering what the point of the article is, what the article will cover, to whom this article will be useful to, and why he/she should care. One way to do this is by having all of the following: an interesting hook that directly addresses the target reader and/or a common problem, 1-3 paragraphs establishing the Who, What, When, Where, Why, How, and a sentence summarizing the main point of the article. An example of a great introduction is from this article. It succeeds in keeping the reader interested through an interesting hook and establishing a clear direction for the article that is in line with the title within the first paragraph or two.</p>
  <h5>5. Does the writer provide a unique perspective and/or information?</h5>
  <p>Remember that your goal as a writer is to provide value to the reader and give them ideas they had not known or considered before. If the same 5 points are already covered in thousands of other articles on this topic, you are not doing this. To add to the journalistic conversation more, you could provide your own experience, interview friends/professionals, brainstorm more ideas, use more humor, etc.. Be creative!</p>
  <h5>6. Does the most important information <b><i>jump out of the page</i></b>?</h5>
  <p>The attention span of the modern internet user is very short. Therefore, the most important information in your article should always jump out of the page and allow for the article to be easily readable and skimmable. To achieve this, include images, quotes, bolded text, links, short paragraphs, headers, etc.. Please note that all headers (besides subtopics) should be Header 2 and unbolded.</p>
  <h5>7. Is the article entirely free from grammar and spelling mistakes?</h5>
  <p>All published articles should be free of grammar, punctuation, and/or spelling mistakes. This includes awkwardly phrased sentences and run-ons. Read your article aloud slowly and ensure that all sentences are easily understandable and flow well.</p>
  <h5>8. Is the article in-depth enough for this topic?</h5>
  <p>Editors use their best judgement to determine if the average reader will be satisfied given the information. List articles often should be longer (ie. giving 15+ examples rather than 5), however going more in-depth with each one can also suffice. As a rule of thumb, an article should be around 1000 words on <a href="https://wordcounter.net/" target="_blank">https://wordcounter.net/</a> but this is a guideline, not the rule. The most important thing is that the reader is given enough information in the article to have learned something new.</p>
  <h5>9. Do all the images fit the criteria?</h5>
  <p>All images in your article be high quality, free from watermarks, relevant to the article, and found via the guidelines specified in <a href="https://www.theteenmagazine.com/finding-images" target="_blank">Finding Images</a>.</p>

  <h3>Submitting a Draft</h3>
  <p>Once you are confident that your article meets all the <a href="#article-requirements">Article Requirements for Publication</a>, change your article's status to <b>Ready for Review</b> and <b>Save Changes</b>.
    An editor should claim the review and you should get an email within 5 days notifying you if your article has requested changes or is approved for publishing. On average, an article will receive three rounds of
    reviews before it will be approved for publishing. Requested changes will show up on the edit form of your article.
  </p>

  <h3>Using the Text Editor</h3>
  <p>Only editors are able to access the new article form (shown below). Your editor will look similar, only populated with content from your claimed pitch. The information below explains how to use the most important features.</p>
  <%= image_tag "texteditor.png" %>
  <h5>Source</h5>
  <p>Source changes the text to the source code (HTML and CSS). Use this button when embedding youtube videos or instagram/twitter widgets (explained below).</p>
  <p>
    To embed instagram articles, click <b>Source</b> in your toolbar to change to HTML and CSS. It will look a little weird, but that's okay.
  </p>
  <p>Next, select the image you want to use and click on the [...] in the bottom right corner.</p>
  <%= image_tag("embed_ig.gif", :class=>"image_fit_scrn")%>
  <p>Once you've copied the code, select <b>Source</b> and paste the code into your article.</p>
  <%= image_tag("embed_text.png", :class=>"image_fit_scrn")%>
  <p>Click source again to see the instagram preview. The image won't be loaded but that's normal. Once you click "Save Changes," you should see the loaded post.</p>
  <%= image_tag("embed_ig_preview.png", :class=>"image_fit_scrn")%>
  <p>If the image is not loading, delete all the code between the &lt;blockquote&gt;&lt;/blockquote&gt; and
    follow the directions for <a href="#fix-formatting">Fix Formatting Problems</a>. After doing that, follow the above steps again.</p>
  <p>For Twitter, load the tweet in a new page, and select the downwards arrow in the top right. Click on "Embed" to copy the code. Paste into the text editor in the same way as instagram posts.</p>
  <%= image_tag("twitter.png", :class=>"image_fit_scrn")%>
  <p>For Youtube, click on "Share" below the Youtube video you want to include. The popup shown below should be displayed. Then select "Embed" and copy the code. Paste into the text editor in the same way as instagram posts.</p>
  <%= image_tag("youtube.png", :class=>"image_fit_scrn")%>
  <h5>Format</h5>
  <p>The Format button changes the size of headers. Use Heading 2 for the main topics in your article and the smaller Header # for subheaders. Do not use <i>formatted</i>, <i>address</i>, or <i>Normal (DIV)</i>. If you accidentally select one of these options,
  follow the directions for <a href="#fix-formatting">Fix Formatting Problems</a>.</p>
  <h5>Links</h5>
  <p style="margin-bottom: 10px;">To add a link, first highlight the text you want to add the link to, then click on the infinity symbol (purple box). Next, enter the link in the URL box.</p>
  <%= image_tag "link.png", class: "image_fit_scrn" %>

  <h5>Images</h5>
  <p>
    To add an image, click on the image symbol in the text editor. You may choose to either use a url or upload your own image.
  </p>
  <p>
    To upload your own image, click on the <b>Upload</b> tab in the image dialog.
  </p>
  <%= image_tag "uploadimage1.png", class: "image_fit_scrn" %>
  <p>
    Then click on <b>Choose File</b> and choose an image from your computer. Next, click <b>Send it to the Server</b> before clicking <b>OK</b>. This can take up to 10 seconds. It should automatically reroute you to <b>Image Info</b>. The larger the image, the more time it takes.
  </p>
  <p>
    If you get the error that says <b>Image source URL is missing</b>, it either means that you did not click on <b>Send it to the Server</b> or that your image is too large to be uploaded. Make sure your uploaded images are either png, jpeg, or jpg format.
  </p>

  <p>If you do not upload the image and instead link to it, it is important to note that taking the url link directly from a webpage (like Pinterest.com) does not work. Instead, right click on the image, and select <b>Copy image address</b> as shown below. You can then use this link in the URL input field and click return to upload.</p>
  <%= image_tag("5.png", :class=>"image_fit_scrn")%>

  <h5 id="fix-formatting">Fix Formatting Problems</h5>
  <p>If you've copied text from another text editor, you may have weird problems where the font-size, font family, image positioning, etc. is not as expected and does not match other published articles on The Teen Magazine. If this happens, highlight everything and click the "T" with an x subscript. This removes all formatting and the problems you were having should be fixed when you press <b>Save Changes</b>. Note
  that all formatting, besides adding links, lists, and header sizes, should be done automatically. Do not try to move around images, change font families, font sizes, etc. by changing the source code. These articles will not be approved for publishing and will get sent back with requested changes.</p>

  <p>
    If you're confused about any of the requirements in this document, or want more clarification, you can send an email to <b>editors@theteenmagazine.com</b>
  </p>

  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle cx="26" cy="26" r="25" fill="none"/>
    <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>

  <p>Read "<a href="/finding-images">Finding Images</a>" Next →</p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $.fn.triggerCheck();
    $("#site-wrapper").scroll(function(){
        $.fn.triggerCheck();
    });
  });
</script>
