<div class="flex-wrapper" style="margin: 0 auto 40px auto;">
  <%= link_to pitch_modal_path(:id => pitch.id, :intent => "Unclaim"), method: :patch, remote: true, class: "card selected_border", style: "width: 32%;", id: "pitch-#{pitch.id}" do %>
    <i style="color: #F0255E;" class="fas fa-check-circle fa-2x abs-right-corner"></i>
    <div>
      <%= image_tag(pitch.thumbnail.url(:card), alt: pitch.title, :class => "card-img-top") %>
      <div class="card-body">
        <h4 style="color: black;" class="pitch_ttl mt-0"><%= pitch.title %></h4>
        <p class="card-text"><%= pitch.description.truncate_words(20) %></p>
      </div>
    </div>
  <% end %>
</div>
<h3>Great job! You've claimed this pitch.</h3>
<p>You've claimed the pitch <i><%= @pitch.title %></i> and a draft has been started on your dashboard. Your dashboard is where you'll be able to interact with the writer community, read helpful resources, work on your articles, claim pitches, and submit for review.</p>
<p>Please complete the remaining steps explained on your dashboard to become an active member of our writer team. Click <i>Go to Profile</i> to be taken there now.</p>
