<div class="page skinny_wrapper wrapper_padding">
  <br>
  <i style="background-color: yellow">(For admins only) If you think this feedback field can be more helpful, please update it here. Be as descriptive as possible
    while keeping the feedback generic so that it can be used for other articles. Remember that as soon as you save, the feedback form
    will be updated for all editors.</i>
  <br><br>
  <div class="flex_horizontal_justify_between">
    <h3>Edit Feedback Field</h3>
    <h6><%= link_to("Go back to list", feedbacks_path, class: "link_pink") %></h6>
  </div>
  <br>
  <%= render "/feedbacks/form" %>
  <% if current_user.admin? %>
    <%= form_for @feedback do |f| %>
      <%= f.hidden_field :archive, value: true %>
      <%= f.submit "Archive", data: {confirm: "Are you sure you want to archive this feedback field? It will no longer show up for other editors."}, :class => "no_style link_pink", :style => "float: right; margin-top: -60px;" %>
    <% end %>
  <% end %>
</div>
