<style lazyload>
@media(min-width: 800px) {
  .post_image {
    background-image: url(<%= @post.thumbnail.url(:large2) %>);
  }
}
@media(max-width: 800px) {
  .post_image {
    background-image: url(<%= @post.thumbnail.url(:medium) %>);
  }
}
blockquote {
  margin: 1em 0;
  font-style: italic;
}
.twitter-tweet {
  margin: 0 auto;
  display: block;
}
</style>

<div class="div">
  <% @most_recent_review = @post.reviews.last %>
  <% if !@most_recent_review.nil? && !(@most_recent_review.try(:status).eql? "In Progress") %>
    <%= render '/posts/banner_status' %>
  <% elsif @post.is_locked? %>
    <p class= "banner_stts">Locked</p>
  <% elsif @post.pitch.present? %>
    <p class= "banner_stts">In Progress | Review this draft's pitch <%= link_to("here", @post.pitch, target: "_blank", class: "link_white") %></p>
  <% else %>
    <p class="banner_stts">In Progress</p>
  <% end %>
  <div class="post_image">
  </div>
</div>
<div class="flex_wrapper_posts mb-4">
  <div class="skinny wrapper_padding" id="post_show_content">
    <div class="flex_wrapper_columns">
      <div class="content_wrapper">
        <header id="post_title_show">
          <h1 class="title_article_show"><%= @post.title %></h1>
          <h3 id="category_title"><%= link_to(@post.category.name, @post.category) %></h3>
          <div class="post_info">
            <% @authors = [@user] + @collabs %>
            <div class="left_side_flex">
              <% @authors.each do |author| %>
                <div class="author">
                  <% @profile = author.profile.exists? ? author.profile.url(:square) : "profile_image.jpg" %>
                  <%= image_tag(@profile, :class => "profile_img") %>
                  <p class="author_name" style="margin-right: 10px;">By <%= link_to(author.full_name, author) %></p>
                </div>
              <% end %>
            </div>
            <div class="right_side_wrapper <% if @authors.count == 1 %>right_side_flex<% end %>">
              <div class="date_wrapper draft">
                <p>
                  <svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" class="mr-1 mb-1 svg-inline--fa fa-clock fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
                </p>
                <p class="date"><%= @date.strftime('%A, %B %d')%></p>
              </div>
            </div>
          </div>
        </header>
        <div id="content">
          <div class="flex_wrapper_content">
            <div class="post_wrapper">
              <div id="selectable_content" class="post_content">
                  <%= markdown @post.content %>
              </div>
              <% if current_user && (current_user.id == @post.user_id || (@post.collaboration&.include? current_user.email) || current_user.admin?) %>
                <div id="admin_links" style="border-top: 1px solid #E9E9E9;border-bottom: 1px solid #E9E9E9;text-align: center;padding: 1em 0;margin: 1em 0;margin-top: 0;">
                  <% if !(@post.is_locked?) %>
                    <%= link_to "Edit Article", edit_post_path(@post), style: "text-decoration: none;color: #9a9da4;margin: 0 1em;font-weight: 700;font-size: .8em;text-transform: uppercase;font-family: inherit;" %>
                  <% end %>
                  <% if current_user && (current_user.id == @post.user_id || current_user.admin) %>
                    <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}, style: "text-decoration: none;color: #9a9da4;margin: 0 1em;font-weight: 700;font-size: .8em;text-transform: uppercase;font-family: inherit;" %>
                  <% end %>
                </div>
              <% end %>
              <div id= "background">
               <%= render :partial => 'users/profile', locals: {user: @user} %>
               <% @collabs.each do |collab| %>
                <%= render :partial => 'users/profile', locals: {user: collab} %>
               <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="share_article_feedback">
        <% if @post.partner_id.present? %>
          <%= render :partial => 'posts/partials/partner_comments', locals: {partner: @partner, post: @post, comments: @comments, comment: @comment} %>
        <% elsif @post.sharing %>
          <%= render :partial => 'posts/partials/sharing_on', locals: {user: @user, post: @post, comments: @comments, comment: @comment}  %>
        <% else %>
          <%= render :partial => 'posts/partials/sharing_off', locals: {post: @post} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onload = function () {
    <% if @comment_from_notifications.present? %>
      <% if @comment_parent_from_notifications.present? %>
        window.location.hash = "#reply_<%= @comment_parent_from_notifications %>";
        $('#comment_<%= @comment_from_notifications %>').addClass("unread");
        reply('#reply_<%= @comment_parent_from_notifications %>');
      <% else %>
        window.location.hash = "#comment_<%= @comment_from_notifications %>";
        $('#comment_<%= @comment_from_notifications %>').addClass("unread");
      <% end %>
    <% end %>
  };
</script>

<% if @post.sharing || @post.partner_id.present? %>
  <%= javascript_include_tag "plugins/index_bundle" %>
<% end %>
