<% if !defined?(@can_edit) || @can_edit || @post.created_at.nil? %>
  <div id="edit_post">
    <%= form_for @post do |f| %>
      <% if @post.errors.any? %>
        <h6 class="mt-3 text-danger"><%= pluralize(@post.errors.count, "error")%> prevented this post from saving:</h6>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li class="text-danger">
              <h6><%= msg %></h6>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% if @post.pitch.try(:claimed_id).present? && @post.try(:deadline_at).present? %>
        <%= render "pitches/deadline_warning_msg", post: @post %>
      <% end %>
      <%= f.text_field :title, placeholder: "A Killer Title = Captivated Readers 📚👀" %>
      <% if current_user.is_manager? %>
        <p class="mt-0">Turn off title formatting on save (admin only) <%= f.check_box :turn_off_caps %></p>
      <% end %>
      <p class="mt-0">Write your article here and make sure you are saving often. Saving can also help fix formatting problems.</p>
      <div id="container">
        <%= f.text_area :content, id: "editor" %>
      </div>
      <p class="d-block mb-0">Category:<%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "Select a Category"}, :class => "mdb-select md-form mb-0") %></p>
      <% if @post.thumbnail.present? %><p>Thumbnail Preview</p><% end %>
      <div class="d-flex flex-row flex-wrap align-items-end justify-content-between">
        <% if @post.thumbnail.present? %>
          <%= image_tag(@post.thumbnail.variant(resize_to_fill: [540,340], format: 'webp'), class: 'mw-100') %>
        <% end %>
        <p id="showDialogButton" class="btn btn-primary mt-3 m-0 d-inline">New thumbnail</p>
      </div>
      <p id="showSelectedUrl"></p>
      <%= f.hidden_field :thumbnail_url, id: "thumbnail-field", value: nil, class: "mb-0" %>
      <div id="ckbox"></div>
      <% if @post.thumbnail.present? && @post.thumbnail_credits.nil? %>
        <p><u>Give credit for your thumbnail image (Required)</u>. Use the formatting: photographer's last name (if given) + "from" + company's name + comma + full url to the site. 
        <i>If you do not properly cite your thumbnail image, it will not show up in your published article.</i></p>
        <%= f.text_field :thumbnail_credits, placeholder: 'Langevin from Pexels, https://www.pexels.com/photo/woman-in-a-baseball-cap-sitting-by-a-painting-with-paints-10752105/', class: "mb-0",  id: "thumbnail-credits" %>
      <% else %>
        <%= f.hidden_field :thumbnail_credits, class: "mb-0",  id: "thumbnail-credits" %>
      <% end %>
      <% if (@post.user_id.eql? current_user.id) %>
        <p>
          <div class="alert alert-warning" role="alert">
            Due to an ongoing copyright issue, <b>our image policy has changed as of September 4th, 2023</b>. Please read the <a target="_blank" class="link_underline"  href="/finding-images">updated image policy</a> before checking the box below.
          </div>
          <i>
            <%= f.check_box :agree_to_image_policy, class: "d-inline" %>
              I have read and understand the image policy found <a target="_blank" class="link_nrml" href="/finding-images">here</a>. By checking this box, I confirm that the thumbnail image on this pitch has the proper attributions and follows all the requirements explained in the Image Policy. I understand that uploading any photo without the rights to use it means that I can be held personally liable for any claims of copyright infringement.
          </i>
          <% if @post.agree_to_image_policy.nil? || !@post.agree_to_image_policy %>
            <%= f.hidden_field :agree_to_image_policy_at, value: Time.now %>
          <% end %>
        </p>
      <% elsif !@post.agree_to_image_policy %>
        <p>
          <i>
            <%= @post.user.full_name %> has not agreed to the image policy.
          </i>
        </p>
      <% else %>
        <p>
          <i>
            <%= @post.user.full_name %> agreed to the image policy<% if @post.agree_to_image_policy_at.present? %> on <%= format_date(@post.agree_to_image_policy_at) %><% end %>.
          </i>
        </p>
      <% end %>
      <%# <p class="mt-0">If you are writing an article with other writer(s), you may put their emails here to share the article with them. Separate multiple emails with commas.</p>
      <%= f.text_field :collaboration, placeholder: '(Optional) Email' %>
      <%= f.fields_for :reviews, @review do |rv| %>
        <% if @should_show_editor_form %>
          <%= render "posts/editor_review_form", rv: rv, f: f, post: @post %>
        <% else %>
          <% if ((@reviews_rejected || []).count >= 5) && !(@post.is_published?) %>
            <%= rv.hidden_field :status, :value => "In Progress" %>
            <p class="mb-2 mt-0" style="font-style: italic;"><span class="highlight">You have reached the maximum amount of times you can submit this article for review.</span></p>
          <% else %>
            <p class="d-inline">Article Status:</p>
            <%= rv.select :status, options_for_select(@statuses || ["In Progress"], @review.try(:status)) %>
            <%= rv.hidden_field :editor_id, value: @review.try(:editor_id) %>
            <% if (@post.user_id.eql? current_user.id) && !@post.is_published? %>
              <p>
                Editor permission:
                <%= f.check_box :editor_can_make_changes %>
                  I give permission for an editor to make changes to my article when I submit. These changes may include small improvements to formatting, grammar/punctuation, and/or title optimization.
              </p>
            <% end %>
            <div style="float:right; text-align: right;">
            <% if current_user.admin && @post.is_published? %>
              <p class="mt-0">Featured on homepage: <%= f.check_box :featured %></p>
            <% end %>
            <% if @post.is_published? %>
              <p>Turn off commenting: <%= f.check_box :comments_turned_off %></p>
            <% end %>
                          </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="btn_cntnr mb-0 pt-3 pb-3" style="float: none;">
        <div class="hide spinner-button spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <%= f.button "Save Changes", class: "newpost--new--profile mr-0 pl-4 pr-4 submit_modal", id: "submit-comment-modal-button" %>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class="title m-4">This article has already been published and can only be edited by the author(s) and managing editor of this category.</h3>
<% end %>
<script type="text/javascript" src="https://svc.webspellchecker.net/spellcheck31/wscbundle/wscbundle.js"></script>
<script type="text/javascript">
  $('document').ready(function(){
    var unsaved = false;
    $("#edit_post").on("submit", function(event){
      unsaved = false;
      var reply = true;
      var selected = document.getElementById('post_reviews_attributes_0_status').value;
      var checked = $("input[type=checkbox]:checked").length;
      if (selected == "Rejected") {
        if (checked == 0) {
          reply=confirm("You need to select at least one reason for rejecting this article.");
          return false;
        } else if (checked > 3) {
          reply=confirm("Please only select the top 3 reasons for rejection to not overwhelm the writer.");
          return false
        }
      } else if (selected == "Approved for Publishing") {
        <% if !(@post.reviews.last.status.eql? "Approved for Publishing") && (@post.user_id != current_user.id) %>
          reply=confirm("This article will be published to the homepage. Are you sure you want to continue?");
        <% end %>
      } else if (selected == "In Review") {
        <% if !(@post.reviews.last.status.eql? "In Review") %>
          reply=confirm("You are claiming this article review. You have two days to either approve or request changes to this article.");
        <% end %>
      } else if (selected == "Ready for Review") {
        <% if !(@post.reviews.last.status.eql? "Ready for Review") %>
          <% if (@post.reviews.last.status.eql? "In Review") %>
            reply=confirm("You are moving this article out of review.");
          <% else %>
            <%= @count = 5 - @post.reviews.where(status: "Rejected").count %>
            reply=confirm("You have <%= @count %> reviews remaining for this article. Are you sure you want to continue?");
          <% end %>
        <% end %>
      } else if (selected == "In Progress") {
        <% if (@post.reviews.last.status.eql? "Ready for Review") %>
          reply=confirm("You are unsubmitting this article for review.");
        <% end %>
      }
      return reply;
    });
  });
  window.WEBSPELLCHECKER_CONFIG = {
    autoSearch: true,
    serviceId: "<%= @service_id %>"
  };
</script>
<%= javascript_include_tag 'ckeditor' %>