<script>
 CKEDITOR.addCss('img{width: 55% !important; height: auto !important;margin-left: auto !important;margin-right: auto !important;display: block;}');
 CKEDITOR.addCss('iframe, .instagram-media{margin: 1em auto !important;}');
 CKEDITOR.addCss('a{color: #65B19D !important;}');
 CKEDITOR.addCss('h1 {font-size: 1.7rem;} h2 {font-size: 1.5rem;} h3 {font-size: 1.3rem;} h4 {font-size: 1.1rem;} h5 {font-size: 0.9rem;} h1, h2, h3, h4, h5, h6, span {margin: 10px 0;}');
 CKEDITOR.addCss('html {margin-left: auto;margin-right: auto;}#twitter-widget-0, #twitter-widget-1 {margin: 0 auto !important;}a {color: #65B19D;}a:hover {opacity: 0.5;}@media (max-width: 600px) {img {width: 100% !important;}}');
  window.WEBSPELLCHECKER_CONFIG = {
    autoSearch: true,
    serviceId: 'YfPekoBKVRm8FZv'
   };
</script>
<% if !(@post.reviews.last.try(:status).eql? "Approved for Publishing") || (current_user.id == @post.user_id) || (@post.collaboration&.include? current_user.email) || (current_user.admin?) %>
<div id="edit_post">
  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <h2><%= pluralize(@post.errors.count, "error")%> prevented this post from saving:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content, "Write your article here. Make sure you are saving often. Saving can also help fix formatting issues." %><br>
    <%= f.cktext_area :content %>
    <br>
    <% if @post.thumbnail.present? %>
      <%= f.label "Thumbnail Preview:" %>
      <%= image_tag(@post.thumbnail.url(:large2), :class => "image_fit_scrn") %>
      <br>
      <%= f.label "Upload different thumbnail image:" %>
      <%= f.file_field :thumbnail %>
    <% else %>
      <%= f.label "Upload thumbnail image:" %>
      <%= f.file_field :thumbnail %>
    <% end %>
    <br>
    <br>
    <%= f.label "Category:" %>
    <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "Select a Category"}) %>
    <br>
    <br>
    <%= f.label "Grab your ideal reader's interest in 1-2 sentences." %>
    <%= f.text_field :meta_description, placeholder: 'What is your article about?' %>
    <br>
    <span>If you are writing an article with other writer(s), you may put their emails here to share the article with them. Separate multiple emails with commas.</span>
    <%= f.text_field :collaboration, placeholder: '(Optional) Email' %>

    <%= f.fields_for :reviews, @review do |rv| %>
      <% if (current_user.id == @post.reviews.last.editor_id) && (@post.reviews.last.try(:status).eql? "In Review") %>
      <% if @post.editor_can_make_changes %>
        <i>
          The writer has given permission for you to make changes to this article.
          These changes may include improving formatting, grammar/punctuation, thumbnail image, and/or title optimization.
          Larger edits should be sent back for changes.
        </i>
      <% else %>
        <i style="background-color: yellow;">
          The writer has not given permission for you to make changes to this article.
          Please only fill out the feedback form below, and do not make any changes directly to the article.
        </i>
      <% end %>
        <br>
        <br>
        <div class="card review_frm">
          <div class="card-header">
            <h6>Editor Feedback Form</h6>
          </div>
          <div class="card-body">
            <% @feedbacks.each_with_index do |feedback, index| %>
              <%= f.check_box :feedback_list, { :multiple => true, checked: !(@review.try(:feedback_givens).where(feedback_id: feedback.id).blank?) }, feedback.id, nil %>
              <%= feedback.editor_descr %><br>
            <% end %>
            <br>
            <%= rv.label "Editor Notes:" %>
            <%= rv.text_field :notes, placeholder: "(Optional) Share any additional comments you have about this article." %>
          </div>
        </div>
      <% end %>
      <% @reviews = @post.reviews.where(status: "Rejected") %>
      <% if (@reviews.count >= 5) && !(@post.is_published?) %>
        <%= rv.hidden_field :status, :value => "In Progress" %>
      <% else %>
        <%= f.label "Article Status:" %>
        <% @rejected_cnt = @post.reviews.where(status: "Rejected").count %>
        <% @statuses = current_user.editor? ? ["In Progress", "Ready for Review", "In Review", "Rejected", "Approved for Publishing"] : ["In Progress", "Ready for Review"] %>
        <% if !(current_user.editor?) && !(@statuses.include? @post.reviews.last.status)%><% @statuses << @post.reviews.last.status %><% end %>
        <%= rv.select :status, options_for_select(@statuses, @review.try(:status)) %>
        <br>
        <br>
        <% if @post.user_id.eql? current_user.id %>
          <%= f.check_box :editor_can_make_changes %>
          <i>
            I give permission for an editor to make changes to my article when I submit. These changes may include improving formatting, grammar/punctuation, thumbnail image, and/or title optimization.
            I understand I am still able to alter these once my article is published. Large edits will always be sent back for changes.
          </i>
          <br>
          <br>
        <% end %>
      <% end %>
    <% end %>
    <%= f.submit "Save Changes" %>
  <% end %>
</div>
<% else %>
  <h1 class="title">This article has already been published and can only be edited by the author(s) and admins.</h1>
<% end %>

<script type="text/javascript">
  $('document').ready(function(){
    console.log("hi");
    $("#edit_post").on("submit", function(event){
      var reply = true;
      var selected = document.getElementById('post_reviews_attributes_0_status').value;
      <% if !(@post.reviews.last.status.eql? "Ready for Review") %>
        if (selected == "Ready for Review") {
          <%= @count = 5 - @post.reviews.where(status: "Rejected").count %>
          reply=confirm("You have <%= @count %> reviews remaining for this article. Are you sure you want to continue?");
        }
      <% elsif !(@post.reviews.last.status.eql? "Approved for Publishing") && (@post.user_id != current_user.id) %>
        if (selected == "Approved for Publishing") {
          reply=confirm("You will not be able to edit this article once you approve it for publishing. Are you sure you want to continue?");
        }
      <% end %>
      return reply;
    });
  });
</script>
