<script>
 CKEDITOR.addCss('img{width: 55% !important; height: auto !important;margin-left: auto !important;margin-right: auto !important;display: block;}');
 CKEDITOR.addCss('iframe{margin: 0 auto !important;}');
 CKEDITOR.addCss('html {margin-left: auto;margin-right: auto;}#twitter-widget-0, #twitter-widget-1 {margin: 0 auto !important;}a {color: #65B19D;}a:hover {opacity: 0.5;}@media (max-width: 600px) {img {width: 100% !important;}}');
 </script>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error")%> prevented this post from saving:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

<%= f.label :title %><br>
<%= f.text_field :title %>

<br>

<%= f.label :content, "Write your article here" %><br><br />
<%= f.cktext_area :content %><br /><br />

<%= f.label "Upload thumbnail image" %><br/><br />
<%= f.file_field :thumbnail %><br /><br />

<br><%= f.label "Category" %>
<%= f.select :meta_title, ['Academics', 'Get Involved', 'Health & Fitness', 'News', 'Lifestyle', 'Entertainment', 'Tips & Hacks', 'DIY', 'Beauty', 'Fashion', 'Travel', 'Personal Stories'] %><br />

<br><%= f.label :meta_description %><br>
<%= f.text_field :meta_description %>

<br><span>(Optional) If you are writing an article with another writer, you may put their email here to share the article with them.</span><br>
<%= f.text_field :collaboration %>

<% if @post.approved == true %>
  <% if @post.after_approved == nil %>
    <%= f.hidden_field :created_at, :value => Time.now %>
    <%= f.hidden_field :after_approved, :value => true %>
    <br><%= f.submit "Publish My Article" %>
  <% else %>
    <br><%= f.submit "Publish Changes" %>
  <% end %>
<% else %>
  <br><%= f.label "Submit My Article For Approval" %>
  <%= f.check_box :waiting_for_approval %><br>
  <%= f.hidden_field :approved, :value => false %><br>
  <br><%= f.submit "Save & Preview" %>
<% end %>

<% if :user_id == nil %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>

<%= f.hidden_field :category_id, :value => Category.where(name: @post.meta_title).first.id %>

<% if (current_user && (current_user.admin? || current_user.editor?)) %>
<br><%= f.label "Approve" %>
<%= f.check_box :approved %><br /><br />
<% end %>

<% end %>
