<style>
.post_image {
  background-image: url(<%= @post.thumbnail.url(:large2) %>);
}
blockquote {
  margin: 1em 0;
  font-style: italic;
}
</style>

<div class="div">
  <div class="post_image">
  </div>
</div>
<div class="flex_wrapper_posts">
  <div class="skinny wrapper_padding" id="post_show_content">
    <div class="flex_wrapper_columns">
      <div class="content_wrapper">
        <header id="post_title_show">
          <h1 class="title_article_show"><%= @post.title %></h1>
          <h3 id="category_title"><%= link_to(@post.category.name, @post.category) %></h3>
          <div class="post_info post_info_published">
            <% @authors = [@user] + @collabs %>
            <div class="left_side_flex <% if @authors.count == 2 %>flex_column<%end%>">
              <% @authors.each do |author| %>
                <div class="author">
                  <% @profile = author.profile.exists? ? author.profile.url(:square) : "profile_image" %>
                  <%= image_tag(@profile, :class => "profile_img") %>
                  <p class="author_name" style="margin-right: 10px;">By <%= link_to(author.full_name, author) %></p>
                </div>
              <% end %>
            </div>
            <div class="right_side_wrapper <% if @authors.count == 1 %>right_side_flex<% end %>">
              <div class="date_wrapper published">
                <p><i class="fa fa-clock-o" style="margin-right: 3px;" aria-hidden="true"></i><p>
                <p class="date"><%= @date.strftime('%A, %B %d')%></p>
              </div>
              <div class="social_icons">
                <a class="fb-share" href="//www.facebook.com/v2.3/dialog/feed?app_id=1190455601051741
                  &name=<%= @post.title.sub! '#', '' %>
                  &description=<%= @post.meta_description %>
                  &link=http://www.theteenmagazine.com/<%= @post.slug %>">
                  <div>
                    <i aria-hidden="true" class="fa fa-facebook"></i>
                  </div>
                </a>
                <a class="js-share-twitter-link" href="https://www.twitter.com/share?url=http://www.theteenmagazine.com/<%= @post.slug %>&text=<%= @post.title %> &via=theteenmagazin_" >
                  <div style="background-color: #55ACEE">
                    <i aria-hidden="true" class="fa fa-twitter"></i>
                  </div>
                </a>
                <a class="js-share-pinterest-link" href="//pinterest.com/pin/create/button/?url=http://www.theteenmagazine.com/<%=@post.slug%>&media=<%= @post.thumbnail.url(:large)%>&description=<%= @post.title %>  - TheTeenMagazine.com">
                 <div style="background-color: #cb2027">
                   <i aria-hidden="true" class="fa fa-pinterest"></i>
                 </div>
                </a>
                <a title="Email" href="mailto:?subject=<%= @post.title %>&body=http://www.theteenmagazine.com/<%= @post.slug %>" target="_top">
                 <div  style="background-color: #333">
                   <i aria-hidden="true" class="fa fa-envelope-o"></i>
                 </div>
               </a>
              </div>
            </div>
          </div>
        </header>
        <div id="content">
          <div class="flex_wrapper_content">
            <div class="post_wrapper">
              <div class="post_content">
                <%= markdown @post.content %>
              </div>
              <% if current_user && (current_user.id == @post.user_id || @post.collaboration == current_user.email || current_user.admin?) %>
                <div id="admin_links">
                  <%= link_to "Edit Article", edit_post_path(@post) %>
                  <% if current_user && (current_user.id == @post.user_id || current_user.admin) %>
                  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this article?"} %>
                  <% end %>
                </div>
              <% end %>
              <div id= "background">
               <%= render :partial => 'users/profile', locals: {user: @user} %>
               <% @collabs.each do |collab| %>
                <%= render :partial => 'users/profile', locals: {user: collab} %>
               <% end %>
              </div>
              <br />
              <div id="mc_embed_signup" style="width: 100%; margin: 20px 0; margin-left: 0px;">
                <form action="//herokuapp.us14.list-manage.com/subscribe/post?u=5c2a24e15a906f29e2c6a9b72&amp;id=3081d2e76a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding-left: 0;" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <h2>Loving The Teen Magazine? Subscribe!</h2>
                    <div class="mc-field-group">
                      <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div >
                      <div id="mce-error-response" style="display:none"></div>
                      <div id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5c2a24e15a906f29e2c6a9b72_3081d2e76a" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe subscribe_btn" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
              </div>
            </div>
    </div>
  </div>
  </div>
  <div class="post_apply">
    <div class="articles">
      <div class="flex_other_articles">
        <div class="ads_wrapper">
          <!-- Post right column -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:250px"
               data-ad-client="ca-pub-4566416931763342"
               data-ad-slot="2500875060"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <h3>Trending in <%= link_to(@post.category.name, @post.category, :class => "category_title_trending") %></h3>
        <div class="contain_articles">
          <% @trending.each do |post| %>
            <div class="ctgry_article">
               <%= link_to(image_tag(post.thumbnail.url(:medium)), post) %>
              <div class="paragraph">
                <p><%= link_to(post.title.truncate_words(12), post) %></p>
              </div>
            </div>
        <% end %>
        </div>
        <br>
        <div class="fixed_ads ads_wrapper">
          <!-- Square column right -->
          <ins class="adsbygoogle"
          style="display:inline-block;width:300px;height:250px"
          data-ad-client="ca-pub-4566416931763342"
          data-ad-slot="6106391233"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <br>
          <!-- Post column right -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-4566416931763342"
               data-ad-slot="1161186312"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
  <br />
 <%= javascript_include_tag 'mailchimp' %>
 <script>
 (function() { // DON'T EDIT BELOW THIS LINE
 var d = document, s = d.createElement('script');
 s.src = 'https://the-teen-magazine.disqus.com/embed.js';
 s.setAttribute('data-timestamp', +new Date());
 (d.head || d.body).appendChild(s);
 })();
 </script>
 <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<div id="disqus_thread"></div>

</div>

<script>
$(document).ready(function() {
   $('.fb-share').click(function(e) {
       e.preventDefault();
       window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
       return false;
   });
   $('.js-share-twitter-link').click(function(e) {
       e.preventDefault();
       var href = $(this).attr('href');
       window.open(href, "Twitter", 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
   });
   $('.js-share-pinterest-link').click(function(e) {
       e.preventDefault();
       var href = $(this).attr('href');
       window.open(href, "Pinterest", 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
   });
});
</script>
