<% @most_recent_review = @post.reviews.where.not(status: "In Progress").last %>
<% @review_banner_soft = @post.reviews.where.not(status: nil).last %>
<% if !@most_recent_review.nil? && !(@review_banner_soft.status.eql? "In Progress") %>
  <div class="banner_stts_relative"><%= render '/posts/banner_status' %></div>
<% elsif @post.pitch.present? %>
  <div class="banner_stts_relative"><p class= "banner_stts">In Progress | Review this draft's pitch <%= link_to("here", @post.pitch, target: "_blank", class: "link_white") %></p></div>
<% else %>
  <div class="banner_stts_relative"><p class="banner_stts">In Progress</p></div>
<% end %>
<div class="skinny_wrapper wrapper_padding">
  <% @reviews = @post.reviews.where(status: "Rejected") %>
  <p style="margin-bottom: 0;"><i>This article has been given feedback <%= @reviews.count %> time(s).
     View all past reviews <%= link_to("here", reviews_path(post: @post), target: "_blank", :class => "link_nrml underline") %>.
  </i></p>
  <% if @most_recent_review.try(:status).eql? "Rejected" %>
    <% if !@most_recent_review.notes.blank? %>
     <p><i style="background-color: #FCD04D;">Editor Notes: <%= @most_recent_review.notes %></i></p>
    <% end %>
    <% if @requested_changes.present? %>
      <div class="card mb-3 changes_requested">
        <% @editor = User.find(@most_recent_review.editor_id) %>
        <div class="card-header">Review #<%= @reviews.count %> given by <%= link_to(@editor.try(:full_name), @editor, :class => "link_nrml", :target => "_blank") %>: The below problems prevented this article from being published.</div>
        <div class="card-body">
          <% @requested_changes.each do |requested_change| %>
            <% @feedback = Feedback.find(requested_change.feedback_id) %>
            <h5 class="card-title">✎ <%= @feedback.try(:editor_descr) %></h5>
            <p class="card-text"><small><%= markdown @feedback.try(:review_descr) %></small></p>
          <% end %>
        </div>
       </div>
       <p class="mb-0"><i>Please make the above changes before submitting your article again. If you think there was a mistake, please email Mia at mia@theteenmagazine.com and explain the problem.</i></p>
    <% end %>
  <% end %>
  <%= render 'form' %>
</div>
<br>
