<% if !@most_recent_review.nil? && !(@most_recent_review.try(:status).eql? "In Progress") %>
  <div class="banner_stts_relative"><%= render '/posts/banner_status' %></div>
<% elsif @post.is_locked? %>
  <p class= "banner_stts">Locked</p>
<% elsif @post.pitch.present? %>
  <div class="banner_stts_relative"><p class= "banner_stts">In Progress | Review this draft's pitch <%= link_to("here", @post.pitch, target: "_blank", class: "link_white") %></p></div>
<% else %>
  <div class="banner_stts_relative"><p class="banner_stts">In Progress</p></div>
<% end %>
<div class="skinny_wrapper wrapper_padding">
  <div class="mt-3" style="margin-bottom: 0;">This article has been reviewed <%= @reviews.count %> time(s).
     View all past reviews <%= link_to("here", reviews_path(post: @post), target: "_blank", :class => "link_nrml underline") %>.
  </div>
  <% if @requested_changes.present? %>
    <div class="card mb-3 m-0 mt-3 changes_requested">
      <% @editor = User.find(@most_recent_review.editor_id) %>
      <div class="card-header">Review given by <%= link_to(@editor.try(:full_name), @editor, :class => "link_nrml", :target => "_blank") %>: The below problems prevented this article from being published.</div>
      <div class="card-body">
        <% @requested_changes.each do |requested_change| %>
          <% @feedback = Feedback.find(requested_change.feedback_id) %>
          <h5 class="card-title">✎ <%= @feedback.try(:editor_descr) %></h5>
          <p class="card-text"><small><%= markdown @feedback.try(:review_descr) %></small></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if (@most_recent_review.try(:status).eql? "In Review") && (@most_recent_review.editor_claimed_review_at.present?) %>
    <div class="alert alert-info m-0 pb-1 pt-2" role="alert">
      <% @message = (@most_recent_review.editor_claimed_review_at + 2.days > Time.now) ? 
        "and they have #{date_to_words(@most_recent_review.editor_claimed_review_at + 2.days)} left to review your article." 
        : "and their review is overdue. It will be unclaimed and assigned to a different editor." %>
      <p><i>Your article is currently being reviewed by <%= link_to(User.find_by(id: @most_recent_review.editor_id)&.full_name, User.find_by(id: @most_recent_review.editor_id), target: "_blank") %> <%= @message %></i></p>
    </div>
  <% end %>
  <%= render 'form' %>
</div>
