<% @most_recent_review = @post.reviews.where.not(status: "In Progress").last %>
<% if !@most_recent_review.nil? && (!@most_recent_review.try(:status).eql? "Rejected") %>
  <%= render '/posts/banner_status' %>
<% elsif !(@post.is_published?) %>
  <% @rev = @post.reviews.where.not(status: "In Progress").last %>
  <% if @rev.present? %>
    <% if @rev.status.eql? "In Progress" %>
      <% @deadline = @rev.created_at + 14.days %>
    <% elsif @rev.status.eql? "Rejected" %>
      <% @deadline = @rev.updated_at + 14.days %>
    <% else %>
      <% @deadline = @post.pitch.updated_at + 14.days %>
    <% end %>
  <% else %>
    <% @deadline = @post.pitch.updated_at + 14.days %>
  <% end %>
  <% if @deadline.present? %>
    <p class= "banner_stts" style="position: relative;">You have <%= distance_of_time_in_words_to_now(@deadline) %> left to submit this <%= link_to("Article Pitch", @post.pitch, class: "link_white") %> for review.</p>
  <% end %>
<% end %>
<div class="skinny_wrapper wrapper_padding">
  <% if @deadline.present? %>
    <i>This article is associated with a pitch. After claiming an article pitch, you will have two weeks to submit your article for review. You have <%= distance_of_time_in_words_to_now(@deadline) %> left to submit this article for review.</i><br>
  <% end %>
  <% if @most_recent_review.try(:status).eql? "Rejected" %>
  <% if !@most_recent_review.notes.blank? %>
   <br><i style="background-color: yellow;">Editor Notes: <%= @most_recent_review.notes %></i>
  <% end %>
  <% if @requested_changes.present? %>
    <div class="card mb-3 changes_requested">
      <div class="card-header">The below problems prevented this article from being published.</div>
      <div class="card-body">
        <% @requested_changes.each do |requested_change| %>
          <% @feedback = Feedback.find(requested_change.feedback_id) %>
          <h5 class="card-title">✎ <%= @feedback.try(:editor_descr) %></h5>
          <p class="card-text"><%= @feedback.try(:review_descr) %></p>
        <% end %>
      </div>
     </div>
     <i style="color: #757575;">Please complete the changes above and submit your article again for consideration.</i>
  <% end %>
  <% end %>
  <%= render 'form' %>
</div>
<br>
