<div class="skinny_wrapper" id="comments_feed">
  <div class="flex--profile profile-minimal mt-4">
    <div class="position-relative" style="width: 120px; margin: 0 auto;">
      <% if @user.profile.attached? %>
        <%= image_tag(@user.profile.variant(resize_to_fill: [100,100]), :class => "profile_img") %>
      <% else %>
        <%= image_tag("thumbnail.png", :class => "card-img-top") %>
      <% end %>
      <% if @user.editor %>
        <span class="badge badge-default editor_label" style="top: 5px;">Editor</span>
      <% elsif @user.marketer %>
        <span class="badge badge-default marketer_label" style="top: 5px;">Interviewer</span>
      <% end %>
    </div>
  </div>
  <h3 class="text-center mt-0">Welcome to the community, <%= current_user.first_name %>!</h3>
  <p class="text-center">You've earned <b><%= @points %></b> community points</p>
  <div class="progress mt-3">
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p>Share your draft with the community by clicking "Turn on sharing" on your draft. You can use your points to promote your shared drafts and get more feedback from other writers.</p>
  <p>
    Earn points by commenting on other writers' shared drafts or published articles. You earn more points for longer, more thoughtful comments, and on drafts that are being promoted.
  </p>
  <% if @my_shared_drafts.count.eql? 0 %>
    <p class="mb-0"><i>You don't have any drafts that have sharing turned on.</i></p>
  <% else %>
    <div class="flex-wrapper flex-drafts">
      <% @my_shared_drafts.each do |draft| %>
        <div class="card" style="width: 32%;">
          <a href="<%= post_path(draft)%>">
            <% if draft.thumbnail.attached? %>
              <%= image_tag(draft.thumbnail.variant(resize_to_fill: [540, 340]), :class => "card-img-top") %>
            <% else %>
              <%= image_tag("thumbnail.png", :class => "card-img-top") %>
            <% end %>
          </a>
          <div class="card-body">
            <p class="card-text">Sharing has been turned on for your draft <%= link_to(draft.title, draft) %>.</p>
          </div>
          <% if draft.promoting_until.present? && draft.promoting_until > Time.now %>
            <div class="rounded-bottom lighten-3 text-right p-3" style="background-color: #FA8075">
              <p class="list-inline-item pr-2 white-text"><svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="fire" class="mb-1 svg-inline--fa fa-fire fa-w-12" role="img" viewBox="0 0 384 512"><path fill="currentColor" d="M216 23.86c0-23.8-30.65-32.77-44.15-13.04C48 191.85 224 200 224 288c0 35.63-29.11 64.46-64.85 63.99-35.17-.45-63.15-29.77-63.15-64.94v-85.51c0-21.7-26.47-32.23-41.43-16.5C27.8 213.16 0 261.33 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-193-168-296.14z"></path></svg> Promoting ends in <%= time_ago_in_words(draft.promoting_until) unless draft.promoting_until.blank? %></p>
            </div>
          <% else %>
            <div class="rounded-bottom lighten-3 text-right p-1">
              <% @class = @points < 200 ? "disabled" : "" %>
              <%= form_for draft do |f| %>
                <% @initial = (draft.promoting_until.present? && draft.promoting_until > Time.now) ? draft.promoting_until : Time.now %>
                <%= f.hidden_field :promoting_until, value: @initial + 3.day %>
                <div class="btn_cntnr mb-0 pb-0 pr-3">
                  <span data-toggle="tooltip" title="<% if @points < 200 %>Give feedback on more articles<% end %>">
                    <%= f.submit 'Promote (200 points)',
                          data: {confirm: "This draft will be featured for three days on the community page. You are using 200 points out of your available #{@points} points to do this. Do you want to continue?"},
                          class: "newpost--new--profile #{@class}" %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- Classic tabs -->
  <div class="classic-tabs mb-4">
    <ul class="nav" id="myClassicTab" role="tablist">
      <li class="nav-item tab-custom">
        <a class="tab-custom active show" id="drafts-tab-classic" data-bs-toggle="tab" href="#drafts-classic"
          role="tab" aria-controls="drafts-classic" aria-selected="true">Drafts Needing Feedback</a>
      </li>
      <li class="nav-item tab-custom">
        <a class="tab-custom" id="conversations-tab-classic" data-bs-toggle="tab" href="#conversations-classic" role="tab"
          aria-controls="conversations-classic" aria-selected="false">Your Conversations</a>
      </li>
      <li class="nav-item tab-custom">
        <a class="tab-custom" id="all-comments-tab-classic" data-bs-toggle="tab" href="#all-comments-classic" role="tab"
          aria-controls="all-comments-classic" aria-selected="false">Recent Comments</a>
      </li>
    </ul>
  </div>
  <!-- Classic tabs -->
  <div class="tab-content p-0" id="myClassicTabContent">
    <div class="tab-pane fade active show" id="drafts-classic" role="tabpanel" aria-labelledby="draftstab-classic">
      <div class="flex-wrapper flex-drafts">
        <% if @shared_drafts.present? %>
          <% @shared_drafts.each do |draft| %>
            <% @featured = draft.promoting_until.present? && draft.promoting_until > Time.now %>
            <% @color = @featured ? "#FA8075" : "#91A0BA" %>
            <a href="<%= post_path(draft)%>">
              <div class="card" style="width: 32%; <% if @unseen_shared_drafts.to_a.include? draft %>background-color: #E6F6FF;<% end %>">
                <% if draft.thumbnail.attached? %>
                  <%= image_tag(draft.thumbnail.variant(resize_to_fill: [540, 340]), :class => "card-img-top") %>
                <% else %>
                  <%= image_tag("profile_image.jpg", :class => "profile_img") %>
                <% end %>
                <div class="card-body">
                  <p class="card-text"><%= link_to(draft.user.try(:full_name), draft.user) %> is asking for peer feedback on <%= link_to draft.title, draft %></p>
                  <% if @featured %>
                    <p class="card-text"><svg width="14px" height="14px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="fire" class="mb-1 svg-inline--fa fa-fire fa-w-12" role="img" viewBox="0 0 384 512"><path fill="currentColor" d="M216 23.86c0-23.8-30.65-32.77-44.15-13.04C48 191.85 224 200 224 288c0 35.63-29.11 64.46-64.85 63.99-35.17-.45-63.15-29.77-63.15-64.94v-85.51c0-21.7-26.47-32.23-41.43-16.5C27.8 213.16 0 261.33 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-193-168-296.14z"></path></svg> This draft is being promoted. All feedback given will be rewarded twice as many points.</p>
                  <% end %>
                </div>
                <div class="rounded-bottom lighten-3 text-left p-3" style="background-color: <%= @color %>">
                  <p class="list-inline-item pr-2 white-text"><%= link_to("Give Feedback", post_path(draft), style: "color: white !important;")%></p>
                  <p class="list-inline-item pr-2 white-text">
                    <svg width="20px" height="20px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comments" class="mb-1 svg-inline--fa fa-comments fa-w-18" role="img" viewBox="0 0 576 512"><path fill="currentColor" d="M416 192c0-88.4-93.1-160-208-160S0 103.6 0 192c0 34.3 14.1 65.9 38 92-13.4 30.2-35.5 54.2-35.8 54.5-2.2 2.3-2.8 5.7-1.5 8.7S4.8 352 8 352c36.6 0 66.9-12.3 88.7-25 32.2 15.7 70.3 25 111.3 25 114.9 0 208-71.6 208-160zm122 220c23.9-26 38-57.7 38-92 0-66.9-53.5-124.2-129.3-148.1.9 6.6 1.3 13.3 1.3 20.1 0 105.9-107.7 192-240 192-10.8 0-21.3-.8-31.7-1.9C207.8 439.6 281.8 480 368 480c41 0 79.1-9.2 111.3-25 21.8 12.7 52.1 25 88.7 25 3.2 0 6.1-1.9 7.3-4.8 1.3-2.9.7-6.3-1.5-8.7-.3-.3-22.4-24.2-35.8-54.5z"></path></svg> <%= draft.comments.count %> comments</p>
                </div>
              </div>
            </a>
          <% end %>
        <% else %>
          <p><i>There are no drafts asking for feedback in the community right now. Check back later!</i></p>
        <% end %>
      </div>
      <%== pagy_nav(@pagy).html_safe %>
    </div>
    <div class="tab-pane fade" id="conversations-classic" role="tabpanel" aria-labelledby="conversations-tab-classic">
      <%= render_async get_conversations_following_path, toggle: { selector: '#conversations-tab-classic', event: :click } do %>
        <div class="d-flex justify-content-center">
          <div class="spinner-border mb-4" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="all-comments-classic" role="tabpanel" aria-labelledby="all-comments-tab-classic">
      <%= render_async get_all_comments_path, toggle: { selector: '#all-comments-tab-classic', event: :click } do %>
        <div class="d-flex justify-content-center">
          <div class="spinner-border mb-4" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% @fraction = @points.to_f / 200.0 %>
<% @progress = @fraction >= 1 ? 1 : @fraction %>
<style media="screen">
  .complete {
    width: <%= @progress * 100 %>% !important;
    transition-duration: 2s;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('.progress-bar').addClass("complete");
  });
</script>
