<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error")%> prevented this post from saving:</h2>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <br><%= f.label "Category Name (ask to change)" %><br>
  <%= f.text_field :name %>
  <br><%= f.label "Meta Description" %><br>
  <%= f.text_field :description %>
  <br><%= f.label "Managing Editor Slug ID (last part of url on their profile)" %><br>
  <% @user = @category.user.present? ? @category.user.slug : '' %>
  <%= f.text_field 'managing_editor', value: @user, placeholder: current_user.slug %>
  <br><%= f.label "Image" %><br>
  <%= f.file_field :image %>
  <br />
  <br><%= f.submit "Save Category" %><br><br>
<%end%>
