<div class="official--writer--wrapper pitches_wrapper reviews_wrapper">
  <div class="dashboard_wrapper">
    <div id="waiting--for--approval">
      <div class="dashboard--writer--flex--main pr-3">
        <!-- Classic tabs -->
        <div class="classic-tabs">
          <ul class="nav mt-0" id="myClassicTab" role="tablist" style="padding-top: 15px;">
            <li class="nav-item tab-custom">
              <a class="tab-custom active show" id="home-tab-classic" data-bs-toggle="tab" href="#profile-classic"
                role="tab" aria-controls="profile-classic" aria-selected="true">Analytics</a>
            </li>
			<li class="nav-item tab-custom">
              <a class="tab-custom" id="drafts-tab-classic" data-bs-toggle="tab" href="#drafts-classic"
                role="tab" aria-controls="drafts-classic" aria-selected="true">Current Drafts</a>
            </li>
            <li class="nav-item tab-custom">
              <a class="tab-custom" id="activity-tab-classic" data-bs-toggle="tab" href="#follow-classic" role="tab"
                aria-controls="follow-classic" aria-selected="false">Activity in <%= @category.name.capitalize %></a>
            </li>
          </ul>
        </div>
        <!-- Classic tabs -->
        <div class="tab-content p-0" id="myClassicTabContent">
			<div class="tab-pane fade active show" id="profile-classic" role="tabpanel" aria-labelledby="home-tab-classic">
				<!-- Put analytics here -->
				<div class="mt-4">
					<div class="card pt-4 pl-4" style="width: 100%;">
						<div class="card-body">
							<div id="chartContainer" style="height: 300px; width: 90%;"></div>
						</div>
					</div>
				</div>
				<div class="mt-4 d-flex flex-row flex-wrap justify-content-between">
					<div class="chart-card d-inline-flex card" style="width: 49%;">
						<div class="card-body">
							<div class="mb-3" id="chartContainer1" style="height: 300px; width: 100%;"></div>
							<a class="text-align-center bottom-link" href="/categories/<%= @category.slug %>"><p class="mb-0 text-white bg-dark text-center">View Published Articles</p></a>
						</div>
					</div>
					<div class="chart-card d-inline-flex card" style="width: 49%;">
						<div class="card-body">
							<div class="mb-3" id="chartContainer2" style="height: 300px; width: 100%;"></div>
							<a class="text-align-center bottom-link" href="/newsletters/manage/<%= @user.slug %>"><p class="mb-0 text-white bg-dark text-center">View Newsletters Sent</p></a>
						</div>
					</div>
				</div>
				<div class="mt-4 d-flex flex-row flex-wrap justify-content-between">
					<div class="chart-card d-inline-flex card" style="width: 49%;">
						<div class="card-body category-dashboard-card dashboard-card">
							<div class="stats_wrapper">
								<h1 class="mb-0 d-block text-center value" id="value1"></h1>
								<div class="description">
									<span>Articles with more than <%= format_large_number(@views_cut_off) %> views<br>(last 3 months)</span>
								</div>
							</div>
							<a class="text-align-center bottom-link" href="/categories/<%= @category.slug %>?popular_within=12">
								<p class="mb-0 text-white bg-dark text-center">View Popular Articles</p>
							</a>
						</div>
					</div>
					<div class="chart-card d-inline-flex card" style="width: 49%;">
						<div class="card-body category-dashboard-card dashboard-card">
							<div class="stats_wrapper">
								<h1 class="mb-0 d-block text-center value" id="value2"></h1>
								<div class="description">
									<span>Writers subscribed to <%= @category.name.capitalize %>'s email list</span>
								</div>
							</div>
							<a class="text-align-center bottom-link" href="/writers?email_list=<%= @category.slug %>">
								<p class="mb-0 text-white bg-dark text-center">View Writers on Email List</p>
							</a>
						</div>
					</div>
				</div>
				<div class="mt-4 d-flex flex-row flex-wrap justify-content-between">
					<div class="chart-card d-inline-flex card" style="width: 49%;">
						<div class="card-body category-dashboard-card dashboard-card">
							<div class="stats_wrapper">
								<h1 class="mb-0 d-block text-center value" id="value3"></h1>
								<div class="description">
									<span>High priority articles published</span>
								</div>
							</div>
							<a class="text-align-center bottom-link" href="/categories/<%= @category.slug %>?high_priority=true">
								<p class="mb-0 text-white bg-dark text-center">View High Priority Articles</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="drafts-classic" role="tabpanel" aria-labelledby="drafts-tab-classic">
				<div class="dashboard--articles--wrapper">
					<% if @category_drafts.rejected.present? %>
						<h6 class="header_ttl">Changes Requested</h6>
						<%= render "/users/partials/dashboard_articles", articles: @category_drafts.rejected, image: "changes_requested.png" %>
					<% end %>
					<% if @category_drafts.in_review.present? %>
						<h6 class="header_ttl">Articles In Review</h6>
						<%= render "/users/partials/dashboard_articles", articles: @category_drafts.in_review, image: "in_review.png" %>
					<% end %>
					<% if @category_drafts.submitted.present? %>
						<h6 class="header_ttl">Pending Review</h6>
						<%= render "/users/partials/dashboard_articles", articles: @category_drafts.submitted, image: "waiting.png" %>
					<% end %>
					<h6 class="header_ttl">Articles In Progress</h6>
					<%= render "/users/partials/dashboard_articles", articles: @category_drafts.draft, image: "saved.png" %>
				</div>
            </div>
		   <div class="tab-pane fade" id="follow-classic" role="tabpanel" aria-labelledby="activity-tab-classic">
            <h5 class="pitch_ttl">Editor Activity</h5>
            <%= render_async_cache get_editor_activity_path(category_id: @category.id), toggle: { selector: '#activity-tab-classic', event: :click } do %>
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <br>
      </div>
      <div class="dashboard--writer--flex--two dashboard--editor" style="width: 30rem;">
        <div class="flex--item">
          <div class="profile-minimal">
		  	<% if @user.present? %>
				<div class="position-relative" style="width: 120px; margin: 0 auto;">
				<svg id="animated" class="value1" viewbox="0 0 100 100">
					<circle cx="50" cy="50" r="45" fill="#fff"/>
					<path id="progress" stroke-linecap="round" stroke-width="5" stroke="#065F63" fill="none"
						d="M50 10
							a 40 40 0 0 1 0 80
							a 40 40 0 0 1 0 -80">
					</path>
				</svg>
				<% if @user.profile.attached? %>
					<%= image_tag(@user.profile.variant(resize_to_fill: [100,100], format: 'webp'), :class => "progress_editor_profile profile_img") %><span class="badge badge-default editor_label">Manager</span>
				<% else %>
					<%= image_tag("profile_image.jpg", :class => "progress_editor_profile profile_img") %><span class="badge badge-default editor_label">Manager</span>
				<% end %>
				</div>
				<h5>Welcome,</h5>
				<div>
				<h2 style="max-width: 80%; margin: 0 auto; font-weight: bold;">
					<%= link_to(@user.try(:full_name), @user, class: "link_grn") %>
				</h2>
				</div>
			<% else %>
				<h3>There is no managing editor for this category</h3>
			<% end %>
			<div class="list-group-flush menu-links text-left mt-4 pt-2 mb-4" data-step data-index="5">
			  <% if @category.slug.eql? 'interviews' %>
			  	<div class="list-group-item">
					<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 16a240 240 0 1 1 0 480 240 240 0 1 1 0-480zm0 496A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM357.7 197.7c3.1-3.1 3.1-8.2 0-11.3s-8.2-3.1-11.3 0L224 308.7l-58.3-58.3c-3.1-3.1-8.2-3.1-11.3 0s-3.1 8.2 0 11.3l64 64c3.1 3.1 8.2 3.1 11.3 0l128-128z"/></svg>
					<%= link_to "Manage interview requests", '/interviews', class: "link_nrml" %>
				</div>
				<div class="list-group-item">
					<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 16a240 240 0 1 1 0 480 240 240 0 1 1 0-480zm0 496A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM357.7 197.7c3.1-3.1 3.1-8.2 0-11.3s-8.2-3.1-11.3 0L224 308.7l-58.3-58.3c-3.1-3.1-8.2-3.1-11.3 0s-3.1 8.2 0 11.3l64 64c3.1 3.1 8.2 3.1 11.3 0l128-128z"/></svg>
					<%= link_to "Create new interview request", '/interviews/new', class: "link_nrml" %>
				</div>
			  <% else %>
				<div class="list-group-item">
					<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 16a240 240 0 1 1 0 480 240 240 0 1 1 0-480zm0 496A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM357.7 197.7c3.1-3.1 3.1-8.2 0-11.3s-8.2-3.1-11.3 0L224 308.7l-58.3-58.3c-3.1-3.1-8.2-3.1-11.3 0s-3.1 8.2 0 11.3l64 64c3.1 3.1 8.2 3.1 11.3 0l128-128z"/></svg>
					<%= link_to "Manage category pitches", pitches_path(pitch: {:category_id => @category.id}), class: "link_nrml" %>
				</div>
			  <% end %>
			  <div class="list-group-item">
			  	<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 16a240 240 0 1 1 0 480 240 240 0 1 1 0-480zm0 496A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM357.7 197.7c3.1-3.1 3.1-8.2 0-11.3s-8.2-3.1-11.3 0L224 308.7l-58.3-58.3c-3.1-3.1-8.2-3.1-11.3 0s-3.1 8.2 0 11.3l64 64c3.1 3.1 8.2 3.1 11.3 0l128-128z"/></svg>
                <%= link_to "Send newsletters", "/newsletters/manage/#{@user.slug}", class: "link_nrml"  %>
			  </div>
			  <div class="list-group-item">
			  	<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 88c0-4.4 3.6-8 8-8H440c4.4 0 8 3.6 8 8s-3.6 8-8 8H8c-4.4 0-8-3.6-8-8zM0 248c0-4.4 3.6-8 8-8H440c4.4 0 8 3.6 8 8s-3.6 8-8 8H8c-4.4 0-8-3.6-8-8zM448 408c0 4.4-3.6 8-8 8H8c-4.4 0-8-3.6-8-8s3.6-8 8-8H440c4.4 0 8 3.6 8 8z"/></svg>
                <%= link_to "All writers", "/writers", class: "link_nrml link_light"  %>
			  </div>
			  <div class="list-group-item">
			  	<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 88c0-4.4 3.6-8 8-8H440c4.4 0 8 3.6 8 8s-3.6 8-8 8H8c-4.4 0-8-3.6-8-8zM0 248c0-4.4 3.6-8 8-8H440c4.4 0 8 3.6 8 8s-3.6 8-8 8H8c-4.4 0-8-3.6-8-8zM448 408c0 4.4-3.6 8-8 8H8c-4.4 0-8-3.6-8-8s3.6-8 8-8H440c4.4 0 8 3.6 8 8z"/></svg>
                <%= link_to "All editors", "/editors", class: "link_nrml link_light"  %>
			  </div>
			  <% if @category.slug.eql? 'interviews' %>
			  	<div class="list-group-item">
					<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 88c0-4.4 3.6-8 8-8H440c4.4 0 8 3.6 8 8s-3.6 8-8 8H8c-4.4 0-8-3.6-8-8zM0 248c0-4.4 3.6-8 8-8H440c4.4 0 8 3.6 8 8s-3.6 8-8 8H8c-4.4 0-8-3.6-8-8zM448 408c0 4.4-3.6 8-8 8H8c-4.4 0-8-3.6-8-8s3.6-8 8-8H440c4.4 0 8 3.6 8 8z"/></svg>
					<%= link_to "All interviewers", "/interviewers", class: "link_nrml link_light"  %>
				</div>
			  <% end %>
			  <div class="list-group-item">
			  	<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M460.3 39.6l12.1 12.1c15.6 15.6 15.6 40.9 0 56.6L440 140.7 371.3 72l32.4-32.4c15.6-15.6 40.9-15.6 56.6 0zM175.4 267.9L360 83.3 428.7 152 244.1 336.6c-5.3 5.3-12 9-19.3 10.7l-78.1 18 18-78.1c1.7-7.3 5.4-14 10.7-19.3zm217-239.6L164.1 256.6c-7.4 7.4-12.6 16.8-15 27l-20.9 90.6c-.6 2.7 .2 5.5 2.1 7.5s4.8 2.8 7.5 2.1l90.6-20.9c10.2-2.4 19.6-7.5 27-15L483.7 119.6c21.9-21.9 21.9-57.3 0-79.2L471.6 28.3c-21.9-21.9-57.3-21.9-79.2 0zM72 64C32.2 64 0 96.2 0 136V440c0 39.8 32.2 72 72 72H376c39.8 0 72-32.2 72-72V296c0-4.4-3.6-8-8-8s-8 3.6-8 8V440c0 30.9-25.1 56-56 56H72c-30.9 0-56-25.1-56-56V136c0-30.9 25.1-56 56-56H216c4.4 0 8-3.6 8-8s-3.6-8-8-8H72z"/></svg>
                <%= link_to "Edit Category", edit_category_path(@category), class: "link_nrml link_light"  %>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "plugins/canvasjs.min" %>
<script type="text/javascript">
  var loaded = []
  $.fn.isOnScreen = function(){
    var win = $(window);
    var viewport = {
        top : win.scrollTop(),
        left : win.scrollLeft()
    };
    viewport.right = viewport.left + win.width();
    viewport.bottom = viewport.top + win.height();
    var bounds = this.offset();
    bounds.right = bounds.left + this.outerWidth();
    bounds.bottom = bounds.top + this.outerHeight();
    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
  };

  $.fn.triggerAnalytics = function(){
    if (($('#value1').isOnScreen()) && (!loaded[0])) {
      animateValue('value1', 0, <%= @popular_articles_count %>, 500);
      loaded[0] = true;
    }
    if (($('#value2').isOnScreen()) && (!loaded[1])) {
      animateValue('value2', 0, <%= @subscribers_count %>, 500);
      loaded[1] = true;
    }
	if (($('#value3').isOnScreen()) && (!loaded[2])) {
      animateValue('value3', 0, <%= @high_priority_published_count %>, 500);
      loaded[2] = true;
    }
  };

  $(document).ready(function(){
    loaded = [false, false, false];
    $.fn.triggerAnalytics();
    $(window).on('scroll',function(){
        $.fn.triggerAnalytics();
    });
  });
</script>
<script>
$(document).ready(function(){
	var chart1 = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		title:{
			text: "Daily Article Stats for <%= @category.name.capitalize %>".replace('amp;','')
		},
		axisX: {
			valueFormatString: "MMM DD"
		},
		axisY: {
			title: "# Articles",
		},
		legend:{
			cursor: "pointer",
			fontSize: 16,
			itemclick: toggleDataSeries
		},
		toolTip:{
			shared: true
		},
		data: [{
			name: "Published in <%= @category.name.capitalize %>".replace('amp;',''),
			type: "spline",
			showInLegend: true,
			dataPoints: [
				{ x: new Date(<%= (Time.now - 14.days).to_f * 1000 %>), y: <%= @published_in_category[0] %> },
				{ x: new Date(<%= (Time.now - 13.days).to_f * 1000 %>), y: <%= @published_in_category[1] %> },
				{ x: new Date(<%= (Time.now - 12.days).to_f * 1000 %>), y: <%= @published_in_category[2] %> },
				{ x: new Date(<%= (Time.now - 11.days).to_f * 1000 %>), y: <%= @published_in_category[3] %> },
				{ x: new Date(<%= (Time.now - 10.days).to_f * 1000 %>), y: <%= @published_in_category[4] %> },
				{ x: new Date(<%= (Time.now - 9.days).to_f * 1000 %>), y: <%= @published_in_category[5] %> },
				{ x: new Date(<%= (Time.now - 8.days).to_f * 1000 %>), y: <%= @published_in_category[6] %> },
				{ x: new Date(<%= (Time.now - 7.days).to_f * 1000 %>), y: <%= @published_in_category[7] %> },
				{ x: new Date(<%= (Time.now - 6.days).to_f * 1000 %>), y: <%= @published_in_category[8] %> },
				{ x: new Date(<%= (Time.now - 5.days).to_f * 1000 %>), y: <%= @published_in_category[9] %> },
				{ x: new Date(<%= (Time.now - 4.days).to_f * 1000 %>), y: <%= @published_in_category[10] %> },
				{ x: new Date(<%= (Time.now - 3.days).to_f * 1000 %>), y: <%= @published_in_category[11] %> },
				{ x: new Date(<%= (Time.now - 2.days).to_f * 1000 %>), y: <%= @published_in_category[12] %> },
				{ x: new Date(<%= (Time.now - 1.days).to_f * 1000 %>), y: <%= @published_in_category[13] %> },
			]
		},
		{
			name: "Drafts Started in <%= @category.name.capitalize %>".replace('amp;',''),
			type: "spline",
			showInLegend: true,
			dataPoints: [
				{ x: new Date(<%= (Time.now - 14.days).to_f * 1000 %>), y: <%= @started_in_category[0] %> },
				{ x: new Date(<%= (Time.now - 13.days).to_f * 1000 %>), y: <%= @started_in_category[1] %> },
				{ x: new Date(<%= (Time.now - 12.days).to_f * 1000 %>), y: <%= @started_in_category[2] %> },
				{ x: new Date(<%= (Time.now - 11.days).to_f * 1000 %>), y: <%= @started_in_category[3] %> },
				{ x: new Date(<%= (Time.now - 10.days).to_f * 1000 %>), y: <%= @started_in_category[4] %> },
				{ x: new Date(<%= (Time.now - 9.days).to_f * 1000 %>), y: <%= @started_in_category[5] %> },
				{ x: new Date(<%= (Time.now - 8.days).to_f * 1000 %>), y: <%= @started_in_category[6] %> },
				{ x: new Date(<%= (Time.now - 7.days).to_f * 1000 %>), y: <%= @started_in_category[7] %> },
				{ x: new Date(<%= (Time.now - 6.days).to_f * 1000 %>), y: <%= @started_in_category[8] %> },
				{ x: new Date(<%= (Time.now - 5.days).to_f * 1000 %>), y: <%= @started_in_category[9] %> },
				{ x: new Date(<%= (Time.now - 4.days).to_f * 1000 %>), y: <%= @started_in_category[10] %> },
				{ x: new Date(<%= (Time.now - 3.days).to_f * 1000 %>), y: <%= @started_in_category[11] %> },
				{ x: new Date(<%= (Time.now - 2.days).to_f * 1000 %>), y: <%= @started_in_category[12] %> },
				{ x: new Date(<%= (Time.now - 1.days).to_f * 1000 %>), y: <%= @started_in_category[13] %> },
			]
		}]
	});
chart1.render();

var chart2 = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Published in <%= @category.name.capitalize %>".replace("amp;", "")
	},
	axisY: {
		title: "# Published articles"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		dataPoints: [      
			{ y: <%= @articles_last_month %>, label: "<%= format_date(Time.now - 60.days) %> - <%= format_date(Time.now - 30.days) %>" },
			{ y: <%= @articles_this_month %>,  label: "<%= format_date(Time.now - 30.days) %> - <%= format_date(Time.now) %>" },
		]
	}]
});
chart2.render();

var chart3 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Your newsletters sent"
	},
	axisY: {
		title: "# Newsletters sent"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		dataPoints: [      
			{ y: <%= @newsletters_sent_last_month %>, label: "<%= format_date(Time.now - 60.days) %> - <%= format_date(Time.now - 30.days) %>" },
			{ y: <%= @newsletters_sent_this_month %>,  label: "<%= format_date(Time.now - 30.days) %> - <%= format_date(Time.now) %>" },
		]
	}]
});
chart3.render();

function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart1.render();
}

})
</script>