<div class="category">
  <div class="category_image" style="background-image: url(<%= url_for(@category.image.variant(resize_to_fill: [1200, 845], format: 'webp')) %>)">
    <div class="category_name_background p-4">
      <h1><%= @category.name %></h1>
      <% if current_user && (current_user.admin? || (current_user.categories.where(slug: @category.slug).present?)) %>
        <%= link_to "Category dashboard (admin only)", "/categories/#{@category.slug}/dashboard", class: "link_nrml" %>
      <% end %>
    </div>
  </div>
  <% if current_user && current_user.is_manager? && params[:popular_within].present? %>
    <div class="alert alert-info" role="alert">
      <svg width="15px" height="15px" class="mb-1 svg-inline--fa fa-check-circle fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zM439 279c15.1 15.1 41 4.4 41-17V152c0-13.3-10.7-24-24-24H345.9c-21.4 0-32.1 25.9-17 41l32.4 32.4L304 258.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0l-80 80c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L208 253.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0l80-80L439 279z"/></svg>
      Showing most popular articles published within the past <b><%= params[:popular_within] %> weeks</b>. Edit the number in the url to change the time filter. (admin only)
    </div>
  <% end %>
  <% if current_user && current_user.is_manager? && (params[:high_priority].eql? 'true') %>
    <div class="alert alert-info" role="alert">
      <svg width="15px" height="15px" class="mb-1 svg-inline--fa fa-check-circle fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zM439 279c15.1 15.1 41 4.4 41-17V152c0-13.3-10.7-24-24-24H345.9c-21.4 0-32.1 25.9-17 41l32.4 32.4L304 258.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0l-80 80c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L208 253.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0l80-80L439 279z"/></svg>
      Showing articles marked <b>High priority</b> in <%= @category.name.capitalize %>. (admin only)
    </div>
  <% end %>
  <div class="category--show">
    <div class="other--articles">
      <div class="flex">
        <div class="container">
          <% @category_posts.each_with_index do |post, index| %>
            <div class="thumbnail d-flex">
              <div class="child container--image">
              <%=link_to(post) do %>
                <div class="w-100 position-relative">
                  <% if post.rank.present? && post.rank <= 1 %>
                      <span class="badge badge-pink" style="position: absolute; z-index: 10000; top: 5px; left: 5px;">trending in <%= post.category.name %> 🔥</span>
                  <% end %>
                  <%= render 'posts/partials/header_image', post: post, img_class: "image_thumbnail" %>
                </div>
              <% end %>                
              </div>
              <div class="child category-show recent">
                <h3 class="mb-3 pl-3 pr-3" style="line-height: 0.8"><%= link_to post.title, post %></h3>
                <div class="d-flex justify-content-center">
                  <div class="d-table-cell align-middle">
                    <div class="author d-inline">
                      <% @profile = post.user.profile.attached? ? post.user.profile.variant(resize_to_fill: [100,100]) : "profile_image.jpg" %>
                      <%= image_tag(@profile, :class => "profile_img", :style => "max-width: 20px !important; min-width: 20px !important; height: 20px;") %>
                      <%= link_to("#{post.user.full_name}, ", post.user, class: 'date') %>
                    </div>
                    <span><%= date_to_words(post.publish_at) %></span>
                  </div>
                </div>
                <p class="date_post_preview mb-0">
                  <%= post.category.name %>
                </p>
                <%= render 'posts/partials/views_and_comments', post: post %>
                <%= render 'posts/partials/admin_stats', post: post, show_priority: true %>
              </div>
            </div>
            <% if (index + 1) % 4 == 0 %>
              <div class="content_hint"></div>
            <% end %>
          <% end %>
        </div>
        <a class="apply" href="/apply" target="blank">
        </a>
      </div>
      <% if @category.slug.eql? 'interviews' %>
        <p class="text-center">Want to get featured on The Teen Magazine? Pitch your story <%= link_to 'here', '/pitch-interview', class: "link_grn" %>.</p>
      <% end %>
      <%== pagy_nav(@pagy).html_safe %>
    </div>
  </div>
</div>
