<style>
  .category_image {
    background-color: <%= @color %>;
  }
  .category_image h1 {
    color: <%= @color %> !important;
  }
  #theme-link {
    color: <%= @color %> !important;
  }
</style>

<div class="category">
  <div class="category_image">
    <div class="category_name_background p-4">
      <h1><%= @category.name.titleize %></h1>
      <p class="m-0">Contributed to by <%= @team.count %> student writers</p>
      <a id="theme-link" href="/categories/<%= @category.slug %>/team">Meet the Team</a>
    </div>
  </div>
  <% if current_user && current_user.is_manager? && params[:popular_within].present? %>
    <div class="alert alert-info" role="alert">
      <svg width="15px" height="15px" class="mb-1 svg-inline--fa fa-check-circle fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zM439 279c15.1 15.1 41 4.4 41-17V152c0-13.3-10.7-24-24-24H345.9c-21.4 0-32.1 25.9-17 41l32.4 32.4L304 258.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0l-80 80c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L208 253.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0l80-80L439 279z"/></svg>
      Showing most popular articles published within the past <b><%= params[:popular_within] %> weeks</b>. Edit the number in the url to change the time filter. (admin only)
    </div>
  <% end %>
  <% if current_user && current_user.is_manager? && (params[:high_priority].eql? 'true') %>
    <div class="alert alert-info" role="alert">
      <svg width="15px" height="15px" class="mb-1 svg-inline--fa fa-check-circle fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zM439 279c15.1 15.1 41 4.4 41-17V152c0-13.3-10.7-24-24-24H345.9c-21.4 0-32.1 25.9-17 41l32.4 32.4L304 258.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0l-80 80c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L208 253.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0l80-80L439 279z"/></svg>
      Showing articles marked <b>High priority</b> in <%= @category.name.titleize %>. (admin only)
    </div>
  <% end %>
  <div class="category--show">
    <div class="other--articles">
      <div id="promoted-posts" class="ctgry_section">
        <%= render 'posts/partials/promoted/promoted_page', posts: @category_posts %>
      </div>
      <% if @category.slug.eql? 'interviews' %>
        <p class="text-center">Want to get featured on The Teen Magazine? Pitch your story <%= link_to 'here', '/pitch-interview', class: "link_grn" %>.</p>
      <% end %>
      <%== pagy_nav(@pagy).html_safe %>
    </div>
  </div>
</div>
