<div class="category">
  <div class="category_image" style="background-image: url(<%= url_for(@category.image) %>)">
    <h1><%= @category.name %></h1>
  </div>
  <div class="category--show">
    <div class="other--articles">
      <div class="flex">
        <div class="container">
          <% @category_posts.each_with_index do |post, index| %>
            <div class="thumbnail">
              <div class="container--image">
                <%=link_to(image_tag(post.thumbnail.variant(resize_to_fill: [540,340]), :class => "image_thumbnail"), post )%>
              </div>
              <div class="thumbnail--container">
                <p class="date_post_preview"><%= post.category.name %></p>
                <h3 class="article_title"><%= link_to post.title, post %></h3>
                <p class="date_post_preview"><%= date_to_words(post.publish_at) %></p>
              </div>
            </div>
            <% if (index + 1) % 4 == 0 %>
              <div class="content_hint"></div>
            <% end %>
          <% end %>
        </div>
        <a class="apply" href="/apply" target="blank">
        </a>
      </div>
      <% if @category.slug.eql? 'interviews' %>
        <p class="text-center">Want to get featured on The Teen Magazine? Pitch your story <%= link_to 'here', '/pitch-interview', class: "link_grn" %>.</p>
      <% end %>
      <%== pagy_nav(@pagy).html_safe %>
    </div>
  </div>
</div>
