<style>
  .category_image {
    background-color: <%= @color %>;
  }
  .category_image h1 {
    color: <%= @color %> !important;
  }
  #theme-link {
    color: <%= @color %> !important;
  }
</style>

<div class="category">
  <div class="category_image">
    <div class="category_name_background p-4">
      <h1><%= @category.name.titleize %></h1>
      <p class="m-0">Contributed to by <%= @users.length %> student writers</p>
      <a id="theme-link" href="/categories/<%= @category.slug %>">Go back to Category</a>
    </div>
  </div>
  <div class="wrapper_home">
    <% if @managing_editor.present? %>
      <h1 id="page_title" style="border-bottom: none; margin-top: 0px; padding-bottom: 20px;">Managing Editor</h1>
      <div style="max-width: 800px; margin: 0 auto;" class="d-flex">
          <%= render :partial => 'users/profile', locals: {user: @managing_editor} %>
      </div>
    <% end %>
    <h1 id="page_title" style="border-bottom: none; margin-top: 0px; padding-bottom: 20px; padding-top: 20px;">Contributors</h1>
    <ul class="d-flex flex-wrap justify-content-center w-100 mt-4" style="list-style: none;">
        <% @team.each do |user| %>
            <li stye="flex-grow: 1; flex-shrink: 0; flex-basis: 25%;">
                <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 40px;">
                    <%= render :partial => 'users/profile_minimal', locals: {user: user} %>
                </div>
            </li>
        <% end %>
    </ul>
  <p class="text-center">Want to write for The Teen Magazine? Apply <%= link_to "here", new_apply_path %>.</p>
    <%== pagy_nav(@pagy).html_safe %>
  </div>
</div>
