<p>Application</p>
<%= @resource.full_name %><br />
<%= @resource.description %>
<p>Log in</p>
<%= @resource.email %><br />
<%= @resource.password %>

<p><%= link_to "Accept this user", confirmation_url(@resource, confirmation_token: @token) %></p>
