<style>
  svg{width:120px;margin: 0 auto;
    display: block;
  font-family: 'Open Sans'}
</style>

<% @assigned_reviews = 8 %>
<% @assigned_pitches = 10 %>

<div class="official--writer--wrapper pitches_wrapper reviews_wrapper">
  <div class="dashboard_wrapper">
    <div id="waiting--for--approval">
      <div class="dashboard--writer--flex--main pr-3">
        <div data-step data-index="1" data-onboarding-content="Welcome to your editor dashboard! Articles you're reviewing will show up here.">
          <h5 class="pitch_ttl">Drafts You're Reviewing</h5>
          <% @editors_reviews.each do |draft| %>
            <div class="flex--postlist--item review_items pl-0">
              <div class="inside--item">
                <%= link_to (image_tag draft.thumbnail(:medium)), post_path(draft) %>
                <div>
                  <h4><%= link_to draft.title, post_path(draft), class: "link_nrml"%></h4>
                  <p class="edited_dt"><%= "Last edited by you " + time_ago_in_words(draft.reviews.last.updated_at) %> ago</p>
                  <p class="edited_dt"><%= "This article was submitted for review " + time_ago_in_words(draft.reviews.last.created_at) %> ago</p>
                  <p class="edit_lnk"><%= link_to "Edit Article", edit_post_path(draft) %></p>
                </div>
              </div>
            </div>
          <% end %>
          <% if @editors_reviews.count.eql? 0 %>
            <i>You don't have any articles that you're editing right now.</i>
          <% end %>
        </div>
        <div data-step data-index="2" data-onboarding-content= "Articles waiting to be reviewed by an editor will show up here. You can start claiming and reviewing articles once you've finished reading &ldquo;Reviewing Articles.&rdquo;">
          <h5 class="pitch_ttl">Articles Ready for Review</h5>
          <div class="flex-wrapper">
            <% @submitted_for_review.each do |draft| %>
              <div class="card card-review <% if @unseen_posts.include? draft %> unread <% end %>" style="width: 100%;">
                <div class="card-bottom-flex p-2">
                  <% if draft.user.try(:profile)&.exists? %>
                    <%= image_tag draft.user.profile.url(:square), :class => "profile_img", :id => "review_img" %>
                  <% else %>
                    <%= image_tag "profile_image.jpg", :class => "profile_img", :id => "review_img" %>
                  <% end %>
                  <div>
                    <h4 class="card-title mb-1"><%= link_to draft.title, draft, class: "link_nrml" %></h4>
                    <% if !draft.pitch.blank? %>
                      <p class="card-text"> <%= draft.pitch.description.truncate_words(20) %></p>
                    <% end %>
                    <p class="card-text"> Submitted by <%= link_to draft.user.try(:full_name), draft.user, class: "link_nrml" %> on <%= draft.reviews.last.updated_at.strftime("%A, %b %d") %> </p>
                    <%= link_to "Claim Review", edit_post_path(draft), :class => "btn btn-primary btn-review", :id => "btn_dark" %>
                  </div>
                </div>
              </div>
            <% end %>
            <% if @submitted_for_review.count.eql? 0 %>
              <i>There are no submitted articles right now. Check back in a few days!</i>
            <% end %>
          </div>
        </div>
        <div data-step data-index="3" data-onboarding-content='Newly pitched articles will show up here. You may accept/reject pitches as explained in "Reviewing Pitches."'>
          <h5 class="pitch_ttl">New Pitched Articles</h5>
          <div class="flex-wrapper">
            <% @submitted_pitches.each do |pitch| %>
            <div class="card card-review <% if @unseen_submitted_pitches.include? pitch %> unread <% end %>" style="width: 100%;">
                <div class="card-bottom-flex p-2">
                  <% if pitch.user.try(:profile)&.exists? %>
                    <%= image_tag pitch.user.profile.url(:square), :class => "profile_img", :id => "review_img" %>
                  <% else %>
                    <%= image_tag "profile_image.jpg", :class => "profile_img", :id => "review_img" %>
                  <% end %>
                  <div>
                    <h4 class="card-title"><%= link_to pitch.title, pitch, class: "link_nrml" %></h4>
                    <p class="card-text"> <%= pitch.description.truncate_words(20) %></p>
                    <p class="card-text"> Submitted by <%= link_to pitch.user.try(:full_name), pitch.user, class: "link_nrml" %> on <%= pitch.updated_at.strftime("%A, %b %d") %> </p>
                    <%= link_to "Review Pitch", edit_pitch_path(pitch), :class => "btn btn-primary btn-review", :id => "btn_dark" %>
                  </div>
                </div>
              </div>
            <% end %>
            <% if @submitted_pitches.count.eql? 0 %>
              <i>There are no submitted pitches right now. Check back in a few days!</i>
            <% end %>
          </div>
        </div>
        <% if @user.admin? %>
          <h5 class="pitch_ttl">All articles under review</h5>
          <% @all_reviews.each do |draft| %>
            <div class="flex--postlist--item review_items" style="padding-left: 0;">
              <div class="inside--item">
                <div>
                  <h4 style="padding: 0px;"><%= link_to draft.title, edit_post_path(draft), class: "link_nrml"%></h4>
                  <% @editor = User.find(draft.reviews.last.editor_id) %>
                  <p class="edited_dt" style="padding: 0px;"><%= "This article was submitted for review " + time_ago_in_words(draft.reviews.last.created_at) + " ago and is being reviewed by " %><%= link_to(@editor.full_name, @editor, style: "vertical-align: baseline;", class: "link_nrml") %></p>
                </div>
              </div>
            </div>
          <% end %>
          <% if @all_reviews.count.eql? 0 %>
            <i>There are no articles in review right now.</i>
            <br>
          <% end %>
        <% end %>
        <br>
      </div>
      <div class="dashboard--writer--flex--two dashboard--editor" style="width: 30rem;">
        <div class="flex--item">
          <div class="profile-minimal">
            <% if @editor_pitches_cnt >= @assigned_pitches && @editor_reviews_cnt >= @assigned_reviews %>
              <div class="alert alert-success" role="alert">
                <i class="fas fa-check-circle"></i> You have completed the required <%= @assigned_reviews %> reviews and <%= @assigned_pitches %> pitched articles this month. Great job!
              </div>
            <% elsif Date.today.end_of_month.day - Date.today.day < 16 && ((@assigned_pitches / 2) > @editor_pitches_cnt || (@assigned_reviews / 2) > @editor_reviews_cnt) %>
              <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-triangle"></i> You are not on track for completing the editor assignments by <b><%= Date.today.end_of_month.strftime("%B %d") %></b>.
                Missing a deadline may result in your removal from the editor team.
              </div>
            <% end %>
            <div class="position-relative" style="width: 120px; margin: 0 auto;">
              <svg id="animated" class="value1" viewbox="0 0 100 100">
                <circle cx="50" cy="50" r="45" fill="#fff"/>
                <path id="progress" stroke-linecap="round" stroke-width="5" stroke="#F0255E" fill="none"
                      d="M50 10
                         a 40 40 0 0 1 0 80
                         a 40 40 0 0 1 0 -80">
                </path>
              </svg>
              <% if @user.try(:profile)&.exists? %>
                <%= image_tag(@user.profile.url(:square), :class => "progress_editor_profile profile_img") %><span class="badge badge-default editor_label">Editor</span>
              <% else %>
                <%= image_tag("profile_image.jpg", :class => "progress_editor_profile profile_img") %><span class="badge badge-default editor_label">Editor</span>
              <% end %>
            </div>
            <h5>Welcome back,</h5>
            <div class="info">
              <h2 style="max-width: 80%; margin: 0 auto; font-weight: bold;">
                <%= link_to(@user.try(:full_name), @user) %>
              </h2>
            </div>
            <div class="list-group-flush text-left mt-4 pt-2 mb-4" data-step data-index="5" data-onboarding-content="Keep track of your monthly assignments here. Two consecutively missed deadlines will result in your removal from the editor team. This excludes the month in which you were accepted as an editor. You will receive warning emails before this happens.">
              <div class="list-group-item" style="background-color: whitesmoke;">
                <p class="m-0"><i class="fas fa-calendar-alt fa-2x mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Your <%= Date.today.strftime("%B") %> Report:</p>
              </div>
              <div class="list-group-item">
                <p class="mb-0 <% if @editor_reviews_cnt >= @assigned_reviews %>strikethrough<% end %>"> <i class="fas fa-glasses fa-2x mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true" style="width: 58px; padding-left: 15px !important;"></i><a href="#" data-toggle="tooltip" title="Due <%= Date.today.end_of_month.strftime("%B %d") %>"><%= @editor_reviews_cnt %>/<%= @assigned_reviews %> Reviews</a> completed</p>
              </div>
              <div class="list-group-item" style="border-top: none !important;">
                <p class="mb-0 <% if @editor_pitches_cnt >= @assigned_pitches %>strikethrough<% end %>"><i class="fas fa-lightbulb-on fa-2x mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true" style="width: 58px; padding-left: 13px !important;"></i><a href="#" data-toggle="tooltip" title="Due <%= Date.today.end_of_month.strftime("%B %d") %>"><%= @editor_pitches_cnt %>/<%= @assigned_pitches %> Pitches</a> completed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="guidelines" data-step data-index="4" data-onboarding-content="Reference the editor docs here to be clear on pitch and article requirements.">
    <div class="thelink">
      <a href="/editor-requirements">
      <div class="box foo G6 ">
        <p>Start Here</p>
      </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/pitching-new-articles">
        <div class="G7 box foo">
          <p>Pitching New Articles</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/pitch-requirements">
        <div class="G8 box foo">
          <p>Reviewing Pitches</p>
        </div>
      </a>
    </div>
    <div class="thelink">
      <a href="/article-requirements">
        <div class="G9 box foo">
          <p>Reviewing Articles</p>
        </div>
      </a>
    </div>
  </div>
</div>

<% if @show_editor_dashboard_onboarding %>
  <%= javascript_include_tag 'mdb.min' %>
  <%= javascript_include_tag 'plugins/onboarding.min' %>
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function() {
        document.getElementById("click-event-trigger").click();
      }, 2000);
    });
  </script>
<% end %>

<script type="text/javascript">
  var pitches = <%= @editor_pitches_cnt %>;
  var reviews = <%= @editor_reviews_cnt %>;
  if (pitches > <%= @assigned_pitches %>) {
    pitches = <%= @assigned_pitches %>;
  };
  if (reviews > <%= @assigned_reviews %>) {
    reviews = <%= @assigned_reviews %>;
  }
  $(document).ready(function(){
    var percent = (pitches + reviews) / <%= @assigned_reviews + @assigned_pitches %>;
    animateEditorStats(percent);
  });
</script>

<%= javascript_include_tag 'plugins/snap.svg-min' %>
