<% if @post.present? %>
  <%= render "/reviews/post_reviews" %>
<% else %>
  <div class="skinny_wrapper wrapper_padding pitches_wrapper reviews_wrapper">
    <h3 class="pitch_ttl">Articles you're editing</h3>
    <% @editors_reviews.each do |draft| %>
      <div class="flex--postlist--item review_items">
        <div class="inside--item">
          <%= link_to (image_tag draft.thumbnail(:medium)), post_path(draft) %>
          <div>
            <h4 class="pitch_ttl"><%= link_to draft.title, post_path(draft)%></h4>
            <p class="edited_dt"><%= "Last edited by you " + time_ago_in_words(draft.reviews.last.updated_at) %> ago</p>
            <p class="edited_dt"><%= "This article was submitted for review " + time_ago_in_words(draft.reviews.last.created_at) %> ago</p>
            <p class="edit_lnk"><%= link_to "Edit Article", edit_post_path(draft) %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @editors_reviews.count.eql? 0 %>
      <i>You don't have any articles that you're editing right now.</i>
    <% end %>
    <h3 class="pitch_ttl">Article submissions</h3>
    <div class="flex-wrapper">
      <% @submitted_for_review.each do |draft| %>
        <div class="card card-review <% if @unseen_posts.include? draft %> unread <% end %>" style="width: 100%;">
          <h4 class="card-title pitch_ttl"><%= link_to draft.title, draft %></h4>
          <div class="card-bottom-flex">
            <% if draft.user.profile.exists? %>
              <%= image_tag draft.user.profile.url(:square), :class => "profile_img", :id => "review_img" %>
            <% else %>
              <%= image_tag "profile_image", :class => "profile_img", :id => "review_img" %>
            <% end %>
            <div>
              <% if !draft.pitch.blank? %>
                <p class="card-text"> <%= draft.pitch.description.truncate_words(20) %></p>
              <% end %>
              <p class="card-text"> Submitted by <%= link_to draft.user.full_name, draft.user %> on <%= draft.reviews.last.updated_at.strftime("%A, %b %d") %> </p>
            </div>
            <%= link_to "Claim Review", edit_post_path(draft), :class => "btn btn-primary btn-review", :id => "btn_pink" %>
          </div>
        </div>
      <% end %>
      <% if @submitted_for_review.count.eql? 0 %>
        <i>There are no submitted articles right now. Check back in a few days!</i>
      <% end %>
    </div>
    <h3 class="pitch_ttl">Pitch submissions</h3>
    <div class="flex-wrapper">
      <% @submitted_pitches.each do |pitch| %>
      <div class="card card-review <% if @unseen_pitches.include? pitch %> unread <% end %>" style="width: 100%;">
          <h4 class="card-title pitch_ttl"><%= link_to pitch.title, pitch %></h4>
          <div class="card-bottom-flex">
            <% if pitch.user.profile.exists? %>
              <%= image_tag pitch.user.profile.url(:square), :class => "profile_img", :id => "review_img" %>
            <% else %>
              <%= image_tag "profile_image", :class => "profile_img", :id => "review_img" %>
            <% end %>
            <div>
              <p class="card-text"> <%= pitch.description.truncate_words(20) %></p>
              <p class="card-text"> Submitted by <%= link_to pitch.user.full_name, pitch.user %> on <%= pitch.updated_at.strftime("%A, %b %d") %> </p>
            </div>
            <%= link_to "View Pitch", edit_pitch_path(pitch), :class => "btn btn-primary btn-review", :id => "btn_pink" %>
          </div>
        </div>
      <% end %>
      <% if @submitted_pitches.count.eql? 0 %>
        <i>There are no submitted pitches right now. Check back in a few days!</i>
      <% end %>
    </div>
    <% if current_user.admin? %>
      <h3 class="pitch_ttl">All articles under review</h3>
      <% @all_reviews.each do |draft| %>
        <div class="flex--postlist--item review_items" style="padding-left: 0;">
          <div class="inside--item">
            <div>
              <h4 class="pitch_ttl" style="padding: 0px;"><%= link_to draft.title, edit_post_path(draft)%></h4>
              <% @editor = User.find(draft.reviews.last.editor_id) %>
              <p class="edited_dt" style="padding: 0px;"><%= "This article was submitted for review " + time_ago_in_words(draft.reviews.last.created_at) + " ago and is being reviewed by " %><%= link_to(@editor.full_name, @editor, style: "vertical-align: baseline;") %></p>
            </div>
          </div>
        </div>
      <% end %>
      <% if @all_reviews.count.eql? 0 %>
        <i>There are no articles in review right now.</i>
        <br>
      <% end %>
    <% end %>
    <br>
  </div>
<% end %>
