<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="wrapper_home text-center text-md-left pb-3" style="margin-bottom: 0;">
    <!-- Grid row -->
      <!-- Content -->
    <div class="title-footer">
      <h1><%= link_to "The Teen Magazine", root_path %></h1>
      <!-- Social buttons -->
      <div class="social-media-footer">
        <%= render "layouts/partials/social_media" %>
      </div>
      <!-- Social buttons -->
    </div>
    <div class="row">
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Quick Links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/about-us">About us</a>
          </li>
          <li><%= link_to "Log in", '/login' %></li>
          <li>
            <a href="/search?utf8=✓&filter=all+articles">All Articles</a>
          </li>
          <li>
            <a href="/search?utf8=✓&filter=writers">Writers</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="/copyright-policy">Copyright Policy</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <% if @categories_footer && @categories_footer.length > 1 %>
        <div>
          <!-- Links -->
          <h6 class="font-weight-bold text-uppercase">Categories</h6>
          <ul class="list-unstyled">
              <% @categories_footer[0].each do |category| %>
                <li><a href="/categories/<%=category.slug%>"><%= category.name&.titleize %></a></li>
              <% end %>
          </ul>
        </div>
        <!-- Grid column -->
        <div>
          <!-- Links -->
          <h6 class="font-weight-bold text-uppercase">Categories</h6>
          <ul class="list-unstyled">
            <% @categories_footer[1].each do |category| %>
              <li><a href="/categories/<%=category.slug%>"><%= category.name&.titleize %></a></li>
            <% end %>
          </ul>
        </div>
        <!-- Grid column -->
      <% end %>
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Get in Touch</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/apply">Write for The Teen Magazine</a>
          </li>
          <li>
            <a href="/contact-us">Contact us</a>
          </li>
          <li>
            <a href="/pitch-interview">Get featured</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="py-3">
      <span><i>© <%= Time.now.year %> TheTeenMagazine.com</i></span>
    </div>
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <!-- Copyright -->
  <script type="text/javascript" async src="https://btloader.com/tag?o=5698917485248512&upapi=true&domain=theteenmagazine.com"></script>

  <script>!function(){"use strict";var e;e=document,function(){var t,n;function r(){var t=e.createElement("script");t.src="https://cafemedia-com.videoplayerhub.com/galleryplayer.js",e.head.appendChild(t)}function a(){var t=e.cookie.match("(^|[^;]+)\s*__adblocker\s*=\s*([^;]+)");return t&&t.pop()}function c(){clearInterval(n)}return{init:function(){var e;"true"===(t=a())?r():(e=0,n=setInterval((function(){100!==e&&"false" !== t || c(), "true" === t && (r(), c()), t = a(), e++}), 50))}}}().init()}();
  </script>

  <!-- Raptive - Disable ads -->
  <script>
    window.adthrive.cmd.push(function() {
      window.adthrive.disableAds(['/edit', '/onboarding', '/interviews', '/interviews/*', '/new', '/pitches/*', '/pitches', '/dashboard', '/partners/*', '/writers/*', '/pages/*', '/editors/*', '/apply', '/about-us']);
    });
  </script>

  <% if current_user.present? %>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        window.adthrive = window.adthrive || {};
        window.adthrive.cmd = window.adthrive.cmd || [];

        window.adthrive.cmd.push(function () {
          window.adthrive.identityApi({
            source: 'api',
            plainText: '<%= current_user.email %>'
          }, ({ success, data }) => {
            if (success) {
              // Identity API success!
              console.log(`success: ${data.message}`);
            } else {
              // Identity API error, check message
              console.log(`error: ${data.message}`);
            }
          });
        });
      });
    </script>
  <% end %>
</footer>
<!-- Footer -->
