<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="wrapper_home text-center text-md-left pb-3" style="margin-bottom: 0;">
    <!-- Grid row -->
      <!-- Content -->
    <div class="title-footer">
      <h1><%= link_to "The Teen Magazine", root_path %></h1>
      <!-- Social buttons -->
      <div class="social-media-footer">
        <%= render "layouts/partials/social_media" %>
      </div>
      <!-- Social buttons -->
    </div>
    <div class="row">
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Quick Links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/about-us">About us</a>
          </li>
          <li><%= link_to "Log in", '/login' %></li>
          <li>
            <a href="/search?utf8=✓&filter=all+articles">All Articles</a>
          </li>
          <li>
            <a href="/search?utf8=✓&filter=writers">Writers</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="/copyright-policy">Copyright Policy</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Categories</h6>
        <ul class="list-unstyled">
          <% @categories[0].each do |category| %>
            <li><a href="/categories/#{category.slug}"><%= category.name&.titleize %></a></li>
          <% end %>
        </ul>
      </div>
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Categories</h6>
        <ul class="list-unstyled">
          <% @categories[1].each do |category| %>
            <li><a href="/categories/#{category.slug}"><%= category.name&.titleize %></a></li>
          <% end %>
        </ul>
      </div>
      <!-- Grid column -->
      <div>
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase">Get in Touch</h6>
        <ul class="list-unstyled">
          <li>
            <a href="/apply">Write for The Teen Magazine</a>
          </li>
          <li>
            <a href="/contact-us">Contact us</a>
          </li>
          <li>
            <a href="/pitch-interview">Get featured</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="py-3">
      <span><i>© <%= Time.now.year %> TheTeenMagazine.com</i></span>
    </div>
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<!-- Footer -->
