<header id="main_navigation" class="clearfix header-navigation hide-on-mobile">
  <!-- <div class="banner_stts_relative">
    <p class= "banner_stts" style="background-color: #50C150;">The Teen Magazine's March Issue has been released! Download it for free <%= link_to("here", "/subscribe", class: "link_white", target: "_blank") %>.</p>
  </div> -->
  <div id="banner" class="banner-relative">
    <div class="flex-1">
      <svg width="20px" height="20px" onclick="toggleNav();" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="toggle-nav svg-inline--fa fa-bars fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
    </div>
    <a id="name_wrapper" href="/">
      <picture>
        <source srcset="<%= image_url('teenmag.png') %>" media="(min-width: 800px)">
        <%= image_tag("teenmag_mobile.png", :data => {"loading" => "lazy"}, :id => "name") %>
      </picture>
    </a>
    <div class="social-media">
      <%= render "layouts/partials/social_media" %>
    </div>
  </div>
  <div class="border">
    <nav class="nav_article">
      <%= link_to "The Teen Magazine", root_path, class: "nav-title"%>
      <a class="link" href="/categories/student-life">Student Life</a>
      <a class="link" href="/categories/wellness">Wellness</a>
      <a class="link" href="/categories/beauty-style">Beauty & Style</a>
      <a class="link" href="/categories/culture">Culture</a>
      <a class="link" href="/categories/relationships">Relationships</a>
      <a class="link" href="/categories/lifestyle">Lifestyle</a>
      <a class="link" href="/categories/op-ed">Op-Ed</a>
      <a class="link" href="/apply">Apply</a>
      <%= link_to "Log in", get_profile_path, class: "link" %>
    </nav>
  </div>
</header>
