<header id="main_navigation" class="clearfix header-mobile">
  <div class="border">
    <div class="nav_wrapper">
      <nav class="nav_article">
        <div class="nav-title-wrapper nav-title">
          <%= link_to "The Teen Magazine", root_path %>
        </div>
         <% if current_user.editor? %>
            <%= link_to "Start an Article", new_post_path, class: "pt-4" %>
         <% elsif !current_user.partner %>
            <%= link_to "Pitch an Article", new_pitch_path, class: "pt-4" %>
         <% end %>
         <div class="dropdown">
           <% @profile_img = current_user.profile.exists? ? image_tag(current_user.profile.url(:square)) : image_tag("profile_image.jpg") %>
            <a class="mr-0 btn-floating btn-sm btn-block pt-0 dropdown-toggle btn-profile" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-dropdown-animation="off">
              <span
                id="dropdown-btn-content-wrapper"
                style="display: block; height: 100%;"
              >
                <svg width="20px" height="20px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
                <%= @profile_img %>
                <% if !(@notifications.eql? 0) %>
                  <span class="counter counter-sm" <% if @notifications < 10 %> style="padding: 2px 5px !important;" <% end %>><%= @notifications %></span>
                <% end %>
              </span>
            </a>
            <%= render "layouts/partials/writer-dropdown-menu" %>
         </div>
      </nav>
    </div>
  </div>
</header>
