<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Raptive Head Tag Manual -->
    <script data-no-optimize="1" data-cfasync="false">
    (function(w, d) {
      w.adthrive = w.adthrive || {};
      w.adthrive.cmd = w.
      adthrive.cmd || [];
      w.adthrive.plugin = 'adthrive-ads-manual';
      w.adthrive.host = 'ads.adthrive.com';var s = d.createElement('script');
      s.async = true;
      s.referrerpolicy='no-referrer-when-downgrade';
      s.src = 'https://' + w.adthrive.host + '/sites/6581f45a00f9c812fa0bcb0c/ads.min.js?referrer=' + w.encodeURIComponent(w.location.href) + '&cb=' + (Math.floor(Math.random() * 100) + 1);
      var n = d.getElementsByTagName('script')[0];
      n.parentNode.insertBefore(s, n);
    })(window, document);
    </script>
    <!-- End of Raptive Head Tag -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9N2YD8CLJS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9N2YD8CLJS');
    </script>
    <meta name="p:domain_verify" content="b07db16852ac484ab4d32324394040a1"/>
    <%= favicon_link_tag 'logo.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <% if @post.present? %>
      <%= render 'layouts/partials/social_post_tags', post: @post %>
    <% end %>
    <% if @post.present? && @post.thumbnail.attached? %>
      <link rel="preload" as="image" href="<%= url_for(@post.thumbnail.variant(resize_to_fill: [1200, 845], format: 'webp')) %>">
    <% elsif @posts_approved_0.present? && @posts_approved_0[0].thumbnail.attached? %>
      <link rel="preload" as="image" href="<%= url_for(@posts_approved_0[0].thumbnail.variant(resize_to_fill: [1200, 845], format: 'webp')) %>">
    <% end %>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= stylesheet_link_tag 'application'  %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'layout', cache: false %>
    <% if params[:controller].eql? 'posts' %>
        <%= javascript_include_tag 'hidesocialmedia', cache: false %>
    <% end %>
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
  </head>
  <body <% if @post.present? && !@post.is_published? %> class='no-ads'<% end %>>
    <div id="site-wrapper">
      <%= render "layouts/partials/slide-in-menu" %>
      <%= render "layouts/partials/header-mobile" %>
      <div id="site-canvas">
        <div class="bodywrapper">
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if @comment %>
            <%= render "posts/draft_feedback" %>
          <% end %>
          <%= render "layouts/partials/header" %>
          <%= yield %>
          <%= content_for :render_async %>
        </div>
      </div>
      <div class="toggle-nav" onclick="toggleNav();" id="navigation_overlay"></div>
      <%= render "layouts/partials/footer" %>
    </div>
  </body>
</html>
