<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="p:domain_verify" content="b07db16852ac484ab4d32324394040a1"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="icon" href="https://i.ibb.co/TBp2fyD/logot-2.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Kameron:700|Vollkorn:700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4566416931763342",
        enable_page_level_ads: true
      });
    </script>
    <!-- Ezoic Code -->
    	<script>var ezoicId = 187539;</script>
    	<script type="text/javascript" src="//go.ezoic.net/ezoic/ezoic.js"></script>
    <!-- Ezoic Code -->
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2099586743677741');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2099586743677741&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  </head>
  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
      <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-4986861624955300">
    </amp-auto-ads>
    <div id="site-wrapper">
      <%= render "layouts/partials/slide-in-menu" %>
      <div id="site-canvas">
        <div class="bodywrapper">
          <header id="main_navigation" class="clearfix">
            <div id="banner">
              <i class="fa fa-bars toggle-nav"></i>
              <a id="name_wrapper" href="/"><%= image_tag "teenmag.png", id: "name" %></a>
              <div class="social-media">
                <a class="link" href="https://www.facebook.com/theteenmagazinee/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="false"></i></a>
                <a class="link" href="https://www.pinterest.com/theteenmagazine_/" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a>
                <a class="link" href="https://twitter.com/TheTeenMagazin_" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
                <a class="link" href="https://www.instagram.com/theteenmagazine_" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
              </div>
            </div>
            <div class="border">
              <nav class="nav_article">
                <%= link_to "The Teen Magazine", root_path, class: "nav-title"%>
                <a class="link" href="/categories/student-life">Student Life</a>
                <a class="link" href="/categories/wellness">Wellness</a>
                <a class="link" href="/categories/beauty-style">Beauty & Style</a>
                <a class="link" href="/categories/culture">Culture</a>
                <a class="link" href="/categories/relationships">Relationships</a>
                <a class="link" href="/categories/lifestyle">Lifestyle</a>
                <a class="link" href="/categories/op-ed">Op-Ed</a>
                <% if user_signed_in? %>
                  <%= link_to "Create", pitches_path, class: "link" %>
                  <%= link_to "Dashboard", user_path(current_user), class: "link" %>
                <% else %>
                    <a class="link" href="/apply">Apply</a>
                    <a class="link" href="/login">Log in</a>
                <% end %>
              </nav>
            </div>
          </header>
          <%= yield %>
        </div>
      </div>
      <div class="toggle-nav" id="navigation_overlay"></div>
      <%= render "layouts/partials/footer" %>
    </div>
    <script type="text/javascript">
      var vglnk = {key: 'b94b361d3afef20f64f14e9c76009b84'};
      (function(d, t) {
          var s = d.createElement(t);
              s.type = 'text/javascript';
              s.async = true;
              s.src = '//cdn.viglink.com/api/vglnk.js';
          var r = d.getElementsByTagName(t)[0];
              r.parentNode.insertBefore(s, r);
      }(document, 'script'));
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-89987071-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#252e39"
        },
        "button": {
          "background": "#14a7d0"
        }
      }
    });
    </script>
  </body>
</html>
