<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="icon" href="http://i1074.photobucket.com/albums/w412/mjohansson9/t_zpsbfp0cwb0.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Kameron:700|Vollkorn:700" rel="stylesheet">

    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="sidebar_menu hide_menu">
      <i class="fa fa-times"></i>
      <h1>The Teen Magazine</h1>
      <hr>
      <%= link_to "Home", root_path %>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Contact", new_contact_path %>
      <% if current_user && current_user.admin? %>
        <%= link_to "Users", users_path %>
      <% end %>
      <% if user_signed_in? %>
         <%= link_to "Dashboard", user_path(current_user) %>
         <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
     <% else %>
         <%= link_to "Apply", new_apply_path %>
      <% end %>
    </div>
    <div class="overflow">
      <div class="bodywrapper">
      <header id="main_navigation" class="clearfix">
        <div class="border">
          <div class="logo--flex">
            <i class="fa fa-bars toggle_menu"></i>
            <%=link_to(image_tag("http://i1074.photobucket.com/albums/w412/mjohansson9/imageedit_1_5659273426_zpswrtm8qvc.png", :class => "name"), root_path )%>
          </div>
          <nav>
            <%= link_to "Home", root_path %>
            <%= link_to "Articles", posts_path %>
            <%= link_to "Contact", new_contact_path %>
            <% if current_user && current_user.admin? %>
              <%= link_to "Users", users_path %>
            <% end %>
            <% if user_signed_in? %>
               <%= link_to "Dashboard", user_path(current_user) %>
               <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% else %>
               <%= link_to "Apply", new_apply_path %>
            <% end %>
            <a href="https://twitter.com/johanssonmia09" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
            <a href="https://www.instagram.com/miajohansson9" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
          </nav>
        </div>
      </header>

      <% if notice %>
        <p class="notice"><%= notice %></p>
        <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
      </div>
    </div>

    <footer id="main_footer">
      <p class="copyright">&copy; 2016 Mia Johansson</p>
      <nav>
        <a href="https://twitter.com/johanssonmia09" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
        <a href="https://www.instagram.com/miajohansson9" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
      </nav>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-89987071-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".fa-times").click(function() {
          $(".sidebar_menu").addClass("hide_menu");
          $(".sidebar_menu").addClass("opacity_one");
          $(".bodywrapper").removeClass("push");
          $(".bodywrapper").addClass("pushback");
        });

        $(".toggle_menu").click(function() {
          $(".sidebar_menu").removeClass("hide_menu");
          $(".sidebar_menu").removeClass("opacity_one");
          $(".bodywrapper").addClass("push");
          $(".bodywrapper").removeClass("pushback");
        });
      });
    </script>

  </body>
</html>
