<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="p:domain_verify" content="b07db16852ac484ab4d32324394040a1"/>
    <%= favicon_link_tag "logo.png" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" async="async" data-noptimize="1" data-cfasync="false" src="//scripts.mediavine.com/tags/the-teen-magazine.js"></script>
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
  </head>
  <body>
    <div id="site-wrapper">
      <%= render "layouts/partials/slide-in-menu" %>
      <%= render "layouts/partials/header-mobile" %>
      <div id="site-canvas">
        <div class="bodywrapper">
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <%= render "layouts/partials/header" %>
          <%= yield %>
          <%= content_for :render_async %>
        </div>
      </div>
      <div class="toggle-nav" onclick="toggleNav();" id="navigation_overlay"></div>
      <%= render "layouts/partials/footer" %>
    </div>
    <%= javascript_include_tag "layout" %>
  </body>
</html>
