<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="p:domain_verify" content="b07db16852ac484ab4d32324394040a1"/>
    <link rel="icon" href="https://i.ibb.co/TBp2fyD/logot-2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:700" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/9fbc74da52.js"></script>
    <script src="https://kit.fontawesome.com/f816369528.js" crossorigin="anonymous"></script>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'mdbootstrap/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'mdbootstrap/css/mdb.min.css' %>
    <%= stylesheet_link_tag 'mdbootstrap/css/style.css' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <script data-ad-client="ca-pub-4566416931763342" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2099586743677741');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2099586743677741&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-4986861624955300">
    </amp-auto-ads>
    <div id="site-wrapper">
      <%= render "layouts/partials/slide-in-menu" %>
      <div id="site-canvas">
        <!-- <div class="banner_stts_relative">
          <p class= "banner_stts" style="background-color: #F0255E;">The Teen Magazine's September 2020 issue has been released! Download it for free <%= link_to("here", "/subscribe", class: "link_white", target: "_blank") %>.</p>
        </div> -->
        <div class="bodywrapper">
          <header id="main_navigation" class="clearfix">
            <div id="banner">
              <i class="fa fa-bars toggle-nav" onclick="toggleNav();"></i>
              <a id="name_wrapper" href="/"><%= image_tag "teenmag.png", id: "name" %></a>
              <div class="social-media">
                <a class="link" href="https://www.facebook.com/theteenmagazinee/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="false"></i></a>
                <a class="link" href="https://www.pinterest.com/theteenmagazine_/" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a>
                <a class="link" href="https://twitter.com/TheTeenMagazin_" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
                <a class="link" href="https://www.instagram.com/theteenmagazine_" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
                <a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="border">
              <nav class="nav_article">
                <%= link_to "The Teen Magazine", root_path, class: "nav-title"%>
                <a class="link" href="/categories/student-life">Student Life</a>
                <a class="link" href="/categories/wellness">Wellness</a>
                <a class="link" href="/categories/beauty-style">Beauty & Style</a>
                <a class="link" href="/categories/culture">Culture</a>
                <a class="link" href="/categories/relationships">Relationships</a>
                <a class="link" href="/categories/lifestyle">Lifestyle</a>
                <a class="link" href="/categories/op-ed">Op-Ed</a>
                <% if user_signed_in? %>
                  <%= link_to "Create", pitches_path, class: "link" %>
                  <%= link_to "Dashboard", user_path(current_user), class: "link" %>
                <% else %>
                    <a class="link" href="/apply">Apply</a>
                    <a class="link" href="/login">Log in</a>
                <% end %>
              </nav>
            </div>
          </header>
          <%= yield %>
        </div>
      </div>
      <div class="toggle-nav" onclick="toggleNav();" id="navigation_overlay"></div>
      <%= render "layouts/partials/footer" %>
    </div>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-89987071-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      $('document').ready(function() {
        setTimeout(function() {
          $('.notice').slideUp();
        }, 1500);
      });
    </script>
  </body>
</html>
