<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://i.ibb.co/TBp2fyD/logot-2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'onboarding', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>
  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
      <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div id="site-wrapper">
      <%= render "layouts/partials/slide-in-menu" %>
      <div id="site-canvas">
        <div class="bodywrapper">
          <header id="main_navigation" class="clearfix minimal_banner">
            <div id="banner">
              <i class="fa fa-bars toggle-nav"></i>
              <a id="name_wrapper" href="/"><%= image_tag "teenmag.png", id: "name" %></a>
              <div class="social-media">
                <a class="link" href="https://www.facebook.com/theteenmagazinee/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="false"></i></a>
                <a class="link" href="https://www.pinterest.com/theteenmagazine_/" target="_blank"><i class="fa fa-pinterest" aria-hidden="false"></i></a>
                <a class="link" href="https://twitter.com/TheTeenMagazin_" target="_blank"><i class="fa fa-twitter" aria-hidden="false"></i></a>
                <a class="link" href="https://www.instagram.com/theteenmagazine_" target="_blank"><i class="fa fa-instagram" aria-hidden="false"></i></a>
              </div>
            </div>
            <div class="border">
              <div class="nav_wrapper">
                <nav class="nav_article">
                  <%= link_to "The Teen Magazine", root_path, class: "nav-title"%>
                  <% if user_signed_in? %>
                     <%= link_to "Create", pitches_path, class: "link" %>
                     <% if current_user && (current_user.admin? || current_user.editor?) %>
                       <%= link_to "Edit", reviews_path, class: "link" %>
                       <%= link_to "Writers", users_path, class: "link" %>
                     <% end %>
                     <%= link_to "Dashboard", user_path(current_user), class: "link" %>
                     <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "link" %>
                  <% else %>
                      <a class="link" href="/contact-us">Contact</a>
                      <a class="link" href="/apply">Apply</a>
                  <% end %>
                </nav>
              </div>
            </div>
          </header>
          <%= yield %>
        </div>
      </div>
      <div class="toggle-nav" id="navigation_overlay"></div>
      <%= render "layouts/partials/footer" %>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-89987071-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
